{% load i18n %}
<div class="create-email-block">
  <h3 class="create-email-block__list-header">{% translate "judgment.email_submitter.header" %}</h3>
  <ul class="create-email-block__list">
    <li class="create-email-block__list-link"><a href="{{ context.email_raise_issue_link }}">{% translate "judgment.email_submitter.issue" %}</a></li>
    <li class="create-email-block__list-link"><a href="{{ context.email_confirmation_link }}">{% translate "judgment.email_submitter.confirm" %}</a></li>
  </ul>
</div>
