<div class="create-email-block">
    <h3 class="create-email-block__list-header">Create an email to</h3>
    <ul class="create-email-block__list">
        <li class="create-email-block__list-link"><a href="mailto:? &subject=Issue(s) found with TDR number here &body=this is an area to add text">Raise issue(s) to submitter</a></li>
        <li class="create-email-block__list-link"><a href="mailto:? &subject=Published ref TDR number here &body=Dear ... We are pleased to inform you judgment with consignment ...">Confirm publication</a></li>
    </ul>
</div>