{% load i18n %}
<aside class="create-email-block">
  <h4 class="create-email-block__list-header">{% translate "judgment.email_submitter.header" %}</h4>
  <ul class="create-email-block__list">
    <li class="create-email-block__list-link">
      <a href="{{ context.email_raise_issue_link }}">{% translate "judgment.email_submitter.issue" %}</a>
    </li>
    {% if context.judgment.is_published %}
      <li class="create-email-block__list-link">
        <a href="{{ context.email_confirmation_link }}">{% translate "judgment.email_submitter.confirm" %}</a>
      </li>
    {% endif %}
  </ul>
</aside>
