<div class="create-email-block"  style="border: 2px #FFB952 solid; display: inline-block; padding: 0px 10px 0px 0px; margin: 0px 0px 0px 100px;">
    <h3 style="padding-left:10px; margin: 10px 0px 0px 0px;">Create an email to</h3>
    <ul style="list-style: none; padding-left: 10px; margin-top: 5px;">
        <li style="padding-bottom: 5px"><a href="mailto:? &subject=Issues found with TDR number here &body=this is an area to add text">Raise issue(s) to submitter</a></li>
        <li style="padding-bottom: 5px"><a href="mailto:? &subject=Published ref TDR number here &body=Dear ... We are pleased to inform you judgment with consignment ...">Confirm publication</a></li>
    </ul>
</div>