{% load i18n %}
<footer class="judgments-footer">
  <div class="judgments-footer__container">
    <h2 class="judgments-footer__heading">Footer</h2>
    <p>
      Something wrong with this page?
      <a target="_blank"
         rel="noreferrer noopener"
         href="https://docs.google.com/forms/d/e/1FAIpQLSckmLdeUAEoEoBc55ybFVmOsXPEM7CG2VbN2YNwsX6kL9UZ4Q/viewform?usp=pp_url&entry.481919886={{ request.build_absolute_uri|urlencode }}">Report a problem to the digital team</a>.
    </p>
  </div>
</footer>
