{% load i18n status_tag_css%}

<div class="judgment-sidebar__block">

  <h4>Status</h4>

  <ul class="items">
    <li><span class="judgment-status-indicator judgment-status-indicator--{{ context.judgment.status | status_tag_colour }}">{{ context.judgment.status }}</span></li>
  </ul>

  <h4>Submission</h4>

  <dl class="items">
    <dt class="judgment-sidebar__label">{% translate "judgments.submitter" %}:</dt>
    <dd>{{ context.judgment.source_name }}</dd>
    <dt class="judgment-sidebar__label">{% translate "judgments.submitteremail" %}:</dt>
    <dd><a href="mailto:{{ context.judgment.source_email }}">{{ context.judgment.source_email }}</a></dd>
    <dt class="judgment-sidebar__label">{% translate "judgments.consignmentref" %}:</dt>
    <dd>{{ context.judgment.consignment_reference }}</dd>
  </dl>

</div>

<div class="judgment-sidebar__block">

  <h4>Tools</h4>
  <ul>
    <li><a href="{{ context.jira_create_link }}" target="_blank" rel="noopener noreferrer">{% translate "judgment.create_in_jira" %}</a></li>
    <li><a href="{% url 'unlock' %}?judgment_uri={{context.judgment_uri}}">{% translate "judgment.unlock_judgment_title" %}</a></li>
  </ul>

</div>

{% if feature_flag_assign_in_publish_sidebar %}
  <div class="judgment-sidebar__block">

    <h4>Assigned to</h4>
    <select class="judgment-component__assigned_to-input" name="assigned_to" id="assigned_to">
      <option value="" {% if context.judgment.assigned_to == "" %}selected{% endif %}>{% translate "judgments.noone" %}</option>
      {% for user in context.users %}
        <option value="{{user.name}}"{% if context.judgment.assigned_to == user.name %} selected{% endif %}>{{user.print_name}}</option>
      {% endfor %}
    </select>
  </div>
{% endif %}
