{% load i18n %}

<div class="judgment-sidebar__block">

  <h4>{% translate "judgments.sidebar.submission" %}</h4>

  <ul>
    <li><span class="judgment-sidebar__label">{% translate "judgments.submitter" %}:</span> {{ context.judgment.source_name }}</li>
    <li><span class="judgment-sidebar__label">{% translate "judgments.submitteremail" %}:</span> <a href="mailto:{{ context.judgment.source_email }}">{{ context.judgment.source_email }}</a></li>
    <li><span class="judgment-sidebar__label">{% translate "judgments.consignmentref" %}:</span> {{ context.judgment.consignment_reference }}</li>
  </ul>

</div>
<div class="judgment-sidebar__block">

  <h4>{% translate "judgments.sidebar.downloads" %}</h4>

  <ul>
    {% if context.judgment.docx_url %}
      <li><a href="{{ context.judgment.docx_url }}">{% translate "judgment.download_docx" %}</a></li>
    {% endif %}
    {% if context.judgment.pdf_url %}
      <li><a href="{{ context.judgment.pdf_url }}">{% translate "judgment.download_pdf" %}</a></li>
    {% endif %}
    <li><a href="{{ context.judgment.xml_url }}">{% translate "judgment.download_xml" %}</a></li>
  </ul>

</div>
<div class="judgment-sidebar__block">

  <h4>{% translate "judgments.sidebar.tools" %}</h4>
  <ul>
    <li><a href="{{ context.jira_create_link }}" target="_blank" rel="noopener noreferrer">{% translate "judgment.create_in_jira" %}</a></li>
    <li><a href="{% url 'unlock' %}?judgment_uri={{context.judgment_uri}}">{% translate "judgment.unlock_judgment_title" %}</a></li>
  </ul>

</div>
