{% load static i18n status_tag_css %}
<li class="judgments-list__judgment">
  <div class="judgments-list__judgment-details">
    <div class="judgments-list__judgment-details-name">
      <a href="{% url 'full-text-html' item.uri %}">
        {% if not item.failed_to_parse %}
          {{ item.name | default:"[Untitled Document]" }}
        {% else %}
          <span class="judgments-list__failed">Failed to parse:</span> {{ item.uri }}
        {% endif %}
      </a>
    </div>
    <ul class="judgments-list__judgment-details-meta">
      <li class="judgments-list__judgment-details-submitted-mobile">
        <span class="judgments-list__judgment-details-meta-key">Submitted</span>
        <span class="judgments-list__judgment-details-meta-value">{{ item.metadata.submission_datetime |date:"j M Y H:i" }}</span>
      </li>
      <li>
        <span class="judgments-list__judgment-details-meta-key">NCN</span>
        <span class="judgments-list__judgment-details-meta-value">{{ item.neutral_citation }}</span>
      </li>
      <li>
        <span class="judgments-list__judgment-details-meta-key">Submitter</span>
        <span class="judgments-list__judgment-details-meta-value">{{ item.metadata.author }}</span>
      </li>
      <li>
        <span class="judgments-list__judgment-details-meta-key">Court</span>
        <span class="judgments-list__judgment-details-meta-value">{{ item.court.name }}</span>
      </li>
      <li>
        <span class="judgments-list__judgment-details-meta-key">Status</span>
        <span class="judgments-list__judgment-details-meta-value">
          {% include "includes/status_tag.html" with status=item.metadata.editor_status compact=True %}
        </span>
      </li>
      <li>
        <span class="judgments-list__judgment-details-meta-key">TDR ref</span>
        <span class="judgments-list__judgment-details-meta-value">{{ item.metadata.consignment_reference }}</span>
      </li>
    </ul>
  </div>
  <div class="judgments-list__judgment-submitted">
    {{ item.metadata.submission_datetime|date:"j M Y" }}
    <br />
    {{ item.metadata.submission_datetime|time:"H:i" }}
  </div>
</li>
