{% load static i18n %}
<li class="judgments-list__judgment">
  <div class="judgments-list__judgment-details">
    <div class="judgments-list__judgment-details-name">
      <a href="{% url 'full-text-html' item.uri %}">
        {% if not item.is_failure %}
          {{ item.name | default:"[Untitled Judgment]" }}
        {% else %}
          <span class="judgments-list__failed">Failed processing:</span> {{ item.uri }}
        {% endif %}
      </a>
    </div>
    <ul class="judgments-list__judgment-details-meta">
      <li class="judgments-list__judgment-details-submitted-mobile">
        <span class="judgments-list__judgment-details-meta-key">{% translate "judgments.submission_datetime" %}</span>
        <span class="judgments-list__judgment-details-meta-value">{{ item.metadata.submission_datetime }}</span>
      </li>
      <li>
        <span class="judgments-list__judgment-details-meta-key">{% translate "judgments.consignmentref" %}</span>
        <span class="judgments-list__judgment-details-meta-value">{{ item.metadata.consignment_reference }}</span>
      </li>
      <li>
        <span class="judgments-list__judgment-details-meta-key">{% translate "judgments.ncn" %}</span>
        <span class="judgments-list__judgment-details-meta-value">{{ item.neutral_citation }}</span>
      </li>
      <li>
        <span class="judgments-list__judgment-details-meta-key">{% translate "judgments.court" %}</span>
        <span class="judgments-list__judgment-details-meta-value">{{ item.court.name }}</span>
      </li>
      <li>
        <span class="judgments-list__judgment-details-meta-key">{% translate "judgments.submitter" %}</span>
        <span class="judgments-list__judgment-details-meta-value">{{ item.metadata.author }}</span>
      </li>
      <li>
        <span class="judgments-list__judgment-details-meta-key">{% translate "judgments.editor_priority" %}</span>
        <span class="judgments-list__judgment-details-meta-value">
          <form action="{% url "prioritise" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="judgment_uri" value="{{ item.uri }}" />
            <select name="priority" id="editor_priority">
              <option value="low"
                      {% if item.metadata.editor_priority == "10" %}selected{% endif %}>
                Low
              </option>
              <option value="medium"
                      {% if item.metadata.editor_priority == "20" %}selected{% endif %}>
                Medium
              </option>
              <option value="high"
                      {% if item.metadata.editor_priority == "30" %}selected{% endif %}>
                High
              </option>
            </select>
            <input type="submit" name="submit" value="set priority" />
          </form>
        </span>
      </li>
      <li>
        <span class="judgments-list__judgment-details-meta-key">{% translate "judgments.editor_status" %}</span>
        <span class="judgments-list__judgment-details-meta-value">
          {{ item.metadata.editor_status }}
          {% if item.metadata.assigned_to %}
            <form action="{% if item.metadata.editor_hold == 'true' %}{% url 'unhold' %}{% else %}{% url 'hold' %}{% endif %}"
                  method="post">
              {% csrf_token %}
              <input type="hidden" name="judgment_uri" value="{{ item.uri }}" />
              <input type="submit"
                     name="submit"
                     value="{% if item.metadata.editor_hold == 'true' %}Release{% else %}Hold{% endif %} judgment"/>
            </form>
          {% endif %}
        </span>
      </li>
      <li class="judgments-list__judgment-details-assigned-mobile">
        <span class="judgments-list__judgment-details-meta-key">{% translate "judgments.assigned_to" %}</span>
        <span class="judgments-list__judgment-details-meta-value">
          {% if item.metadata.assigned_to %}
            <a href="{% url 'edit-judgment' item.uri %}#assigned_to">{{ item.metadata.assigned_to }}</a>
          {% else %}
            <form action="{% url "assign" %}"
                  method="post"
                  class="judgments-list__judgment-assign-form">
              {% csrf_token %}
              <input type="hidden" name="judgment_uri" value="{{ item.uri }}" />
              <input type="submit"
                     class="judgments-list__action-button"
                     name="assign"
                     value="Assign to me"/>
            </form>
          {% endif %}
        </span>
      </li>
    </ul>
  </div>
  <div class="judgments-list__judgment-submitted">
    {{ item.metadata.submission_datetime|date:"d M Y" }}
    <br />
    {{ item.metadata.submission_datetime|time:"h:i a" }}
  </div>
  <div class="judgments-list__judgment-assigned">
    {% if item.metadata.assigned_to %}
      <a href="{% url 'edit-judgment' item.uri %}#assigned_to">{{ item.metadata.assigned_to }}</a>
    {% else %}
      <form action="{% url "assign" %}"
            method="post"
            class="judgments-list__judgment-assign-form">
        {% csrf_token %}
        <input type="hidden" name="judgment_uri" value="{{ item.uri }}" />
        <input type="submit"
               class="judgments-list__action-button"
               name="assign"
               value="Assign to me"/>
      </form>
    {% endif %}
  </div>
</li>
