{% load i18n %}
{% load waffle_tags %}
<div class="judgment-toolbar">
  <div class="judgment-toolbar__container">
    {% if request.args.origin == 'results' %}
      <div class="judgment-toolbar__return-link">
        <a href="{{ request.args.return_link }}">{% translate "judgment.toolbar.back" %}</a>
      </div>
    {% endif %}
    <div class="judgment-toolbar__edit">
      {% if feature_flag_embedded_pdfs %}
        {% if judgment.is_editable %}
          <a class="judgment-toolbar__button {% if view == 'judgment_metadata' %}button-cta{% else %}button-secondary{% endif %}"
             href="{% url 'edit-judgment' judgment.uri %}">
            {% translate "judgment.toolbar.edit_metadata" %}
          </a>
          <a class="judgment-toolbar__button {% if view == 'judgment_text' %}button-cta{% else %}button-secondary{% endif %}"
             href="{% url 'full-text-html' judgment.uri %}">
            {% flag "publish_flow" %}
            {% translate "judgment.toolbar.review_document" %}
          {% else %}
            {% translate "judgment.toolbar.view_judgment" %}
          {% endflag %}
        </a>
      {% else %}
        <span class="judgment-toolbar__button button-secondary"
              aria-disabled="true">{% translate "judgment.toolbar.edit_metadata" %}</span>
        <span class="judgment-toolbar__button button-secondary"
              aria-disabled="true">
          {% flag "publish_flow" %}
          {% translate "judgment.toolbar.review_document" %}
        {% else %}
          {% translate "judgment.toolbar.view_judgment" %}
        {% endflag %}
      </span>
    {% endif %}
  {% else %}
    {% if judgment.is_editable %}
      <a class="judgment-toolbar__button {% if view == 'judgment_metadata' %}button-cta{% else %}button-secondary{% endif %}"
         href="{% url 'edit-judgment' judgment.uri %}">
        {% translate "judgment.toolbar.edit" %}
      </a>
      <a class="judgment-toolbar__button {% if view == 'judgment_text' %}button-cta{% else %}button-secondary{% endif %}"
         href="{% url 'full-text-html' judgment.uri %}">
        {% translate "judgment.toolbar.view_html" %}
      </a>
    {% else %}
      <span class="judgment-toolbar__button button-secondary"
            aria-disabled="true">{% translate "judgment.toolbar.edit" %}</span>
      <span class="judgment-toolbar__button" aria-disabled="true">{% translate "judgment.toolbar.view_html" %}</span>
    {% endif %}
  {% endif %}
  {% flag "hold_flow" %}
  {% if judgment.is_published %}
    <span class="judgment-toolbar__button button-secondary"
          aria-disabled="true">{% translate "judgment.toolbar.hold" %}</span>
  {% else %}
    {% if judgment.is_held %}
      <a class="judgment-toolbar__button {% if view == 'hold_judgment' %}button-cta{% else %}button-secondary{% endif %}"
         href="{% url 'unhold-judgment' judgment.uri %}">
        {% translate "judgment.toolbar.unhold" %}
      </a>
    {% else %}
      <a class="judgment-toolbar__button {% if view == 'hold_judgment' %}button-cta{% else %}button-secondary{% endif %}"
         href="{% url 'hold-judgment' judgment.uri %}">
        {% translate "judgment.toolbar.hold" %}
      </a>
    {% endif %}
  {% endif %}
{% endflag %}
{% flag "publish_flow" %}
{% if judgment.is_published %}
  <a class="judgment-toolbar__button {% if view == 'publish_judgment' %}button-cta{% else %}button-secondary{% endif %}"
     href="{% url 'unpublish-judgment' judgment.uri %}">
    {% translate "judgment.toolbar.unpublish" %}
  </a>
{% else %}
  {% if judgment.is_publishable %}
    <a class="judgment-toolbar__button {% if view == 'publish_judgment' %}button-cta{% else %}button-secondary{% endif %}"
       href="{% url 'publish-judgment' judgment.uri %}">
      {% translate "judgment.toolbar.publish" %}
    </a>
  {% else %}
    <span class="judgment-toolbar__button button-secondary"
          aria-disabled="true">{% translate "judgment.toolbar.publish" %}</span>
  {% endif %}
{% endif %}
{% endflag %}
{% if judgment.docx_url %}
  <a class="judgment-toolbar__button button-secondary"
     href="{{ judgment.docx_url }}">{% translate "judgment.toolbar.download_docx" %}</a>
{% else %}
  <span class="judgment-toolbar__button button-secondary"
        aria-disabled="true">{% translate "judgment.toolbar.download_docx" %}</span>
{% endif %}
{% if not feature_flag_embedded_pdfs %}
  {% if judgment.pdf_url %}
    <a class="judgment-toolbar__button button-secondary"
       href="{{ judgment.pdf_url }}">{% translate "judgment.toolbar.download_pdf" %}</a>
  {% else %}
    <span class="judgment-toolbar__button button-secondary"
          aria-disabled="true">{% translate "judgment.toolbar.download_pdf" %}</span>
  {% endif %}
{% endif %}
{% if judgment.is_published %}
  <a class="judgment-toolbar__button button-secondary"
     href="{{ judgment.public_uri }}"
     target="_blank"
     rel="noopener noreferrer">
    {% translate "judgment.toolbar.view_on_public" %}
  </a>
{% else %}
  <span class="judgment-toolbar__button button-secondary"
        aria-disabled="true">{% translate "judgment.toolbar.view_on_public" %}</span>
{% endif %}
{% if judgment.is_failure %}
  <form action="{% url "delete" %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="judgment_uri" value="{{ judgment.uri }}" />
    <input type="submit"
           name="assign"
           class="button-secondary judgment-toolbar__delete"
           value="{% translate "judgment.toolbar.delete" %}"/>
  </form>
{% endif %}
</div>
{% if version %}
  <div class="judgment-toolbar__version">
    <b>You are viewing version {{ version }} of this Judgment.</b>
  </div>
{% endif %}
</div>
</div>
