{% load i18n %}
{% load waffle_tags %}
<div class="judgment-toolbar">
  <div class="judgment-toolbar__container">
    {% if request.args.origin == 'results' %}
      <div class="judgment-toolbar__return-link">
        <a href="{{ request.args.return_link }}">
          {% translate "judgment.toolbar.back" %}
        </a>
      </div>
    {% endif %}
    <div class="judgment-toolbar__edit">

      {% if feature_flag_embedded_pdfs %}
        {% if context.judgment.is_editable %}
          {% flag "publish_flow" %}
          {% else %}
            <a class="judgment-toolbar__button{% if context.view == 'judgment_metadata' %} judgment-toolbar__button-selected{% endif %}" href="{% url 'edit-judgment' context.judgment.uri %}">
              {% translate "judgment.toolbar.edit_metadata" %}
            </a>
          {% endflag %}
          <a class="judgment-toolbar__button{% if context.view == 'judgment_text' %} judgment-toolbar__button-selected{% endif %}" href="{% url 'full-text-html' context.judgment.uri %}">
            {% flag "publish_flow" %}
              {% translate "judgment.toolbar.review_document" %}
            {% else %}
              {% translate "judgment.toolbar.view_judgment" %}
            {% endflag %}
          </a>
        {% else %}
          {% flag "publish_flow" %}
          {% else %}
            <span class="judgment-toolbar__button" aria-disabled="true">
              {% translate "judgment.toolbar.edit_metadata" %}
            </span>
          {% endflag %}
          <span class="judgment-toolbar__button" aria-disabled="true">
            {% flag "publish_flow" %}
              {% translate "judgment.toolbar.review_document" %}
            {% else %}
              {% translate "judgment.toolbar.view_judgment" %}
            {% endflag %}
          </span>
        {% endif %}
      {% else %}
        {% if context.judgment.is_editable %}
          <a class="judgment-toolbar__button{% if context.view == 'judgment_metadata' %}  judgment-toolbar__button-selected{% endif %}" href="{% url 'edit-judgment' context.judgment.uri %}">
            {% translate "judgment.toolbar.edit" %}
          </a>
          <a class="judgment-toolbar__button{% if context.view == 'judgment_text' %} judgment-toolbar__button-selected{% endif %}" href="{% url 'full-text-html' context.judgment.uri %}">
            {% translate "judgment.toolbar.view_html" %}
          </a>
        {% else %}
          <span class="judgment-toolbar__button" aria-disabled="true">
            {% translate "judgment.toolbar.edit" %}
          </span>
          <span class="judgment-toolbar__button" aria-disabled="true">
            {% translate "judgment.toolbar.view_html" %}
          </span>
        {% endif %}
      {% endif %}

      {% flag "publish_flow" %}
      {% if context.judgment.is_published %}
        <a class="judgment-toolbar__button{% if context.view == 'publish_judgment' %} judgment-toolbar__button-selected{% endif %}" href="{% url 'unpublish-judgment' context.judgment.uri %}">
          {% translate "judgment.toolbar.unpublish" %}
        </a>
      {% else %}
        {% if context.judgment.is_publishable %}
          <a class="judgment-toolbar__button{% if context.view == 'publish_judgment' %} judgment-toolbar__button-selected{% endif %}" href="{% url 'publish-judgment' context.judgment.uri %}">
            {% translate "judgment.toolbar.publish" %}
          </a>
        {% else %}
          <span class="judgment-toolbar__button" aria-disabled="true">
            {% translate "judgment.toolbar.publish" %}
          </span>
        {% endif %}
      {% endif %}
      {% endflag %}

      {% if context.judgment.docx_url %}
        <a class="judgment-toolbar__button" href="{{ context.judgment.docx_url }}">
          {% translate "judgment.toolbar.download_docx" %}
        </a>
      {% else %}
        <span class="judgment-toolbar__button" aria-disabled="true">
          {% translate "judgment.toolbar.download_docx" %}
        </span>
      {% endif %}

      {% if not feature_flag_embedded_pdfs %}
        {% if context.judgment.pdf_url %}
          <a class="judgment-toolbar__button" href="{{ context.judgment.pdf_url }}">
            {% translate "judgment.toolbar.download_pdf" %}
          </a>
        {% else %}
          <span class="judgment-toolbar__button" aria-disabled="true">
            {% translate "judgment.toolbar.download_pdf" %}
          </span>
        {% endif %}
      {% endif %}

      {% if context.judgment.is_published %}
        <a class="judgment-toolbar__button" href="{{ context.judgment.public_uri }}" target="_blank" rel="noopener noreferrer">
          {% translate "judgment.toolbar.view_on_public" %}
        </a>
      {% else %}
        <span class="judgment-toolbar__button" aria-disabled="true">
          {% translate "judgment.toolbar.view_on_public" %}
        </span>
      {% endif %}

      {% if context.judgment.is_failure %}
        <form action="/delete" method="post">
          {% csrf_token %}
          <input
            type="hidden"
            name="judgment_uri"
            value="{{ context.judgment.uri }}"
          />
          <input
            type="submit"
            name="assign"
            value="{% translate 'judgment.toolbar.delete' %}"
          />
        </form>
      {% endif %}

    </div>
    {% if context.version %}
      <div class="judgment-toolbar__version">
        <b>You are viewing version {{ context.version }} of this Judgment.</b>
      </div>
    {% endif %}
  </div>
</div>
