{% load i18n %}
{% if feature_flag_embedded_pdfs %}
  <div class="judgment-toolbar__container" style="margin: 0.5rem auto">
    <a class="judgment-toolbar__button{% if view == 'html' %} judgment-toolbar__button-selected{% endif %}"
       href="{% url 'full-text-html' judgment_uri %}">
      {% translate "judgment.view_control.html" %}
    </a>
    {% if judgment.pdf_url %}
      <a class="judgment-toolbar__button{% if view == 'pdf' %} judgment-toolbar__button-selected{% endif %}"
         href="{% url 'full-text-pdf' judgment.uri %}">
        {% translate "judgment.view_control.pdf" %}
      </a>
    {% else %}
      <span class="judgment-toolbar__button" aria-disabled="true">{% translate "judgment.view_control.pdf" %}</span>
    {% endif %}
  </div>
{% endif %}
