{% load i18n %}
{% load waffle_tags %}

<div class="metadata-header__block">
  <div class="metadata-component">

    <form aria-label="Edit judgment" method="post" action="{% url 'edit-judgment' context.judgment.uri%}">
      {% csrf_token %}
      <input type="hidden" name="return_to" value="{{ return_to }}">
      <div class="metadata-component_container">
        <div class="metadata-component__ncn">
          <label for="neutral_citation" class="metadata-component__main-labels">{% translate "judgment.neutral_citation" %}</label>
          <input type="text" class="metadata-component__neutral_citation-input" value="{{ context.judgment.neutral_citation }}" name="neutral_citation" id="neutral_citation" />
        </div>
        <div class="metadata-component__court">
          <label for="court" class="metadata-component__main-labels">{% translate "judgment.court" %}</label>
          <input type="text" class="metadata-component__court-input" value="{{ context.judgment.court }}" name="court" id="court" list="court-ids"/>
          <datalist id="court-ids">
            {% for court in context.courts %}
              <option value="{{ court.code }}">{{court.name}}</option>
            {% endfor %}
          </datalist>
        </div>
        <div class="metadata-component__date">
          <label for="judgment_date" class="metadata-component__main-labels">{% translate "judgment.judgment_date" %}</label>
          <input type="text" class="metadata-component__judgment_date-input" value="{{ context.judgment.judgment_date_as_string }}" name="judgment_date" id="judgment_date" />
        </div>
      </div>
      <div class="metadata-component_container">
        <div class="metadata-component__panel">
          <label for="metadata_name" class="metadata-component__main-labels">{% translate "judgment.judgment_name" %}</label>
          <textarea class="metadata-component__metadata_name-input" name="metadata_name" id="metadata_name" rows="2">{{ context.judgment.name }}</textarea>
        </div>

        <div class="metadata-component__tdr">
          <aside class="metadata-component__tdr-label">
            {% translate "judgments.consignmentref" %} {{context.judgment_uri}}
          </aside>
        </div>
        <div class="metadata-component__actions">
          <input type="hidden" name="judgment_uri" value="{{context.judgment_uri}}"/>
          <input type="submit" value="Save"/>
        </div>
      </div>
    </form>

  </div>
</div>
