{% load navigation_tags %}
{% get_navigation_items as navigation_items %}
<ul class="judgment-navigation">
  {% for item in navigation_items %}
    <li class="judgment-navigation__item {% if item.selected %}judgment-navigation__item--active{% endif %} {% if not item.url %}judgment-navigation__item--disabled{% endif %}">
      {% if item.url %}
        <a href="{{ item.url }}">{{ item.label }}</a>
      {% else %}
        <span>{{ item.label }}</span>
      {% endif %}
    </li>
  {% endfor %}
</ul>
