{% load i18n %}

<div class="publish-sidebar__block">

  <h4>Submission</h4>

  <ul>
    <li><span class="judgment-sidebar__label">{% translate "judgments.submitter" %}:</span> {{ context.judgment.source_name }}</li>
    <li><span class="judgment-sidebar__label">{% translate "judgments.submitteremail" %}:</span> <a href="mailto:{{ context.judgment.source_email }}">{{ context.judgment.source_email }}</a></li>
    <li><span class="judgment-sidebar__label">{% translate "judgments.consignmentref" %}:</span> {{ context.judgment.consignment_reference }}</li>
  </ul>

</div>
<div class="publish-sidebar__block">

  <h4>Tools</h4>
  <ul>
    <li><a href="{{ context.jira_create_link }}" target="_blank" rel="noopener noreferrer">{% translate "judgment.create_in_jira" %}</a></li>
    <li><a href="{% url 'unlock' %}?judgment_uri={{context.judgment_uri}}">{% translate "judgment.unlock_judgment_title" %}</a></li>
  </ul>

</div>

<h4>Assigned to</h4>
    <select class="publish-component__assigned_to-input" name="assigned_to" id="assigned_to">
      <option value="" {% if context.judgment.assigned_to == "" %}selected{% endif %}>{% translate "judgments.noone" %}</option>
      {% for user in context.users %}
        <option value="{{user.name}}"{% if context.judgment.assigned_to == user.name %} selected{% endif %}>{{user.print_name}}</option>
      {% endfor %}
    </select>
 </div>
