{% load static i18n %}

<div class="recent-judgments">
  <div class="recent-judgments__container">
    <h2 id="recently-published-judgments" class="recent-judgments__header">{% translate "home.recent" %}</h2>
    <ul class="recent-judgments__list">
      {% for item in context.recent_judgments %}
        <li class="recent-judgments__judgment">
          <span>
            <span class="recent-judgments__title">
              <a href="{% url 'detail' %}?judgment_uri={{item.uri}}">
                {{ item.name }}
              </a>
            </span>
            <span class="recent-judgments__neutralcitation">
              {{ item.neutral_citation }}
            </span>
          </span>
          <span>
            <span class="recent-judgments__date">
              {% translate "judgments.date" %} {{ item.date }}
            </span>
            <span class="recent-judgments__court">
              {% translate "judgments.court" %} {{ item.court }}
            </span>
             <span class="recent-judgments__submitter">
              {% translate "judgments.submitter" %} {{ item.meta.author }}
            </span>
            <span class="recent-judgments__submitteremail">
              {% translate "judgments.submitteremail" %} {{  item.meta.author_email }}
            </span>
            <span class="recent-judgments__submissiondate">
              {% translate "judgments.submissiondate" %} {{ item.meta.submission_datetime }}
            </span>
            <span class="recent-judgments__consignmentrefence">
              {% translate "judgments.consignmentref" %} {{ item.meta.consignment_reference }}
            </span>
          </span>
        </li>
      {% endfor %}
    </ul>
    <p class="recent-judgments__more-info"><a href="{% url 'results' %}">{% translate "judgments.allrecent" %}</a></p>
  </div>
</div>
