<div class="tabs-set {% if javascript_enabled %}with-js{% endif %}">
  <form>
    {% for tab in tabs %}
      <div class="tabs-set__item">
        <input type="radio"
               id="tab-{{ tab.id }}"
               name="{{ name|default:"tabs-set" }}"
               value="{{ forloop.counter }}"
               {% if tab.selected %}checked{% endif %}
               {% if not tab.url %}disabled{% endif %} />
        <label for="tab-{{ tab.id }}">
          <a href="{{ tab.url }}">{{ tab.label }}</a>
        </label>
      </div>
    {% endfor %}
    <div class="tabs-set__divider"></div>
  </form>
</div>
