<div class="tabs-set {% if javascript_enabled %}with-js{% endif %}">
  {% for tab in tabs %}
    <div class="tabs-set__item">
      <input type="radio"
             id="tab{{ forloop.counter }}"
             name="{{ name|default:"tabs-set" }}"
             value="{{ forloop.counter }}"
             {% if tab.selected %}checked{% endif %} />
      <label for="tab{{ forloop.counter }}">
        <a href="{{ tab.url }}">{{ tab.label }}</a>
      </label>
    </div>
  {% endfor %}
  <div class="tabs-set__divider"></div>
</div>
