{% load static i18n %}

<div class="unpublished-judgments">
  <div class="unpublished-judgments__container">

    <div class="unpublished-judgments__unpublished-judgments-controls-container">
      <div class="results__result-header">
        <p id="recently-published-judgments" class="unpublished-judgments__header">{% translate "home.recent" %}: {{ context.count_judgments }} </p>
      </div>
      {% include 'includes/unpublished_judgments_controls.html' %}
    </div>
    <div class="unpublished-judgments__table">
      <div class="unpublished-judgments__table-header">
        <div class="unpublished-judgments__table-header-details">
          {% translate "judgments.details" %}
        </div>
        <div class="unpublished-judgments__table-header-submitted">
          {% translate "judgments.submission_datetime" %}
        </div>
        <div class="unpublished-judgments__table-header-assigned">
          {% translate "judgments.submission_assigned" %}
        </div>
      </div>
      <ul class="unpublished-judgments__list">
        {% for item in context.recent_judgments %}
          <li class="unpublished-judgments__judgment">
            <div class="unpublished-judgments__judgment-details">
              <div class="unpublished-judgments__judgment-details-name">
                <a href="{% url 'detail' %}?judgment_uri={{item.uri}}">
                  {% if not item.is_failure %}
                    {{ item.name | default:"[Untitled Judgment]"}}
                  {% else %}
                    <span class="unpublished-judgments__failed">Failed processing:</span> {{item.uri}}
                  {% endif %}
                </a>
              </div>
              <ul class="unpublished-judgments__judgment-details-meta">
                <li class="unpublished-judgments__judgment-details-submitted-mobile">
                  <span class="unpublished-judgments__judgment-details-meta-key">
                    {% translate "judgments.submission_datetime" %}
                  </span>
                  <span class="unpublished-judgments__judgment-details-meta-value">
                    {{ item.meta.submission_datetime  }}
                  </span>
                </li>
                <li>
                  <span class="unpublished-judgments__judgment-details-meta-key">
                    {% translate "judgments.consignmentref" %}
                  </span>
                  <span class="unpublished-judgments__judgment-details-meta-value">
                    {{ item.meta.consignment_reference }}
                  </span>
                </li>
                <li>
                  <span class="unpublished-judgments__judgment-details-meta-key">
                    {% translate "judgments.ncn" %}
                  </span>
                  <span class="unpublished-judgments__judgment-details-meta-value">
                    {{ item.neutral_citation }}
                  </span>
                </li>
                <li>
                  <span class="unpublished-judgments__judgment-details-meta-key">
                    {% translate "judgments.court" %}
                  </span>
                  <span class="unpublished-judgments__judgment-details-meta-value">
                    {{ item.court }}
                  </span>
                </li>
                <li>
                  <span class="unpublished-judgments__judgment-details-meta-key">
                    {% translate "judgments.submitter" %}
                  </span>
                  <span class="unpublished-judgments__judgment-details-meta-value">
                    {{ item.meta.author }}
                  </span>
                </li>
                <li>
                  <span class="unpublished-judgments__judgment-details-meta-key">
                    {% translate "judgments.editor_priority" %}
                  </span>
                  <span class="unpublished-judgments__judgment-details-meta-value">
                    <form action="/prioritise" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="judgment_uri" value="{{item.uri}}">
                      <select name="priority" id="editor_priority">
                        <option value="low" {% if item.meta.editor_priority == "10" %}selected{% endif %}>Low</option>
                        <option value="medium" {% if item.meta.editor_priority == "20" %}selected{% endif %}>Medium</option>
                        <option value="high" {% if item.meta.editor_priority == "30" %}selected{% endif %}>High</option>
                      </select>
                      <input type="submit" name="submit" value="set priority">
                    </form>
                  </span>
                </li>
                <li>
                  <span class="unpublished-judgments__judgment-details-meta-key">
                    {% translate "judgments.editor_status" %}
                  </span>
                  <span class="unpublished-judgments__judgment-details-meta-value">
                    {{item.meta.editor_status}}
                    {% if item.meta.assigned_to %}
                      <form action="/hold" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="judgment_uri" value="{{item.uri}}">
                        <input type="hidden" name="hold" value="{% if item.meta.editor_hold == 'true' %}false{% else %}true{% endif %}">
                        <input type="submit" name="submit" value="{% if item.meta.editor_hold == 'true' %}Release{% else %}Hold{% endif %} judgment">
                      </form>
                    {% endif %}
                  </span>
                </li>
                <li class="unpublished-judgments__judgment-details-assigned-mobile">
                  <span class="unpublished-judgments__judgment-details-meta-key">
                    {% translate "judgments.assigned_to" %}
                  </span>
                  <span class="unpublished-judgments__judgment-details-meta-value">
                    {% if item.meta.assigned_to %}
                      <a href="{% url 'edit' %}?judgment_uri={{item.uri}}#assigned_to">{{ item.meta.assigned_to }}</a>
                    {% else %}
                      <form action="/assign" method="post" class="unpublished-judgments__judgment-assign-form">
                        {% csrf_token %}
                        <input type="hidden" name="judgment_uri" value="{{item.uri}}">
                        <input type="submit" class="unpublished-judgments__action-button" name="assign" value="Assign to me">
                      </form>
                    {% endif %}
                  </span>
                </li>
              </ul>
            </div>
            <div class="unpublished-judgments__judgment-submitted">
              {{ item.meta.submission_datetime|date:"d M Y" }}
              <br />
              {{ item.meta.submission_datetime|time:"h:i a"}}
            </div>
            <div class="unpublished-judgments__judgment-assigned">
              {% if item.meta.assigned_to %}
                <a href="{% url 'edit' %}?judgment_uri={{item.uri}}#assigned_to">{{ item.meta.assigned_to }}</a>
              {% else %}
                <form action="/assign" method="post" class="unpublished-judgments__judgment-assign-form">
                  {% csrf_token %}
                  <input type="hidden" name="judgment_uri" value="{{item.uri}}">
                  <input type="submit" class="unpublished-judgments__action-button" name="assign" value="Assign to me">
                </form>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
      {% include 'includes/pagination.html' %}
      <p class="unpublished-judgments__more-info"><a href="{% url 'results' %}">{% translate "judgments.allrecent" %}</a></p>
    </div>
  </div>
</div>
