{% load static i18n %}
<div class="judgments-list">
  <div class="judgments-list__container">
    <div class="judgments-list__judgments-list-controls-container">
      <div class="results__result-header">
        <p id="recently-published-judgments" class="judgments-list__header">{{ total }} unpublished documents</p>
      </div>
    </div>
    <div class="judgments-list__table">
      {% include "includes/judgments_list_header.html" %}
      {% include "includes/judgments_list.html" with judgments=judgments %}
      {% include "includes/pagination.html" %}
    </div>
  </div>
</div>
