{% extends "account/base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Sign In" %}
{% endblock title %}

{% block account_content %}

  <h1>{% trans "Sign In" %}</h1>

  <form class="form" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <p>
      <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
      <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </p>
  </form>

{% endblock account_content %}
