#ds-cookie-consent-banner {
  .container {
    @include container;

    padding: $spacer__unit calc($spacer__unit * 2);
  }
}

#ds-cookie-consent-banner a {
  color: $color__white;
}

#ds-cookie-consent-banner .container #btn_preferences:hover,
#ds-cookie-consent-banner .container #btn_preferences:focus {
  background: none;
  border: 2px solid transparent;
}
