#ds-cookie-consent-banner {
  .container {
    @include container;

    padding: $space-4 $space-8;
  }
}

#ds-cookie-consent-banner a {
  color: colour-var("contrast-link");
}

#ds-cookie-consent-banner .container #btn-preferences:hover,
#ds-cookie-consent-banner .container #btn-preferences:focus {
  border: 2px solid transparent;
  background: none;
}
