<table>
  {% if structured_annotation.payload.tdr_reference %}
    <tr>
      <th scope"row">TDR Reference</th>
      <td>{{ structured_annotation.payload.tdr_reference }}</td>
    </tr>
  {% endif %}
  {% if structured_annotation.payload.submitter %}
    <tr>
      <th scope"row">Submitted by</th>
      <td>
        {{ structured_annotation.payload.submitter.name }} (<a href="mailto:{{ structured_annotation.payload.submitter.email }}">{{ structured_annotation.payload.submitter.email }}</a>)
      </td>
    </tr>
  {% endif %}
</table>
