{% extends "base.html" %}
{% load static i18n %}

{% block header %}
   <header class="page-header">
     {% include 'includes/breadcrumbs.html' with title="Delete a judgment" link=request.get_full_path current="Delete a judgment" %}
     {% include 'includes/logo.html' %}

    </header>
{% endblock header %}
{% block content %}
  <div class="delete-judgment">
    <p class="delete-judgment__confirmation">{% translate "judgment.deleted" %}</p>
    <a href="{% url 'home' %}">{% translate "judgment.return_home" %}</a>
  </div>

{% endblock content %}
