{% extends "layouts/judgment.html" %}
{% load waffle_tags %}

{% flag "metadata_header_block" %}
{% block header %}
  <div class="page-metadata-header">
    {% include 'includes/metadata_header.html' %}
  </div>
{% endblock header %}
{% endflag %}
{% block content %}
  {% if context.judgment_content %}
    {% if context.judgment.is_failure %}
      <pre>
        {{ context.judgment_content }}
      </pre>
    {% else %}
      {% autoescape off %}
        {{ context.judgment_content }}
      {% endautoescape %}
    {% endif %}
  {% else %}
    {{ content }}
  {% endif %}
{% endblock content %}
