{% extends "layouts/judgment_with_sidebar.html" %}
{% load waffle_tags %}
{% load i18n %}
{% block extra_sidebar_content %}
  <div class="judgment-sidebar__block">
    <h4>{% translate "judgments.sidebar.downloads" %}</h4>
    <ul>
      {% if judgment.docx_url %}
        <li>
          <a href="{{ judgment.docx_url }}">{% translate "judgment.download_docx" %}</a>
        </li>
      {% endif %}
      {% if judgment.pdf_url %}
        <li>
          <a href="{{ judgment.pdf_url }}">{% translate "judgment.download_pdf" %}</a>
        </li>
      {% endif %}
      <li>
        <a href="{% url 'full-text-xml' judgment.uri %}">{% translate "judgment.download_xml" %}</a>
      </li>
    </ul>
  </div>
{% endblock extra_sidebar_content %}
{% block judgment_content %}
  <form aria-label="Edit judgment" method="post">
    {% csrf_token %}
    <div class="edit-component__panel">
      <label class="edit-component__text-field-label" for="metadata_name">{% translate "judgment.judgment_name" %}</label>
      <input type="text"
             class="edit-component__metadata_name-input"
             value="{{ judgment.name }}"
             name="metadata_name"
             id="metadata_name"/>
    </div>
    <div class="edit-component__panel">
      <label class="edit-component__text-field-label" for="neutral_citation">
        {% translate "judgment.neutral_citation" %}
      </label>
      <input type="text"
             class="edit-component__neutral_citation-input"
             value="{{ judgment.neutral_citation }}"
             name="neutral_citation"
             id="neutral_citation"
             size="30"/>
    </div>
    <div class="edit-component__panel">
      <label class="edit-component__text-field-label" for="court">{% translate "judgment.court" %}</label>
      <input type="text"
             class="edit-component__court-input"
             value="{{ judgment.court }}"
             name="court"
             id="court"
             list="court-ids"
             size="40"/>
      <datalist id="court-ids">
        {% for court in courts %}
          <option value="{{ court.code }}">
            {{ court.name }}
          </option>
        {% endfor %}
      </datalist>
    </div>
    <div class="edit-component__panel">
      <label class="edit-component__text-field-label"
             for="judgment_date__text-field-label">
        {% translate "judgment.judgment_date" %}
      </label>
      <input type="text"
             class="edit-component__judgment_date-input"
             value="{{ judgment.judgment_date_as_string }}"
             name="judgment_date"
             id="judgment_date"/>
    </div>
    {% if not feature_flag_publish_flow %}
      <div class="edit-component__panel">
        <label class="edit-component__checkbox-label" for="published">{% translate "judgment.published" %}</label>
        <input type="checkbox"
               class="edit-component__published-input"
               {% if judgment.is_published %}checked{% endif %}
               name="published"
               id="published"/>
      </div>
    {% endif %}
    <div class="edit-component__panel">
      <label class="edit-component__checkbox-label" for="sensitive">{% translate "judgment.sensitive" %}</label>
      <input type="checkbox"
             class="edit-component__sensitive-input"
             {% if judgment.is_sensitive %}checked{% endif %}
             name="sensitive"
             id="sensitive"/>
    </div>
    <div class="edit-component__panel">
      <label class="edit-component__checkbox-label" for="supplemental">{% translate "judgment.supplemental" %}</label>
      <input type="checkbox"
             class="edit-component__supplemental-input"
             {% if judgment.has_supplementary_materials %}checked{% endif %}
             name="supplemental"
             id="supplemental"/>
    </div>
    <div class="edit-component__panel">
      <label class="edit-component__checkbox-label" for="anonymised">{% translate "judgment.anonymised" %}</label>
      <input type="checkbox"
             class="edit-component__anonymised-input"
             {% if judgment.is_anonymised %}checked{% endif %}
             name="anonymised"
             id="anonymised"/>
    </div>
    <div class="edit-component__actions">
      <input type="hidden" name="judgment_uri" value="{{ judgment_uri }}"/>
      <input type="submit" value="Save"/>
    </div>
    {% flag "email_submitter_block" %}
    {% include "includes/create_emails_block.html" %}
  {% endflag %}
</form>
{% if judgment.versions %}
  <div class="list-versions-component">
    <div class="list-versions-component__container">
      <h2 class="list-versions-component__header">{% translate "judgment.previous_versions" %}</h2>
      <ul>
        {% for version in judgment.versions %}
          <li>
            <a class="list-versions__version-title"
               href="{% url 'full-text-html' judgment_uri %}?version_uri={{ version.uri }}">
              v{{ version.version }} ( {{ version.uri }} )
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
{% endblock judgment_content %}
