{% extends "layouts/judgment_with_sidebar.html" %}
{% load waffle_tags %}
{% block judgment_content %}
  {% load i18n %}
  <form aria-label="Edit judgment" method="post">
    {% csrf_token %}
    <div class="edit-component__panel">
      <label for="metadata_name">{% translate "judgment.judgment_name" %}</label>
      <input type="text" class="edit-component__metadata_name-input" value="{{ context.judgment.name }}"
             name="metadata_name" id="metadata_name" />
    </div>
    <div class="edit-component__panel">
      <label for="neutral_citation">{% translate "judgment.neutral_citation" %}</label>
      <input type="text" class="edit-component__neutral_citation-input" value="{{ context.judgment.neutral_citation }}"
             name="neutral_citation" id="neutral_citation" size="30"/>
    </div>
    <div class="edit-component__panel">
      <label for="court">{% translate "judgment.court" %}</label>
      <input type="text" class="edit-component__court-input" value="{{ context.judgment.court }}"
             name="court" id="court" list="court-ids" size="40"/>
      <datalist id="court-ids">
        {% for court in context.courts %}
          <option value="{{ court.code }}">{{court.name}}</option>
        {% endfor %}
      </datalist>
    </div>
    <div class="edit-component__panel">
      <label for="judgment_date">{% translate "judgment.judgment_date" %}</label>
      <input type="text" class="edit-component__judgment_date-input" value="{{ context.judgment.judgment_date_as_string }}"
             name="judgment_date" id="judgment_date" />
    </div>

    {% if not feature_flag_publish_flow %}
      <div class="edit-component__panel">
        <label for="published">{% translate "judgment.published" %}</label>
        <input type="checkbox" class="edit-component__published-input" {% if context.judgment.is_published %}checked{% endif %} name="published" id="published"/>
      </div>
    {% endif %}

    <div class="edit-component__panel">
      <label for="sensitive">{% translate "judgment.sensitive" %}</label>
      <input type="checkbox" class="edit-component__sensitive-input" {% if context.judgment.is_sensitive %}checked{% endif %} name="sensitive" id="sensitive"/>
    </div>
    <div class="edit-component__panel">
      <label for="supplemental">{% translate "judgment.supplemental" %}</label>
      <input type="checkbox" class="edit-component__supplemental-input" {% if context.judgment.has_supplementary_materials %}checked{% endif %} name="supplemental" id="supplemental"/>
    </div>
    <div class="edit-component__panel">
      <label for="anonymised">{% translate "judgment.anonymised" %}</label>
      <input type="checkbox" class="edit-component__anonymised-input" {% if context.judgment.is_anonymised %}checked{% endif %} name="anonymised" id="anonymised"/>
    </div>
    <div class="edit-component__panel">
      <label for="assigned_to">{% translate "judgment.assigned_to" %}</label>
      <select class="edit-component__assigned_to-input" name="assigned_to" id="assigned_to">
        <option value="" {% if context.judgment.assigned_to == "" %}selected{% endif %}>{% translate "judgments.noone" %}</option>
        {% for user in context.users %}
          <option value="{{user.name}}"{% if context.judgment.assigned_to == user.name %} selected{% endif %}>{{user.print_name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="edit-component__actions">
      <input type="hidden" name="judgment_uri" value="{{context.judgment_uri}}"/>
      <input type="submit" value="Save"/>
    </div>
    {% flag "email_submitter_block" %}
    {% include 'includes/create_emails_block.html' %}
    {% endflag %}
  </form>
  {% if context.judgment.versions %}
    <div class="list-versions-component">
      <div class="list-versions-component__container">
        <h2 class="list-versions-component__header">{% translate "judgment.previous_versions" %}</h2>
        <ul>
          {% for version in context.judgment.versions %}
            <li>
              <a class="list-versions__version-title" href="{% url 'full-text-html' context.judgment_uri %}?version_uri={{version.uri}}">
                v{{ version.version }} ( {{version.uri}} )
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endblock judgment_content %}
