{% extends "layouts/judgment.html" %}
{% load waffle_tags %}

  {% block content %}
  {% flag "metadata_header_block" %}   {% include 'includes/metadata_header.html' %}
  {% endflag %}
  {% if context.judgment_content %}
    {% if context.judgment.is_failure %}
      <pre>
        {{ context.judgment_content }}
      </pre>
    {% else %}
      {% autoescape off %}
        {{ context.judgment_content }}
      {% endautoescape %}
    {% endif %}
  {% else %}
    {{ content }}
  {% endif %}
{% endblock content %}
