{% extends "layouts/judgment_with_sidebar.html" %}
{% load i18n document_utils waffle_tags %}
{% block judgment_header %}
  {% include "includes/judgment/metadata_panel_static.html" with judgment=document %}
{% endblock judgment_header %}
{% block judgment_content %}
  {% flag history_timeline %}
  <h2>Document history</h2>
  <ol class="document-timeline">
    {% for version in document.versions_as_documents %}
      {% include "includes/timeline/timeline_item.html" %}
    {% endfor %}
  </ol>
{% else %}
  <div class="document-version-history">
    <h2>Document version history</h2>
    <table class="document-version-history__table table">
      <thead>
        <tr>
          <th scope="col">Version</th>
          <th scope="col">Date created</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        {% for version in document.versions_as_documents %}
          <tr>
            <td>
              <a href="{% url 'full-text-html' document_uri %}?version_uri={{ version.uri }}">Version {{ version.version_number }}</a>
            </td>
            <td>{{ version.version_created_datetime|display_datetime }}</td>
            <td>
              {% with annotation=version.annotation %}
                {% if annotation %}
                  {{ annotation|display_annotation_type }}
                {% else %}
                  <span class="muted">Unknown</span>
                {% endif %}
              {% endwith %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endflag %}
{% endblock judgment_content %}
