{% extends "layouts/judgment.html" %}
{% load i18n document_utils waffle_tags user_permissions %}
{% block content %}
  {% include "includes/judgment/metadata_panel_static.html" with judgment=document %}
  <div class="container">
    <div class="document-history">
      {% for submission in structured_history reversed %}
        <div class="document-history__submission my-3">
          {% if submission.submission_type == 'structured' %}
            {% include "includes/judgment/history/structured_submission.html" with expand=forloop.first %}
          {% elif submission.submission_type == 'orphan' %}
            {% include "includes/judgment/history/orphaned_events.html" with expand=forloop.first %}
          {% else %}
            <h2>Legacy version {{ submission.marklogic_version }}</h2>
            <p>
              <time datetime="{{ submission.datetime|date:"c" }}">{{ submission.datetime|display_datetime }}</time>
            </p>
            {% if submission.annotation %}<p>{{ submission.annotation }}</p>{% endif %}
            {% if user|is_developer %}
              <p>
                <small class="muted">Event #{{ submission.event_sequence_number }} • Submission #{{ submission.submission_sequence_number }} • MarkLogic version #{{ submission.marklogic_version }}</small>
              </p>
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
