{% extends "layouts/judgment_with_sidebar.html" %}
{% load i18n waffle_tags %}
{% block judgment_header %}
  {% include "includes/judgment/metadata_panel_static.html" with judgment=judgment %}
{% endblock judgment_header %}
{% block judgment_content %}
  <h2>Put {{ judgment.name }} on hold?</h2>
  <form action="{% url 'hold' %}" method="post">
    {% csrf_token %}
    <div class="judgment-component__actions">
      <input type="hidden" name="judgment_uri" value="{{ judgment.uri }}" />
      <input type="hidden" name="hold" value="true" />
      {% flag "notes_on_state_change" %}
        {% include "includes/note-form.html" %}
      {% endflag %}
      <input class="button-cta" type="submit" value="Confirm" />
      <span class="judgment-component__back-button"><a href="{% url 'full-text-html' document.uri %}">Go back to review</a> </span>
    </div>
  </form>
{% endblock judgment_content %}
