{% extends "layouts/judgment.jinja" %}
{% from "components/heading.jinja" import heading %}
{% block content %}
  <div class="container">
    {{ heading(content="Confirmation this has been put on hold:") }}
    {{ heading(tag="h2", weight="normal", content=document.body.name) }}
    <p>
      <a href="{{ email_issue_link }}">Email the submitter</a>
    </p>
  </div>
{% endblock content %}
