{% extends "layouts/judgment_with_sidebar.html" %}
{% load i18n waffle_tags %}
{% block judgment_header %}
  {% include "includes/judgment/metadata_panel_static.html" with judgment=judgment %}
{% endblock judgment_header %}
{% block judgment_content %}
  <h3 class="judgment-component__confirmation-title">
    Are you sure you want to put <strong>"{{ judgment.name }}"</strong> on hold?
  </h3>
  <form action="{% url 'hold' %}" method="post">
    {% csrf_token %}
    <div class="judgment-component__actions">
      <input type="hidden" name="judgment_uri" value="{{ judgment.uri }}" />
      <input type="hidden" name="hold" value="true" />
      {% flag "notes_on_state_change" %}
        {% include "includes/note-form.html" %}
      {% endflag %}
      <div class="judgment-component__actions">
        <a href="{% url 'full-text-html' document.uri %}">Go back to review</a>
        <input class="button-cta" type="submit" value="Confirm hold" />
      </div>
    </div>
  </form>
{% endblock judgment_content %}
