{% extends "layouts/judgment.html" %}
{% load i18n document_utils user_permissions %}
{% block content %}
  {% include "includes/judgment/metadata_panel_static.html" with judgment=document %}
  <div class="container">
    <h1 class="judgment-component__confirmation-title">Identifiers for:</h1>
    <h2 class="judgment-component__confirmation-subtitle">{{ document.body.name }}</h2>
    {% if document.identifiers %}
      <h2>Preferred identifier</h2>
      <b>{{ document.identifiers.preferred.schema.name }}: {{ document.identifiers.preferred.value }}</b>
      <h2>All identifiers</h2>
      <table class="table">
        <tr>
          <th>Type</th>
          <th>Value</th>
          <th>Public URL</th>
          {% if user|is_developer %}
            <th>Human readable</th>
            <th>Score</th>
          {% endif %}
        </tr>
        {% for identifier in document.identifiers.by_score %}
          <tr>
            <td>
              {{ identifier.schema.name }}
              {% if user|is_developer %}
                <br>
                <small class="muted"><code>{{ identifier.schema.namespace }}</code></small>
              {% endif %}
            </td>
            <td>
              <code>{{ identifier.value }}</code>
              {% if user|is_developer %}
                <br>
                <small class="muted"><code>{{ identifier.uuid }}</code></small>
              {% endif %}
            </td>
            <td>
              {% if document.is_published %}
                <a href="https://caselaw.nationalarchives.gov.uk/{{ identifier.url_slug }}"
                   target="_blank"
                   class="link__new-window"><code>/{{ identifier.url_slug }}</code></a>
              {% else %}
                <code>/{{ identifier.url_slug }}</code>
              {% endif %}
            </td>
            {% if user|is_developer %}
              <td>{{ identifier.schema.human_readable }}</td>
              <td>{{ identifier.score }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <div class="page-notification--info">
        <div class="judgment-toolbar__version">
          <span class="icon icon__circle-info"></span> This document does not have any stored identifiers.
        </div>
      </div>
    {% endif %}
    {% if user|is_developer %}
      <h3>System identifiers</h3>
      <table class="table">
        <tr>
          <th>Type</th>
          <th>Value</th>
        </tr>
        <tr>
          <td>MarkLogic URI</td>
          <td>
            <code>{{ document.uri }}</code>
          </td>
        </tr>
      </table>
    {% endif %}
  </div>
{% endblock content %}
