{% extends "layouts/judgment.jinja" %}
{% from "components/heading.jinja" import heading %}
{% from "components/notification.jinja" import notification %}
{% block content %}
  <div class="container">
    {{ heading(content="Add identifiers for:") }}
    {{ heading(tag="h2", weight="normal", content=document.body.name) }}
    {% if document.has_ever_been_published %}
      {% call notification(variant="warning") %}
        You cannot delete new identifiers once added because this document has been published.
      {% endcall %}
    {% endif %}
    {% if form.non_field_errors() %}
      {% call notification(variant="failure", icon=False) %}
        {% for error in form.non_field_errors() %}
          {{ error }}
          <br />
        {% endfor %}
      {% endcall %}
    {% endif %}
    {{ crispy(form, request) | safe }}
  </div>
{% endblock content %}
