{% extends "layouts/judgment.html" %}
{% load i18n waffle_tags %}
{% block content %}
  {% include "includes/judgment/metadata_panel_static.html" with judgment=document %}
  <div class="container">
    {% if documents_merge_failed %}
      <div class="page-notification--failure">
        <div class="container">
          <h3>
            <span class="icon icon--light icon__triangle-exclamation"></span>
            Failed to merge
          </h3>
          <p>Please check the documents and try again</p>
        </div>
      </div>
    {% endif %}
    <h1 class="judgment-component__confirmation-title">Comparing</h1>
    <h2 class="judgment-component__confirmation-subtitle">{{ document.body.name }}</h2>
    <h2 class="judgment-component__confirmation-subtitle">With</h2>
    <h2 class="judgment-component__confirmation-subtitle">{{ document_to_merge.body.name }}</h2>
    {% if not documents_comparison.match %}
      <div class="page-notification--warning">
        <div class="container">
          <h3>
            <span class="icon icon__triangle-exclamation"></span>
            This document's metadata does not match the target document.
          </h3>
          <p>You should check that you will not lose information during this merge.</p>
        </div>
      </div>
    {% endif %}
    <div class="table">
      <table>
        <tr>
          <th>Attribute</th>
          <th>This document</th>
          <th>Target document</th>
          <th>Match</th>
        </tr>
        {% for _, item in documents_comparison.items %}
          <tr class="document-comparison-table__row__{% if item.match %}match{% else %}diff{% endif %}">
            <th scope="row">{{ item.label|capfirst }}</th>
            <td>{{ item.this_value }}</td>
            <td>{{ item.that_value }}</td>
            <td>
              {% if item.match %}
                ✅
              {% else %}
                ❌
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <form action="{% url 'merge' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="document_uri" value="{{ document.uri }}" />
      <input type="hidden"
             name="document_uri_to_merge"
             value="{{ document_to_merge.uri }}" />
      <div class="judgment-component__button-actions">
        <input class="button-cta" type="submit" value="Continue" />
        <span class="judgment-component__back-button"><a href="{% url 'merge-document' document.uri %}">Go back to select merge target</a> </span>
      </div>
    </form>
  </div>
{% endblock content %}
