{% extends "layouts/judgment.html" %}
{% load i18n %}
{% block judgment_header %}
  {% include "includes/judgment/metadata_panel_static.html" with judgment=judgment %}
{% endblock judgment_header %}
{% block content %}
  <h2>Compare and merge</h2>
  <p>
    This will <b>create a new version</b> of the judgment at {{ target_judgment.uri }}.
  </p>
  <form action="{% url "overwrite-judgment" incoming_judgment.uri %}"
        method="post"
        class="edit-component">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
  </form>
  <p>
    Location: <s>{{ incoming_judgment.uri }}</s> → <b>{{ target_judgment.uri }}</b>
  </p>
  <p>
    Neutral Citation: <b>{{ target_judgment.neutral_citation }}</b>
  </p>
  <hr/>
  <p>
    Name: <b>{{ incoming_judgment.name|default:"(none)" }}</b> → <s>{{ target_judgment.name|default:"(none)" }}</s>
  </p>
  <p>
    Court: <b>{{ incoming_judgment.court|default:"(none)" }}</b> → <s>{{ target_judgment.court|default:"(none)" }}</s>
  </p>
  <p>
    Judgment date: <b>{{ incoming_judgment.judgment_date_as_string }}</b> → <s>{{ target_judgment.judgment_date_as_string }}</s>
  </p>
  <hr/>
  <p>
    Submitter name: <b>{{ incoming_judgment.source_name|default:"(none)" }}</b> → <s>{{ target_judgment.source_name|default:"(none)" }}</s>
  </p>
  <p>
    Consignment reference: <b>{{ incoming_judgment.consignment_reference|default:"(none)" }}</b> → <s>{{ target_judgment.consigment_reference|default:"(none)" }}</s>
  </p>
  <div style="border:1px solid black;
              height:100vh;
              width:48%;
              overflow-y:scroll;
              overflow-x:scroll;
              float:left">
    {{ incoming_judgment.content_as_html | safe }}
  </div>
  <div style="border:1px solid black;
              height:100vh;
              width:48%;
              overflow-y:scroll;
              overflow-x:scroll;
              float:left">
    {{ target_judgment.content_as_html | safe }}
  </div>
{% endblock content %}
