{% extends "layouts/judgment.jinja" %}
{% from "components/document_metadata.jinja" import document_metadata %}
{% from "components/heading.jinja" import heading %}
{% block aside %}
  {{ document_metadata(document=document, preferred_ncn=preferred_ncn) }}
{% endblock aside %}
{% block content %}
  <div class="container">
    {{ heading(content="Confirmation this has been published") }}
    {{ heading(tag="h2", weight="normal", content=judgment.body.name) }}
    <p>
      <a href="{{ judgment.public_uri }}"
         target="_blank"
         rel="noopener noreferrer">View the published document <span class="icon icon--sm icon--link icon__arrow-up-right-square"></span></a>
    </p>
    <p>
      <a href="{{ email_confirmation_link }}">Email the submitter</a>
    </p>
  </div>
{% endblock content %}
{% block footer_javascript %}
  <script defer src="{{ static('js/dist/confetti.js') }}"></script>
{% endblock footer_javascript %}
