{% extends "layouts/judgment_with_publish.html" %}
{% load waffle_tags %}
{% load i18n %}
{% block judgment_content %}
  <div class="publish-component">
    <div class="publish-component__container">
      <div class="publish-metadata">
        {% include "includes/publish_list_metadata.html" %}
      </div>
      <div class="publish-component__two-column-container">
        <div class="publish-component__left-panel">
          <div class="publish-component__panel">
            <h2>
              Success - this document has been published<br>
              {{ context.judgment.name }}
            </h2>
          </div>
          <div class="publish-component__actions">
            <p>{% include 'includes/email_confirm_publication.html' %}</p>
          </div>
        </div>
        <aside class="publish-component__sidebar">
          {% include "includes/publish_sidebar.html" %}
        </aside>
      </div>
    </div>
  </div>
{% endblock judgment_content %}

{% block footer_javascript %}
  <script src="https://cdn.jsdelivr.net/npm/tsparticles-preset-confetti@2/tsparticles.preset.confetti.bundle.min.js"></script>
  <script>
    (async () => {
      await tsParticles.load("tsparticles", {
        particles: {
          color: {
            value: ["#CB0D07", "#EBAB00", "#FCE45C", "#008484", "#405480"],
          },
        },
        emitters: [
          {
            startCount: 50,
            rate: {
              delay: 0,
              quantity: 0
            },
            life: {
              duration: 0.1,
              count: 1
            },
            position: {
              x: 0,
              y: 60,
            },
            particles: {
              move: {
                direction: "top-right",
                speed: {
                  min: 50,
                  max: 150
                }
              },
            },
          },
          {
            startCount: 50,
            rate: {
              delay: 0,
              quantity: 0
            },
            life: {
              duration: 0.1,
              count: 1
            },
            position: {
              x: 100,
              y: 60,
            },
            particles: {
              move: {
                direction: "top-left",
                speed: {
                  min: 50,
                  max: 150
                }
              },
            },
          }
        ],
        preset: "confetti",
      });
    })();
  </script>
{% endblock footer_javascript %}
