{% extends "layouts/judgment_with_sidebar.html" %}
{% load i18n %}
{% block judgment_header %}
  {% include "includes/judgment/metadata_panel_static.html" with judgment=judgment %}
{% endblock judgment_header %}
{% block judgment_content %}
  <h2>Success - this document has been published</h2>
  <p class="judgment-component__live-link">
    <a href="{{ judgment.public_uri }}"
       target="_blank"
       rel="noopener noreferrer">{{ judgment.name }}</a>
  </p>
  <div class="judgment-component__actions">
    <p>{% include "includes/email_confirm_publication.html" %}</p>
  </div>
{% endblock judgment_content %}
{% block footer_javascript %}
  <script src="https://cdn.jsdelivr.net/npm/tsparticles-preset-confetti@2/tsparticles.preset.confetti.bundle.min.js"></script>
  <script>
    (async () => {
      await tsParticles.load("tsparticles", {
        particles: {
          color: {
            value: ["#CB0D07", "#EBAB00", "#FCE45C", "#008484", "#405480"],
          },
        },
        emitters: [
          {
            startCount: 50,
            rate: {
              delay: 0,
              quantity: 0
            },
            life: {
              duration: 0.1,
              count: 1
            },
            position: {
              x: 0,
              y: 60,
            },
            particles: {
              move: {
                direction: "top-right",
                speed: {
                  min: 50,
                  max: 150
                }
              },
            },
          },
          {
            startCount: 50,
            rate: {
              delay: 0,
              quantity: 0
            },
            life: {
              duration: 0.1,
              count: 1
            },
            position: {
              x: 100,
              y: 60,
            },
            particles: {
              move: {
                direction: "top-left",
                speed: {
                  min: 50,
                  max: 150
                }
              },
            },
          }
        ],
        preset: "confetti",
      });
    })();
  </script>
{% endblock footer_javascript %}
