{% extends "layouts/judgment.html" %}
{% load i18n waffle_tags %}
{% block content %}
  {% include "includes/judgment/metadata_panel_static.html" with judgment=judgment %}
  <div class="container">
    {% if judgment.is_publishable %}
      <h1 class="judgment-component__confirmation-title">I want to publish:</h1>
      <h2 class="judgment-component__confirmation-subtitle">{{ judgment.body.name }}</h2>
      <form aria-label="publish judgment"
            action="{% url 'publish' %}"
            method="post">
        {% csrf_token %}
        {% flag "notes_on_state_change" %}
          {% include "includes/note-form.html" %}
        {% endflag %}
        <div class="judgment-component__button-actions">
          <input type="hidden" name="judgment_uri" value="{{ judgment.uri }}" />
          <input class="button-cta" type="submit" value="Publish" />
          <span class="judgment-component__back-button"><a href="{% url 'full-text-html' document.uri %}">Go back to review</a> </span>
        </div>
      </form>
    {% else %}
      <div class="page-notification--warning">
        <div class="container">
          <h3>
            <span class="icon icon__triangle-exclamation"></span>
            This document is not publishable due to the following reason(s):
          </h3>
          <ul>
            {% for message in judgment.validation_failure_messages %}<li>{{ message }}</li>{% endfor %}
          </ul>
        </div>
      </div>
      <p>To publish this document, first resolve the issues above then try again.</p>
    {% endif %}
  </div>
{% endblock content %}
