{% extends "layouts/judgment.html" %}
{% load waffle_tags %}
{% block content %}
  {% load i18n %}
  {% include "includes/judgment/metadata_panel_static.html" with judgment=judgment %}
  <div class="container">
    <h1 class="judgment-component__confirmation-title">I want to take this off hold:</h1>
    <h2 class="judgment-component__confirmation-subtitle">{{ judgment.name }}</h2>
    <form action="{% url 'unhold' %}" method="post">
      {% csrf_token %}
      <div class="judgment-component__actions">
        <input type="hidden" name="judgment_uri" value="{{ judgment.uri }}" />
        <input type="hidden" name="unhold" value="false" />
        {% flag "notes_on_state_change" %}
          {% include "includes/note-form.html" %}
        {% endflag %}
        <div class="judgment-component__button-actions">
          <input class="button-cta" type="submit" value="Take off hold" />
          <a href="{% url 'full-text-html' document.uri %}">Go back to review</a>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
