{% extends "layouts/judgment_with_sidebar.html" %}
{% block judgment_header %}
  {% include "includes/judgment_metadata_panel.html" with judgment=judgment %}
{% endblock judgment_header %}
{% block judgment_content %}
  {% load i18n %}
  <h2>{% translate "judgment.hold.unhold_title" %}</h2>
  <form action="{% url 'unhold' %}" method="post">
    {% csrf_token %}
    <div class="judgment-component__actions">
      <input type="hidden" name="judgment_uri" value="{{ judgment.uri }}" />
      <input type="hidden" name="unhold" value="false" />
      <input class="button-cta"
             type="submit"
             value="{% translate "judgment.unhold.unhold_button" %}"/>
    </div>
  </form>
{% endblock judgment_content %}
