{% extends "layouts/judgment.html" %}
{% load i18n waffle_tags %}
{% block content %}
  {% include "includes/judgment/metadata_panel_static.html" with judgment=judgment %}
  <div class="container">
    <h1 class="judgment-component__confirmation-title">I want to unpublish:</h1>
    <h2 class="judgment-component__confirmation-subtitle">{{ judgment.name }}</h2>
    <form action="{% url 'unpublish' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="judgment_uri" value="{{ judgment.uri }}" />
      {% flag "notes_on_state_change" %}
        {% include "includes/note-form.html" %}
      {% endflag %}
      <div class="judgment-component__button-actions">
        <input type="hidden" name="judgment_uri" value="{{ judgment.uri }}" />
        <input class="button-cta" type="submit" value="Unpublish" />
        <span class="judgment-component__back-button"><a href="{% url 'full-text-html' document.uri %}">Go back to review</a> </span>
      </div>
    </form>
  </div>
{% endblock content %}
