{% extends "layouts/judgment_with_sidebar.html" %}
{% load i18n waffle_tags %}
{% block judgment_header %}
  {% include "includes/judgment/metadata_panel_static.html" with judgment=judgment %}
{% endblock judgment_header %}
{% block judgment_content %}
  <h2>Unpublish {{ judgment.name }}?</h2>
  <form action="{% url 'unpublish' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="judgment_uri" value="{{ judgment.uri }}" />
    {% flag "notes_on_state_change" %}
      {% include "includes/note-form.html" %}
    {% endflag %}
    <input type="submit" value="Confirm" />
  </form>
{% endblock judgment_content %}
