{% extends "layouts/judgment.jinja" %}
{% from "components/document_metadata.jinja" import document_metadata with context %}
{% from "components/heading.jinja" import heading %}
{% block content %}
  <div class="container">
    {{ document_metadata(variant="view") }}
    {{ heading(content="Confirmation this has been unpublished:") }}
    {{ heading(tag="h2", weight="normal", content=judgment.body.name) }}
    <p>
      <a href="{{ url('home') }}">Go back to unpublished documents</a>
    </p>
  </div>
{% endblock content %}
