{% extends "layouts/judgment.jinja" %}
{% from "components/document_metadata.jinja" import document_metadata with context %}
{% from "components/heading.jinja" import heading %}
{% from "components/note_form.jinja" import note_form %}
{% block content %}
  <div class="container">
    {{ document_metadata(variant="view") }}
    {{ heading(content="Upload a document against:") }}
    {{ heading(tag="h2", weight="normal", content=judgment.body.name) }}
    <p>It will be uploaded to {{ upload_path }}</p>
    <form action="{{ url('upload') }}"
          method="post"
          enctype="multipart/form-data">
      {{ csrf_input }}
      <input type="hidden" name="judgment_uri" value="{{ judgment.uri }}" />
      {% if waffle.flag("notes_on_state_change") %}{{ note_form() }}{% endif %}
      {{ upload_input }}
      <p>{{ button(content="Upload docment") }}</p>
      <p>
        <a href="{{ url('full-text-html', document.uri) }}">Go back to review</a>
      </p>
    </form>
  </div>
{% endblock content %}
