{% extends "layouts/base.html" %}
{% load i18n %}
{% block content %}
  <div class="style-guide">
    <h2>{% translate "style_guide.title" %}</h2>
    <p>{% translate "style_guide.description" %}</p>
    <hr class="style-guide__divider" />
    {% include "includes/style_guide/buttons.html" %}
    <hr class="style-guide__divider" />
    {% include "includes/style_guide/colours.html" %}
    <hr class="style-guide__divider" />
    {% include "includes/style_guide/tabs.html" %}
    <hr class="style-guide__divider" />
    {% include "includes/style_guide/notification-messaging.html" %}
    <hr class="style-guide__divider" />
    {% include "includes/style_guide/summary-panels.html" %}
    <hr class="style-guide__divider" />
    {% include "includes/style_guide/note.html" %}
    <hr class="style-guide__divider" />
  </div>
{% endblock content %}
