{% extends "layouts/base.html" %}
{% load i18n %}
{% block content %}
  <div class="style-guide">
    <h2>{% translate "style_guide.title" %}</h2>
    <p>{% translate "style_guide.description" %}</p>
    <div class="style-guide__container">
      <div class="style-guide__menu sticky-menu">
        <ul>
          {% for menu_item in menu_items %}
            <li>
              <h2>
                <a href="{{ menu_item.href }}">{{ menu_item.label }}</a>
              </h2>
              {% if menu_item.children %}
                <ul>
                  {% for sub_menu_item in menu_item.children %}
                    <li>
                      <a href="{{ sub_menu_item.href }}">{{ sub_menu_item.label }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="style-guide__content">
        <h2 id="colours">Colours</h2>
        {% include "includes/style_guide/colours.html" %}
        <h2 id="components">Components</h2>
        {% include "includes/style_guide/buttons.html" %}
        {% include "includes/style_guide/judgments_list.html" %}
        {% include "includes/style_guide/judgment_metadata_form.html" %}
        {% include "includes/style_guide/judgment_toolbar.html" %}
        {% include "includes/style_guide/judgment_toolbar_button.html" %}
        {% include "includes/style_guide/note.html" %}
        {% include "includes/style_guide/notification-messaging.html" %}
        {% include "includes/style_guide/search_form.html" %}
        {% include "includes/style_guide/sidebar.html" %}
        {% include "includes/style_guide/summary-panels.html" %}
        {% include "includes/style_guide/tabs.html" %}
        <hr />
        <h2 id="spacing">Spacing</h2>
        {% include "includes/style_guide/spacing.html" %}
        <hr />
        <h2 id="typography">Typography</h2>
        {% include "includes/style_guide/font_family.html" %}
        {% include "includes/style_guide/font_sizes.html" %}
        {% include "includes/style_guide/font_weights.html" %}
        {% include "includes/style_guide/line_heights.html" %}
      </div>
    </div>
  </div>
{% endblock content %}
