@use "sass:color";

// GOVUK Frontend colours

$govuk-green: #00703c;
$govuk-blue: #1d70b8;
$govuk-red: #d4351c;
$govuk-white: white;
$govuk-black: black;

.judgment-status-indicator {
  display: inline-block;

  padding: $space-1 $space-2;
  border: 3px solid $govuk-white;

  color: $govuk-white;
  text-decoration: none;
  text-transform: capitalize;

  background-color: $govuk-blue;
  outline: 2px solid transparent;
  outline-offset: -2px;

  &--compact {
    padding: 0 $space-1;
    border: 0;
  }

  &--new,
  &--in-progress {
    color: color.mix($govuk-black, $govuk-blue, 60%);
    background: color.mix($govuk-white, $govuk-blue, 70%);
  }

  &--published {
    color: color.mix($govuk-black, $govuk-green, 20%);
    background: color.mix($govuk-white, $govuk-green, 80%);
  }

  &--on-hold {
    color: color.mix($govuk-black, $govuk-red, 80%);
    background: color.mix($govuk-white, $govuk-red, 75%);
  }
}
