.judgment-status-indicator {
  border: 3px solid $color-white;
  display: inline-block;

  padding: $space-1 $space-2;

  outline: 2px solid transparent;
  outline-offset: -2px;

  color: $color-white;
  background-color: $color-dark-blue;

  text-decoration: none;
  font-weight: $typography-bold-font-weight;
  text-transform: capitalize;

  &--compact {
    border: 0;
    padding: 0 $space-1;
  }

  &--new,
  &--in-progress {
    color: mix(black, $govuk-blue, 60%);
    background: mix(white, $govuk-blue, 70%);
  }

  &--published {
    color: mix(black, $govuk-green, 60%);
    background: mix(white, $govuk-green, 70%);
  }

  &--on-hold {
    color: mix(black, $govuk-red, 60%);
    background: mix(white, $govuk-red, 70%);
  }
}
