<h1 class="judgment-component__confirmation-title">Merging</h1>
<h2 class="judgment-component__confirmation-subtitle">
  {{ source_document.body.name }}
  <br>
  <small class="muted">({{ source_document.uri }})</small>
</h2>
{% if target_document %}
  <h2 class="judgment-component__confirmation-subtitle">into</h2>
  <h2 class="judgment-component__confirmation-subtitle">
    {{ target_document.body.name }}
    <br>
    <small class="muted">({{ target_document.uri }})</small>
  </h2>
{% endif %}
<ol class="merge-stages mb-2">
  <li {% if stage == "target" %}class="current"{% endif %}>Select merge target</li>
  <li {% if stage == "metadata" %}class="current"{% endif %}>Check metadata</li>
  <li {% if stage == "summary" %}class="current"{% endif %}>Merge summary</li>
  <li {% if stage == "complete" %}class="current"{% endif %}>Complete</li>
</ol>
