{% macro metadata_panel(judgment=None, preferred_ncn=None, document_type='judgment') %}
  <div class="container edit-component">
    <div class="judgment-metadata-panel">
      <ul class="judgment-metadata-panel__primary-details">
        <li>
          <span class="judgment-metadata-panel__key">NCN</span>
          <span class="judgment-metadata-panel__value">{{ preferred_ncn.value if preferred_ncn else "" }}</span>
        </li>
        <li>
          <span class="judgment-metadata-panel__key">Court</span>
          <span class="judgment-metadata-panel__value">{{ judgment.body.court if judgment else "" }}</span>
        </li>
        <li>
          <span class="judgment-metadata-panel__key">Name</span>
          <span class="judgment-metadata-panel__value">{{ judgment.body.name if judgment else "" }}</span>
        </li>
      </ul>
      <ul class="judgment-metadata-panel__secondary-details">
        <li>
          <span class="judgment-metadata-panel__key">
            {{ "Judgment date" if document_type == "judgment" else "Publication date" }}
          </span>
          {% if judgment %}
            <time class="judgment-metadata-panel__value"
                  datetime="{{ judgment.body.document_date_as_string }}">
              {{ judgment.body.document_date_as_string }}
            </time>
          {% endif %}
        </li>
        <li>
          <span class="judgment-metadata-panel__key">Type</span>
          <span class="judgment-metadata-panel__value">{{ judgment.document_noun|title if judgment else "" }}</span>
        </li>
        <li>
          <span class="judgment-metadata-panel__key">TDR reference</span>
          <span class="judgment-metadata-panel__value">{{ (judgment.consignment_reference or "&mdash;")|safe if judgment else "" }}</span>
        </li>
        <li>
          <span class="judgment-metadata-panel__key">First published</span>
          <span class="judgment-metadata-panel__value">
            {% set document = judgment %}
            {% include "includes/judgment/first_published_datetime_component.jinja" %}
          </span>
        </li>
      </ul>
    </div>
  </div>
{% endmacro %}
