{% load status_tag_css %}
<div class="judgment-sidebar__block">
  <h4>Status</h4>
  <ul class="items">
    <li>
      <span class="judgment-status-indicator judgment-status-indicator--{{ judgment.status | status_tag_colour }}">{{ judgment.status }}</span>
    </li>
  </ul>
</div>
<div class="judgment-sidebar__block">
  <h4>Associated documents</h4>
  <p>
    {% if linked_document_uri %}
      <a href="{% url 'full-text-html' linked_document_uri %}">
        {% if document_type == "press_summary" %}
          Judgment
        {% else %}
          Press Summary
        {% endif %}
      </a>
    {% else %}
      None
    {% endif %}
  </p>
</div>
