{% load i18n status_tag_css %}
<div class="judgment-sidebar__block">
  <h4>{% translate "judgments.sidebar.status" %}</h4>
  <ul class="items">
    <li>
      <span class="judgment-status-indicator judgment-status-indicator--{{ judgment.status | status_tag_colour }}">{{ judgment.status }}</span>
    </li>
  </ul>
  <h4>{% translate "judgments.sidebar.submission" %}</h4>
  <dl class="items">
    <dt class="judgment-sidebar__label">
      {% translate "judgments.submitter" %}
    </dt>
    <dd>
      {{ judgment.source_name }}
    </dd>
    <dt class="judgment-sidebar__label">
      {% translate "judgments.submitteremail" %}
    </dt>
    <dd>
      <a href="mailto:{{ judgment.source_email }}">{{ judgment.source_email }}</a>
    </dd>
    <dt class="judgment-sidebar__label">
      {% translate "judgments.consignmentref" %}
    </dt>
    <dd>
      {{ judgment.consignment_reference }}
    </dd>
  </dl>
</div>
<div class="judgment-sidebar__block">
  <h4>{% translate "judgments.sidebar.manage" %}</h4>
  <ul>
    <li>
      <a href="{% url 'move-judgment' judgment.uri %}">{% translate "judgment.movemerge" %}</a>
    </li>
    <li>
      <a href="{% url 'unlock' %}?judgment_uri={{ judgment_uri }}">{% translate "judgment.unlock_judgment_title" %}</a>
    </li>
  </ul>
</div>
<div class="judgment-sidebar__block">
  <h4>{% translate "judgments.sidebar.tools" %}</h4>
  <ul>
    <li>
      <a href="{{ jira_create_link }}"
         target="_blank"
         rel="noopener noreferrer">{% translate "judgment.create_in_jira" %}</a>
    </li>
    <li>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSckmLdeUAEoEoBc55ybFVmOsXPEM7CG2VbN2YNwsX6kL9UZ4Q/viewform?usp=pp_url&entry.2047884653=Yes&entry.6716552=A+specific+judgment+or+decision&entry.481919886={{ request.build_absolute_uri|urlencode }}&entry.350152829={{ judgment.consignment_reference|urlencode }}"
         target="_blank"
         rel="noopener noreferrer">{% translate "judgment.report_blocking_problem" %}</a>
    </li>
  </ul>
</div>
<div class="judgment-sidebar__block">
  <h4>{% translate "judgments.sidebar.assigned_to" %}</h4>
  <form action="{% url "assign" %}"
        method="post"
        class="judgment-sidebar__judgment-assign-form">
    {% csrf_token %}
    <input type="hidden" name="judgment_uri" value="{{ judgment.uri }}" />
    <select class="judgment-sidebar__assignment-input"
            name="assigned_to"
            id="assigned_to">
      <option value="" {% if judgment.assigned_to == "" %}selected{% endif %}>
        {% translate "judgments.noone" %}
      </option>
      {% for editor in editors %}
        <option value="{{ editor.name }}"
                {% if judgment.assigned_to == editor.name %} selected{% endif %}>
          {{ editor.print_name }}
        </option>
      {% endfor %}
    </select>
    <input type="submit"
           class="button-cta"
           name="assign"
           value
           {% translate "judgment.assign_cta" %}/>
  </form>
</div>
