{% load i18n status_tag_css %}
<div class="judgment-sidebar__block">
  <h4>{% translate "judgments.sidebar.status" %}</h4>
  <ul class="items">
    <li>
      <span class="judgment-status-indicator judgment-status-indicator--{{ judgment.status | status_tag_colour }}">{{ judgment.status }}</span>
    </li>
  </ul>
</div>
<div class="judgment-sidebar__block">
  <h4>{% translate "judgments.associated_douments" %}</h4>
  <p>
    {% if linked_document_uri %}
      <a href="{% url 'full-text-html' linked_document_uri %}">
        {% if document_type == "press_summary" %}
          Judgment
        {% else %}
          Press Summary
        {% endif %}
      </a>
    {% else %}
      None
    {% endif %}
  </p>
</div>
<div class="judgment-sidebar__block">
  <h4>{% translate "judgments.submitter" %}</h4>
  <p>
    <a href="mailto:{{ judgment.source_email }}">{{ judgment.source_name }}</a>
  </p>
</div>
<div class="judgment-sidebar__block">
  <h4>{% translate "judgments.sidebar.assigned_to" %}</h4>
  <form action="{% url "assign" %}"
        method="post"
        class="judgment-sidebar__judgment-assign-form">
    {% csrf_token %}
    <input type="hidden" name="judgment_uri" value="{{ judgment.uri }}" />
    <select class="judgment-sidebar__assignment-input"
            name="assigned_to"
            id="assigned_to">
      <option value="" {% if judgment.assigned_to == "" %}selected{% endif %}>{% translate "judgments.noone" %}</option>
      {% for editor in editors %}
        <option value="{{ editor.name }}"
                {% if judgment.assigned_to == editor.name %}selected{% endif %}>{{ editor.print_name }}</option>
      {% endfor %}
    </select>
    <input type="submit"
           class="button-cta"
           name="assign"
           value
           {% translate "judgment.assign_cta" %} />
  </form>
</div>
