{% load i18n %}
<div class="judgment-toolbar">
  <div class="judgment-toolbar__container container">
    {% if request.args.origin == 'results' %}
      <div class="judgment-toolbar__return-link">
        <a href="{{ request.args.return_link }}">{% translate "judgment.toolbar.back" %}</a>
      </div>
    {% endif %}
    <div class="judgment-toolbar__edit">
      {% if judgment.is_editable %}
        <a class="judgment-toolbar__button {% if view == 'judgment_text' %}button-cta{% else %}button-secondary{% endif %}"
           href="{% url 'full-text-html' judgment.uri %}">{% translate "judgment.toolbar.review_document" %}</a>
      {% else %}
        <span class="judgment-toolbar__button button-secondary"
              aria-disabled="true">{% translate "judgment.toolbar.review_document" %}</span>
      {% endif %}
      {% if judgment.is_published %}
        <span class="judgment-toolbar__button button-secondary"
              aria-disabled="true">{% translate "judgment.toolbar.hold" %}</span>
      {% else %}
        {% if judgment.is_held %}
          <a class="judgment-toolbar__button {% if view == 'hold_judgment' %}button-cta{% else %}button-secondary{% endif %}"
             href="{% url 'unhold-judgment' judgment.uri %}">{% translate "judgment.toolbar.unhold" %}</a>
        {% else %}
          <a class="judgment-toolbar__button {% if view == 'hold_judgment' %}button-cta{% else %}button-secondary{% endif %}"
             href="{% url 'hold-judgment' judgment.uri %}">{% translate "judgment.toolbar.hold" %}</a>
        {% endif %}
      {% endif %}
      {% if judgment.is_published %}
        <a class="judgment-toolbar__button {% if view == 'publish_judgment' %}button-cta{% else %}button-secondary{% endif %}"
           href="{% url 'unpublish-judgment' judgment.uri %}">{% translate "judgment.toolbar.unpublish" %}</a>
      {% else %}
        <a class="judgment-toolbar__button {% if view == 'publish_judgment' %}button-cta{% else %}button-secondary{% endif %}"
           href="{% url 'publish-document' judgment.uri %}">{% translate "judgment.toolbar.publish" %}</a>
      {% endif %}
      {% if judgment.docx_url %}
        <a class="judgment-toolbar__button button-secondary"
           href="{{ judgment.docx_url }}">{% translate "judgment.toolbar.download_docx" %}</a>
      {% else %}
        <span class="judgment-toolbar__button button-secondary"
              aria-disabled="true">{% translate "judgment.toolbar.download_docx" %}</span>
      {% endif %}
      <a id="judgment-toolbar__more-button"
         class="judgment-toolbar__button judgment-toolbar__button-more button-secondary"
         href="#"
         style="display:none">More
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
          <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
        </svg>
      </a>
    </div>
    <div class="judgment-toolbar__more">{% include "includes/judgment/toolbar_more.html" %}</div>
    {% if version %}
      <div class="judgment-toolbar__version">
        <b>You are viewing version {{ version }} of this Judgment.</b>
      </div>
    {% endif %}
  </div>
</div>
