{% load i18n %}
<div class="list-versions-component">
  <div class="list-versions-component__container">
    <h2 class="list-versions-component__header">{% translate "judgment.previous_versions" %}</h2>
    <ul>
      {% for version in judgment.versions %}
        <li>
          <a class="list-versions__version-title"
             href="{% url 'full-text-html' judgment_uri %}?version_uri={{ version.uri }}">
            v{{ version.version }} ( {{ version.uri }} )
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
