{% from "components/navigation.jinja" import navigation with context %}
{% from "includes/judgment_navigation.jinja" import judgment_navigation %}
{% from "includes/document_breadcrumbs.jinja" import render_breadcrumbs %}
<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% if page_title %}{{ page_title }} -{% endif %}
    Find and manage case law</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ static('images/favicons/favicon.png') }}" />
    {% block css %}
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;family=Roboto:wght@400;600;700&amp;family=Roboto+Mono:wght@400;600;700&amp;display=swap"
            rel="stylesheet" />
      <link href="{{ static('css/main.css') }}" rel="stylesheet" />
    {% endblock css %}
    <script defer src="{{ static('js/dist/app.js') }}"></script>
    <script defer src="{{ static('js/dist/cookie_consent.js') }}"></script>
  </head>
  {% block banner %}
  {% endblock banner %}
  <body>
    {% include "includes/cookie_consent/cookie_banner.html" %}
    <a id="skip-to-main-content" href="#main-content">Skip to Main Content</a>
    {% include "includes/environment_banner.html" %}
    <header class="page-header">
      <div class="page-header__breadcrumbs page-header__navbar">
        <nav class="page-header__breadcrumbs-container" aria-label="Breadcrumb">
          <span class="page-header__breadcrumbs-you-are-in">You are in:</span>
          <ol>
            <li>
              <a href="{{ url('home') }}">Find and manage case law</a>
            </li>
            {% block breadcrumbs %}
              {% if document %}{{ render_breadcrumbs("judgment", document.body.name) }}{% endif %}
            {% endblock breadcrumbs %}
          </ol>
        </nav>
      </div>
      {{ navigation() }}
    </header>
    {% block precontent %}
    {% endblock precontent %}
    <main id="main-content">
      {% block content %}
      {% endblock content %}
    </main>
    <footer class="judgments-footer">
      <div class="judgments-footer__container">
        <h2 class="judgments-footer__heading">Footer</h2>
        <p>
          Something wrong with this page?
          <a target="_blank"
             rel="noreferrer noopener"
             href="https://docs.google.com/forms/d/e/1FAIpQLSckmLdeUAEoEoBc55ybFVmOsXPEM7CG2VbN2YNwsX6kL9UZ4Q/viewform?usp=pp_url&entry.481919886={{ request.build_absolute_uri|urlencode }}">Report a problem to the digital team</a>.
        </p>
      </div>
    </footer>
    {% block footer_javascript %}
    {% endblock footer_javascript %}
  </body>
</html>
