{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if context.page_title %}{{ context.page_title }} - {% endif %}{% translate "common.findcaselaw" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'images/favicons/favicon.png' %}">

    {% block css %}
      <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% endblock %}

    {% block javascript %}
      <script defer src="{% static 'js/dist/app.js' %}"></script>
      <script defer src="{% static 'js/dist/cookie_consent.js' %}"></script>
    {% endblock javascript %}

    {% include 'includes/gtm/gtm_head.html' %}
  </head>

  <body class="d-flex flex-column h-100">

    {% include 'includes/cookie_consent/cookie_banner.html' %}
    {% include 'includes/gtm/gtm_body.html' %}

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <a id="skip-to-main-content" href="#main-content" hidden>{% translate "skiplink" %}</a>
    {% block header %}
    {% endblock header %}
    <main id="main-content" class="flex-shrink-0">
      {% block content %}
      {% endblock content %}
    </main>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        {% include 'includes/footer.html' %}
      </div>
    </footer>
  </body>

</html>
