{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% if page_title %}{{ page_title }} -{% endif %}
    {% translate "common.findcaselaw" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'images/favicons/favicon.png' %}" />
    {% block css %}
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;family=Roboto:wght@400;600;700&amp;family=Roboto+Mono:wght@400;600;700&amp;display=swap"
            rel="stylesheet" />
      <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    {% endblock css %}
    <script defer src="{% static 'js/dist/app.js' %}"></script>
    <script defer src="{% static 'js/dist/cookie_consent.js' %}"></script>
    {% include "includes/gtm/gtm_head.html" %}
  </head>
  <body>
    {% include "includes/cookie_consent/cookie_banner.html" %}
    {% include "includes/gtm/gtm_body.html" %}
    <a id="skip-to-main-content" href="#main-content">{% translate "skiplink" %}</a>
    <header class="page-header">
      {% include "includes/breadcrumbs.html" with current=page_title title=page_title link=request.get_full_path %}
    </header>
    {% block precontent %}
    {% endblock precontent %}
    {% include "includes/notifications.html" %}
    <main id="main-content">
      {% block content %}
      {% endblock content %}
    </main>
    {% include "includes/footer.html" %}
    {% block footer_javascript %}
    {% endblock footer_javascript %}
  </body>
</html>
