.aside {
  &__container {
    &.collapsed {
      .aside__toggle {
        display: none;
        flex-direction: row;
        padding: 0.5rem 1rem;

        @media (min-width: $grid-breakpoint-medium) {
          display: flex;
          flex-direction: column;
          padding: $space-4 0;
        }
      }

      .aside__content {
        display: flex;
        flex-direction: column;

        @media (min-width: $grid-breakpoint-medium) {
          display: none;
        }
      }

      @media (min-width: $grid-breakpoint-medium) {
        overflow: hidden;
        min-width: 34px;
        max-width: 34px;
      }
    }

    @media (min-width: $grid-breakpoint-medium) {
      position: sticky;
      top: 0;

      overflow-y: scroll;

      min-width: 320px;
      max-width: 360px;
      max-height: 100vh;
    }
  }

  &__toggle {
    all: unset;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    gap: $space-2;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid colour-var("font-base");

    background: colour-var("accent-background-light");

    span {
      font-weight: $typography-bold-font-weight;

      @media (min-width: $grid-breakpoint-medium) {
        writing-mode: sideways-lr;
      }
    }

    @media (min-width: $grid-breakpoint-medium) {
      display: none;
      flex-direction: column;

      height: 100vh;
      padding: $space-4 0;
      border-bottom: 0;
      border-left: 1px solid colour-var("font-base");
    }
  }

  &__title {
    display: flex;
    gap: $space-4;
    align-items: center;
    justify-content: space-between;

    padding: $space-2 $space-4;
    border-bottom: 1px solid colour-var("accent-border");

    font-weight: $typography-bold-font-weight;
  }

  &__content {
    display: none;
    border-bottom: 1px solid colour-var("font-base");

    dl {
      display: flex;
      flex-direction: column;
      gap: $space-4;

      margin: 0;
      padding: $space-3 $space-4;

      div {
        display: flex;
        flex-direction: column;
        gap: $space-2;

        dt {
          color: colour-var("accent-border");
        }

        dd {
          display: flex;
          flex-wrap: wrap;
          gap: $space-2;
          margin: 0;
        }
      }
    }

    @media (min-width: $grid-breakpoint-medium) {
      display: block;
      min-height: 100vh;
      border-bottom: 0;
      border-left: 1px solid colour-var("font-base");
    }
  }
}
