.govuk-button {
  @include call-to-action-button;

  position: relative;
}

.button {
  @include call-to-action-button;

  display: inline-flex;
  flex-wrap: wrap;
  gap: $space-2;
  align-items: center;
  justify-content: center;

  margin: 0;
  border: 2px solid brand-colour("navy");

  &:disabled,
  &[aria-disabled="true"] {
    background-color: colour-var("button-background");

    &:focus,
    &:hover {
      cursor: not-allowed;

      color: colour-var("button-text");
      text-decoration: none;

      background-color: colour-var("button-background");
      outline: none;
    }
  }

  &--danger {
    border: 2px solid colour-var("form-error-border");
    color: colour-var("accent-button-text");
    background-color: colour-var("form-error-border");

    &:visited,
    &:focus,
    &:hover {
      border-color: colour-var("form-error-border");
      color: colour-var("accent-button-text");
      background-color: colour-var("form-error-border");
      outline-color: colour-var("form-error-border");
    }
  }

  &--secondary {
    margin: 0;
    border: 2px solid colour-var("link");
    color: colour-var("link");
    background-color: colour-var("contrast-button-background");

    &:visited {
      color: colour-var("link");
    }

    &:focus,
    &:hover {
      color: colour-var("contrast-button-background");
    }

    &:disabled,
    &[aria-disabled="true"] {
      @include button-disabled;
    }
  }

  &--link {
    cursor: pointer;

    padding: 0 !important;
    border: none;

    font-size: $typography-md-text-size;
    color: colour-var("link");
    text-decoration: underline;

    background: none !important;

    &:visited {
      color: colour-var("link");
    }

    &:focus,
    &:hover {
      color: colour-var("link");
    }
  }

  &--contrast {
    border-color: colour-var("contrast-button-background");
    color: colour-var("contrast-button-text");
    background: colour-var("contrast-button-background");

    &:focus,
    &:hover {
      border-color: colour-var("contrast-button-background");
      color: colour-var("contrast-button-text");
      background: colour-var("contrast-button-background");
      outline-color: colour-var("contrast-button-background");
    }
  }

  &--secondary-contrast {
    margin: 0;
    border-color: colour-var("contrast-button-background");
    color: colour-var("contrast-button-background");
    background: colour-var("contrast-button-text");

    &:focus,
    &:hover {
      border-color: colour-var("contrast-button-background");
      color: colour-var("contrast-button-background");
      background: colour-var("contrast-button-text");
      outline-color: colour-var("contrast-button-background");
    }
  }

  &--small {
    margin: 0;
    padding: $space-1 $space-2;
    font-size: $typography-sm-text-size;
  }

  &__label {
    font-size: $typography-xs-text-size;
    font-weight: $typography-normal-font-weight;
  }
}
