.toolbar {
  padding: $space-4;
  border-bottom: 1px solid colour-var("accent-border");
  color: colour-var("font-dark");

  &__container {
    display: flex;
    flex-direction: column;
    gap: $space-6;
    justify-content: space-between;

    @media (min-width: $grid-breakpoint-medium) {
      flex-direction: row;
      gap: 0;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: $space-2;
    align-items: center;
    justify-content: center;

    @media (min-width: $grid-breakpoint-medium) {
      flex-direction: row;
      gap: $space-4;
    }
  }
}
