{% load user_permissions waffle_tags %}
{% if user|is_superuser or user|is_editor %}
  <form action="{% url 'enrich' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="document_uri" value="{{ document.uri }}" />
    <input type="submit"
           name="enrich"
           class="button-cta button-small"
           value="Request enrichment" />
  </form>
  {% flag "reparse" %}
    <form action="{% url 'reparse' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="document_uri" value="{{ document.uri }}" />
      <input type="submit"
             name="reparse"
             class="button-cta button-small"
             value="Reparse" />
    </form>
  {% endflag %}
  <a class="button-danger button-small"
     href="{% url 'delete-document' document.uri %}">Delete</a>
{% else %}
  {% if judgment.is_failure %}
    <a class="button-danger button-small"
       href="{% url 'delete-document' document.uri %}">Delete</a>
  {% endif %}
{% endif %}
