{% macro status_display(status) %}
  <div class="judgment-toolbar__status">
    <h4>Status</h4>
    <div class="judgment-status-indicator judgment-status-indicator--{{ status | status_tag }}">{{ status }}</div>
  </div>
{% endmacro %}
