{% if current_version_number %}
  <div class="page-notification--info">
    <div class="judgment-toolbar__version">
      <span class="icon icon__circle-info"></span>
      <span>
        You are viewing <strong>version {{ current_version_number }}</strong> of this document.
      </span>
    </div>
  </div>
{% endif %}
