{% load document_utils %}
<div class="document-history__submission-header">
  <div class="document-history__submission-header-title">
    <h2>Orphaned events</h2>
  </div>
  <div class="document-history__submission-header-show-link">
    <p>
      <a class="document-history__submission-toggle"
         data-target-submission="{{ submission.orphan_submission_identifier }}">Show</a>
    </p>
  </div>
</div>
<p>
  <small>These events contain structured data, but cannot be attached to a previous submission due to a break in the structured history of this document.</small>
</p>
<div id="submission-{{ submission.orphan_submission_identifier }}"
     {% if not expand %}hidden{% endif %}>
  <table class="table document-history__event-table">
    <tr>
      <th>Change made</th>
      <th>Changed at</th>
      <th>Changed by</th>
      {% for event in submission.events reversed %}
        {% include "includes/judgment/history/event_line.html" %}
      {% endfor %}
    </tr>
  </table>
</div>
