interactions:
  - request:
      body: xquery=xquery+version+%221.0-ml%22%3B%0A%0Adeclare+variable+%24user+as+xs%3Astring+external%3B%0Adeclare+variable+%24role+as+xs%3Astring+external%3B%0A%0Alet+%24user_roles+%3A%3D+xdmp%3Auser-roles%28%24user%29%0Alet+%24role_id+%3A%3D+xdmp%3Arole%28%24role%29%0A%0Areturn+fn%3Aboolean%28index-of%28%24role_id%2C+%24user_roles%29%29%0A&vars=%7B%22role%22%3A%22admin%22%2C%22user%22%3A%22cassette_user%22%7D
      headers:
        Content-type:
          - application/x-www-form-urlencoded
      method: POST
      uri: http://cf-58785-alb-7dtx0v08wfpa-167285526.eu-west-2.elb.amazonaws.com:8011/LATEST/eval
    response:
      body:
        string:
          'vcr-multipart-parts:[{"content_type": "text/plain", "extra_headers":
          {"X-Primitive": "boolean"}, "body": "true", "encoding": "utf-8"}]'
      headers:
        Content-Type:
          - multipart/mixed; boundary=vcr_cassette_boundary
      status:
        code: 200
        message: OK
  - request:
      body: module=%2Fjudgments%2Fsearch%2Fsearch-v2.xqy&vars=%7B%22court%22%3A+null%2C+%22judge%22%3A+%22%22%2C+%22page%22%3A+2%2C+%22page-size%22%3A+10%2C+%22q%22%3A+%22%22%2C+%22party%22%3A+%22%22%2C+%22neutral_citation%22%3A+%22%22%2C+%22document_name%22%3A+%22%22%2C+%22consignment_number%22%3A+%22%22%2C+%22specific_keyword%22%3A+%22%22%2C+%22order%22%3A+%22-date%22%2C+%22from%22%3A+%22%22%2C+%22to%22%3A+%22%22%2C+%22show_unpublished%22%3A+%22true%22%2C+%22only_unpublished%22%3A[...]
  - request:
      body: xquery=xquery+version+%221.0-ml%22%3B%0A%0Adeclare+variable+%24uris+as+json%3Aarray+external%3B%0Alet+%24properties+%3A%3D+%28%0A++++fn%3AQName%28%22%22%2C+%27editor-priority%27%29%2C%0A++++fn%3AQName%28%22%22%2C+%27assigned-to%27%29%2C%0A++++fn%3AQName%28%22%22%2C+%27editor-hold%27%29%2C%0A++++fn%3AQName%28%22%22%2C+%27source-name%27%29%2C%0A++++fn%3AQName%28%22%22%2C+%27source-email%27%29%2C%0A++++fn%3AQName%28%22%22%2C+%27transfer-consignment-reference%27%29%2C%0A++++fn%3AQName%28%22%22%2C+%27transfer-received-at%27%29%2C%0A++++fn%3AQName%28%22%22%2C+%27published%27%29%2C%0A++++fn%3AQName%28%22%22%2C+%27email-received-at%27%29%0A%29%0A%0Areturn+%3Cproperty-results%3E%7B%0Afor+%24uri+in+json%3Aarray-values%28%24uris%29%0A++return+%3Cproperty-result+uri%3D%27%7B%24uri%7D%27%3E+%7B%0A++++for+%24prop+in+%24properties%0A++++++return+xdmp%3Adocument-get-properties%28%24uri%2C+%24prop%29%0A++%7D+%3C%2Fproperty-result%3E%0A%7D%3C%2Fproperty-results%3E%0A&vars=%7B%22uris%22%3A+%5B%22%2Fewhc%2Fch%2F2024%2F2915.xml%22%5D%7D
      headers:
        Content-type:
          - application/x-www-form-urlencoded
      method: POST
      uri: http://cf-58785-alb-7dtx0v08wfpa-167285526.eu-west-2.elb.amazonaws.com:8011/LATEST/eval
    response:
      body:
        string:
          'vcr-multipart-parts:[{"content_type": "application/xml", "extra_headers":
          {"X-Primitive": "element()", "X-Path": "/property-results"}, "body": "<property-results><property-result
          uri=\"/ewhc/ch/2024/2915.xml\"><editor-hold>false</editor-hold><source-name>Mark
          Halliwell</source-name><source-email>hhj.mark.halliwell@ejudiciary.net</source-email><transfer-consignment-reference>TDR-2024-CJ6R</transfer-consignment-reference><transfer-received-at>2024-11-22T15:28:29Z</transfer-received-at><published>false</published></property-result></property-results>",
          "encoding": "utf-8"}]'
      headers:
        Content-Type:
          - multipart/mixed; boundary=vcr_cassette_boundary
      status:
        code: 200
        message: OK
[...]
  - request:
      body: xquery=xquery+version+%221.0-ml%22%3B%0A%0Adeclare+variable+%24uri+as+xs%3Astring+external%3B%0A%0Alet+%24timestamp+%3A%3D+xdmp%3Adocument-timestamp%28+%24uri+%29%0A%0Areturn+xdmp%3Atimestamp-to-wallclock%28+%24timestamp+%29%0A&vars=%7B%22uri%22%3A+%22%2Fd-be927f64-8b26-43d6-86d9-184380b473fc.xml%22%7D
      headers:
        Content-type:
          - application/x-www-form-urlencoded
      method: POST
      uri: http://cf-58785-alb-7dtx0v08wfpa-167285526.eu-west-2.elb.amazonaws.com:8011/LATEST/eval
    response:
      body:
        string:
          'vcr-multipart-parts:[{"content_type": "text/plain", "extra_headers":
          {"X-Primitive": "dateTime"}, "body": "2026-09-02T10:39:41.06577", "encoding":
          "utf-8"}]'
      headers:
        Content-Type:
          - multipart/mixed; boundary=vcr_cassette_boundary
      status:
        code: 200
        message: OK
version: 1
