interactions:
  - request:
      body: xquery=xquery+version+%221.0-ml%22%3B%0A%0Adeclare+variable+%24uri+as+xs%3Astring+external%3B%0A%0Alet+%24error+%3A%3D+if+%28not%28fn%3Adoc-available%28%24uri%29%29%29+then+%28fn%3Aerror%28xs%3AQName%28%22FCL-DOCUMENTNOTFOUND%22%29%2C+%22FCL-DOCUMENTNOTFOUND+No+document+at+%22%7C%7C%24uri+%29%29+else+%28%29%0Areturn+xdmp%3Adocument-get-collections%28%24uri%29%0A&vars=%7B%22uri%22%3A+%22%2Feat%2F2023%2F123.xml%22%7D
      headers:
        Content-type:
          - application/x-www-form-urlencoded
      method: POST
      uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/eval
    response:
      body:
        string:
          'vcr-multipart-parts:[{"content_type": "text/plain", "extra_headers":
          {"X-Primitive": "string"}, "body": "judgment", "encoding": "utf-8"}, {"content_type":
          "text/plain", "extra_headers": {"X-Primitive": "string"}, "body": "http://marklogic.com/collections/dls/latest-version",
          "encoding": "utf-8"}]'
      headers:
        Content-Type:
          - multipart/mixed; boundary=vcr_cassette_boundary
      status:
        code: 200
        message: OK
[...]
  - request:
      body: xquery=xquery+version+%221.0-ml%22%3B%0A%0Adeclare+variable+%24uri+as+xs%3Astring+external%3B%0A%0Adeclare+variable+%24name+as+xs%3Astring+external%3B%0A%0Alet+%24prop+%3A%3D+fn%3AQName%28%22%22%2C+%24name%29%0A%0Areturn+xdmp%3Adocument-get-properties%28%24uri%2C+%24prop%29%0A&vars=%7B%22uri%22%3A+%22%2Feat%2F2023%2F123.xml%22%2C+%22name%22%3A+%22identifiers%22%7D
      headers:
        Content-type:
          - application/x-www-form-urlencoded
      method: POST
      uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/eval
    response:
      body:
        string:
          'vcr-multipart-parts:[{"content_type": "application/xml", "extra_headers":
          {"X-Primitive": "element()", "X-URI": "/eat/2023/123.xml", "X-Path": "/prop:properties/identifiers"},
          "body": "<identifiers xmlns:prop=\"http://marklogic.com/xdmp/property\"><identifier><namespace>ukncn</namespace><uuid>id-631a237a-aebc-4c04-b93e-29ead488d368</uuid><value>[2023]
          EAT 123</value><deprecated>false</deprecated><url_slug>eat/2023/123</url_slug></identifier></identifiers>",
          "encoding": "utf-8"}]'
      headers:
        Content-Type:
          - multipart/mixed; boundary=vcr_cassette_boundary
      status:
        code: 200
        message: OK
[...]
  - request:
      body: xquery=xquery+version+%221.0-ml%22%3B%0Aimport+module+namespace+dls+%3D+%22http%3A%2F%2Fmarklogic.com%2Fxdmp%2Fdls%22+at+%22%2FMarkLogic%2Fdls.xqy%22%3B%0A%0Adeclare+variable+%24uri+as+xs%3Astring+external%3B%0A%0Adls%3Adocument-checkout-status%28%24uri%29&vars=%7B%22uri%22%3A+%22%2Feat%2F2023%2F123.xml%22%7D
      headers:
        Content-type:
          - application/x-www-form-urlencoded
      method: POST
      uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/eval
    response:
      body:
        string: ""
      headers:
      status:
        code: 200
        message: OK
version: 1
