interactions:
  - request:
      body: module=%2Fjudgments%2Fsearch%2Fsearch-v2.xqy&vars=%7B%22court%22%3A+%5B%22uksc%22%5D%2C+%22judge%22%3A+%22%22%2C+%22page%22%3A+1%2C+%22page-size%22%3A+1%2C+%22q%22%3A+%22%22%2C+%22party%22%3A+%22%22%2C+%22neutral_citation%22%3A+%22%22%2C+%22document_name%22%3A+%22%22%2C+%22consignment_number%22%3A+%22%22%2C+%22specific_keyword%22%3A+%22%22%2C+%22order%22%3A+%22%22%2C+%22from%22%3A+%22%22%2C+%22to%22%3A+%22%22%2C+%22show_unpublished%22%3A+%22false%22%2C+%22only_unpublished%22%3A+%22false%22%2C+%22only_with_html_representation%22%3A+%22false%22%2C+%22collections%22%3A+%22judgment%22%2C+%22quoted_phrases%22%3A+%5B%5D%7D
      headers:
        Content-type:
          - application/x-www-form-urlencoded
      method: POST
      uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/invoke
    response:
      body:
        string:
          'vcr-multipart-parts:[{"content_type": "application/xml", "extra_headers":
          {"X-Primitive": "document-node()"}, "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<search:response
          snippet-format=\"empty-snippet\" total=\"474\" start=\"1\" page-length=\"1\"
          selected=\"include\" xmlns:search=\"http://marklogic.com/appservices/search\">\n  <search:result
          index=\"1\" uri=\"/uksc/1701/9999.xml\" path=\"fn:doc(&quot;/uksc/1701/9999.xml&quot;)\"
          score=\"66560\" confidence=\"0.3739467\" fitness=\"0.743419\">\n    <search:snippet/>\n    <search:extracted
          kind=\"element\">\n      <FRBRdate date=\"1000-01-01\" name=\"judgment\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRname
          value=\"trial judgment\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
          date=\"2024-04-11T09:54:41\" name=\"transform\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <uk:hash
          xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">a1bc2f2a6317d72a4fbc75a4aef3a8191b44ae7d6b3966c245880648565a016b</uk:hash>\n      <uk:cite
          xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">[1701] UKSC 9999</uk:cite>\n      <uk:court
          xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">UKSC</uk:court>\n      <uk:jurisdiction
          xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\"/>\n    </search:extracted>\n    <search:extracted
          kind=\"identifiers\" xmlns:map=\"http://marklogic.com/xdmp/map\">\n      <identifiers
          xmlns:prop=\"http://marklogic.com/xdmp/property\">\n\t<identifier>\n\t  <namespace>ukncn</namespace>\n\t  <uuid>id-261100fc-768a-4bef-b9a6-5377a5089f2b</uuid>\n\t  <value>[1701]
          UKSC 9999</value>\n\t  <url_slug>uksc/1701/9999</url_slug>\n\t</identifier>\n      </identifiers>\n    </search:extracted>\n  </search:result>\n  <search:facet
          name=\"court\" type=\"xs:string\">\n    <search:facet-value name=\"UKSC\"
          count=\"474\">UKSC</search:facet-value>\n  </search:facet>\n  <search:facet
          name=\"year\" type=\"xs:gYear\">\n    <search:facet-value name=\"2013\" count=\"9\">2013</search:facet-value>\n    <search:facet-value
          name=\"2014\" count=\"42\">2014</search:facet-value>\n    <search:facet-value
          name=\"2015\" count=\"60\">2015</search:facet-value>\n    <search:facet-value
          name=\"2016\" count=\"48\">2016</search:facet-value>\n    <search:facet-value
          name=\"2017\" count=\"66\">2017</search:facet-value>\n    <search:facet-value
          name=\"2018\" count=\"48\">2018</search:facet-value>\n    <search:facet-value
          name=\"2019\" count=\"50\">2019</search:facet-value>\n    <search:facet-value
          name=\"2020\" count=\"43\">2020</search:facet-value>\n    <search:facet-value
          name=\"2021\" count=\"43\">2021</search:facet-value>\n    <search:facet-value
          name=\"2022\" count=\"28\">2022</search:facet-value>\n  </search:facet>\n  <search:metrics>\n    <search:query-resolution-time>PT0.012118S</search:query-resolution-time>\n    <search:facet-resolution-time>PT0.002446S</search:facet-resolution-time>\n    <search:snippet-resolution-time>PT0.000035S</search:snippet-resolution-time>\n    <search:extract-resolution-time>PT0.000718S</search:extract-resolution-time>\n    <search:total-time>PT0.015859S</search:total-time>\n  </search:metrics>\n</search:response>",
          "encoding": "utf-8"}]'
      headers:
        Content-Type:
          - multipart/mixed; boundary=vcr_cassette_boundary
      status:
        code: 200
        message: OK
[...]
  - request:
      body: module=%2Fjudgments%2Fsearch%2Fsearch-v2.xqy&vars=%7B%22court%22%3A+%5B%22ewcr%22%5D%2C+%22judge%22%3A+%22%22%2C+%22page%22%3A+1%2C+%22page-size%22%3A+1%2C+%22q%22%3A+%22%22%2C+%22party%22%3A+%22%22%2C+%22neutral_citation%22%3A+%22%22%2C+%22document_name%22%3A+%22%22%2C+%22consignment_number%22%3A+%22%22%2C+%22specific_keyword%22%3A+%22%22%2C+%22order%22%3A+%22%22%2C+%22from%22%3A+%22%22%2C+%22to%22%3A+%22%22%2C+%22show_unpublished%22%3A+%22false%22%2C+%22only_unpublished%22%3A+%22false%22%2C+%22only_with_html_representation%22%3A+%22false%22%2C+%22collections%22%3A+%22judgment%22%2C+%22quoted_phrases%22%3A+%5B%5D%7D
      headers:
        Content-type:
          - application/x-www-form-urlencoded
      method: POST
      uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/invoke
    response:
      body:
        string:
          'vcr-multipart-parts:[{"content_type": "application/xml", "extra_headers":
          {"X-Primitive": "document-node()"}, "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<search:response
          snippet-format=\"empty-snippet\" total=\"0\" start=\"1\" page-length=\"1\"
          selected=\"include\" xmlns:search=\"http://marklogic.com/appservices/search\">\n  <search:facet
          name=\"court\" type=\"xs:string\"/>\n  <search:facet name=\"year\" type=\"xs:gYear\"/>\n  <search:metrics>\n    <search:query-resolution-time>PT0.006372S</search:query-resolution-time>\n    <search:facet-resolution-time>PT0.000135S</search:facet-resolution-time>\n    <search:extract-resolution-time/>\n    <search:total-time>PT0.00685S</search:total-time>\n  </search:metrics>\n</search:response>",
          "encoding": "utf-8"}]'
      headers:
        Content-Type:
          - multipart/mixed; boundary=vcr_cassette_boundary
      status:
        code: 200
        message: OK
[...]
