<h3>Buttons</h3>
<h4>Call to action button</h4>
<details>
  <summary>Usage details</summary>
  <p>
    This primary button has been designed to stand out as the main call to action on a web page. This
    component should be used sparingly, that is not to say we must only have one per page, but using more might be confuse the user, especially if positioned close together.
  </p>
</details>
<p>
  Use with <code>class="button-cta"</code>:
</p>
<button class="button-cta">Call to action</button>
<button class="button-cta" disabled>Call to action (disabled)</button>
<h4>Secondary button</h4>
<details>
  <summary>Usage details</summary>
  <p>
    This secondary button has been designed to be used on supporting content on a webpage.
    There could be more than one of these button styles used per page if required.
  </p>
</details>
<p>
  Use with <code>class="button-secondary"</code>:
</p>
<button class="button-secondary">Secondary button</button>
<button class="button-secondary" disabled>Secondary button (disabled)</button>
<h4>Danger button</h4>
<details>
  <summary>Usage details</summary>
  <p>
    This button indicates that the action which will be taken is potentially destructive, and should be used with
    caution.
  </p>
</details>
<p>
  Use with <code>class="button-danger"</code>:
</p>
<button class="button-danger">Danger button</button>
<button class="button-danger" disabled>Danger button (disabled)</button>
