<h3>Colours</h3>
<h4>Primary colours</h4>
<details>
  <summary>Usage details</summary>
  <p>
    The <b>Yellow</b> is used as an accent colour to give content emphasis and is used sparingly.
    <br />
    The <b>Almost Black</b> is used for headers and footers mainly to top and tail page layout.
  </p>
  <p>
    The <b>Aqua Blue</b> and <b>Dark Blue</b> colours are used to signpost user interaction, for example links and buttons
  </p>
</details>
<p>Use these variables:</p>
<div class="swatch">
  <p>
    <code>$color__yellow</code>
  </p>
  <div class="swatch--yellow">
    <p>Yellow</p>
  </div>
</div>
<div class="swatch">
  <p>
    <code>$color__almost-black</code>
  </p>
  <div class="swatch--almost-black">
    <p>Almost Black</p>
  </div>
</div>
<div class="swatch">
  <p>
    <code>$color__aqua-blue</code>
  </p>
  <div class="swatch--aqua-blue">
    <p>Aqua Blue</p>
  </div>
</div>
<div class="swatch">
  <p>
    <code>$color__dark-blue</code>
  </p>
  <div class="swatch--dark-blue">
    <p>Dark Blue</p>
  </div>
</div>
<h4>Secondary colours</h4>
<details>
  <summary>Usage details</summary>
  <p>The grey suite of secondary colours are used for content panels to seperate and define page layout.</p>
</details>
<p>Use these variables:</p>
<div class="swatch">
  <p>
    <code>$color__light-grey</code>
  </p>
  <div class="swatch--light-grey">
    <p>Light Grey</p>
  </div>
</div>
<div class="swatch">
  <p>
    <code>$color__grey</code>
  </p>
  <div class="swatch--grey">
    <p>Grey</p>
  </div>
</div>
<div class="swatch">
  <p>
    <code>$color__dark-grey</code>
  </p>
  <div class="swatch--dark-grey">
    <p>Dark Grey</p>
  </div>
</div>
<h4>Notification colours</h4>
<p>Use these variables for all new notification:</p>
<div class="swatch">
  <p>
    <code>$color__success</code>
  </p>
  <div class="swatch--success">
    <p>Success</p>
  </div>
</div>
<div class="swatch">
  <p>
    <code>color__failure</code>
  </p>
  <div class="swatch--failure">
    <p>Failure</p>
  </div>
</div>
<p>
  Keep these legacy variables [<code>$color__green</code>] and [<code>$color__red</code>] for now until old edit screen
  has been deleted:
</p>
<div class="swatch">
  <p>
    <code>$color__green</code>
  </p>
  <div class="swatch--green">
    <p>Success</p>
  </div>
</div>
<div class="swatch">
  <p>
    <code>color__red</code>
  </p>
  <div class="swatch--red">
    <p>Failure</p>
  </div>
</div>
<h4>Tag colours</h4>
<p>Use these variables:</p>
<div class="swatch">
  <p>
    <code>$colour__in-progress</code>
  </p>
  <div class="swatch--in-progress">
    <p>In Progress</p>
  </div>
</div>
<div class="swatch">
  <p>
    <code>$colour__on-hold</code>
  </p>
  <div class="swatch--on-hold">
    <p>On Hold</p>
  </div>
</div>
<div class="swatch">
  <p>
    <code>$colour__published</code>
  </p>
  <div class="swatch--published">
    <p>Published</p>
  </div>
</div>
