<h3>Notification messaging</h3>
<h4>Page notification</h4>
<details>
  <summary>
    Usage details
  </summary>
  <p>These designs are used to notify significant user messaging and appear near the top of the page.</p>
  <p>
    <b>Success</b> is used to convey a positive message such as successfully logging in; and <b>Failure</b> is used to alert the user of an error for example failed log in credentials.
  </p>
</details>
<p>
  Used for page reload events &ndash; the message will stay on the screen until the user interacts with something else.
</p>
<p>
  Use with class names <code>page-notification--success</code> or <code>page-notification--failure</code>:
</p>
<div class="page-notification--success">Successfully signed in as Crispin.</div>
<div class="page-notification--failure">The username and/or password you specified are not correct.</div>
<h4>Context notification</h4>
<p>
  Used for individual interactive elements such as forms which submit data via AJAX, when the message should be
  incorporated within the element itself, or placed nearby.
</p>
<p>
  Use with class names <code>context-notification--success</code> or <code>context-notification--failure</code>:
</p>
<div class="context-notification--success">Metadata has been saved successfully.</div>
<div class="context-notification--failure">Please select at least one checkbox.</div>
