<h4>Tabs</h4>
<details>
  <summary>
    Usage details
  </summary>
  <p>
    Tabs are usually used to accommodate sections of content that can share the same space and heirarchy. For example the 'HTML view' and the 'PDF view' on the editor user interface.
  </p>
</details>
<p>
  Use with <code>include "includes/tabs.html" with label1="HTML view" label2="PDF view" url1="#first-tab" url2="#second-tab" selected=1 javascript_enabled=True</code>:
</p>
{% include "includes/tabs.html" with label1="HTML view" label2="PDF view" url1="#first-tab" url2="#second-tab" selected=1 javascript_enabled=True %}
