{% from "govuk_frontend_jinja/components/date-input/macro.html" import govukDateInput %}
{% macro date_input(field) %}
  {% set errors = {"text": field.errors | join(", ")} if field.errors else None %}
  {% set inputClass = "govuk-input--width-2 govuk-input--error" if field.errors else "govuk-input--width-2" %}
  {% set parts = field.field.widget.decompress(field.value()) %}
  {% set day = parts[0] or "" %}
  {% set month = parts[1] or "" %}
  {% set year = parts[2] or "" %}
  {{ govukDateInput({
    "id":        field.id_for_label,
    "namePrefix": field.html_name,
    "fieldset": {
    "legend": { "text": field.label, "classes": "govuk-fieldset__legend--s" }
    },
    "hint":         { "text": field.help_text } if field.help_text else None,
    "items": [
    { "name": "day",   "value": day,   "classes": inputClass },
    { "name": "month", "value": month, "classes": inputClass },
    { "name": "year",  "value": year,  "classes": "govuk-input--width-4" ~ (" govuk-input--error" if field.errors else "") }
  ],
  "errorMessage": errors
  }) }}
{% endmacro %}
