{% from "components/badge.jinja" import badge %}
{% from "components/icon.jinja" import icon %}
{% from "components/button.jinja" import button %}
{% macro document_metadata(document=None, preferred_ncn=None, full_details=True) %}
  <div class="aside__container" data-aside-toggle>
    <div class="aside__toggle" data-aside-toggle-button>
      <span class="icon icon__chevron-left"></span>
      <span>Metadata</span>
    </div>
    <div class="aside__content">
      <div class="aside__title">
        <span>Metadata</span>
        {{ button(variant="link", size="small", content="Hide", attrs={"data-aside-toggle-button":""}) }}
      </div>
      <dl>
        {% if full_details %}
          <div>
            <dt>NCN</dt>
            <dd>
              {{ preferred_ncn }}
            </dd>
          </div>
          <div>
            <dt>Court</dt>
            <dd>
              {{ document.body.court_and_jurisdiction_identifier_string }}
            </dd>
          </div>
          <div>
            <dt>Judgment date</dt>
            <dd>
              {{ document.body.document_date_as_date | date("%-d %b %Y") }}
            </dd>
          </div>
          <div>
            <dt>Name</dt>
            <dd>
              {{ document.body.name }}
            </dd>
          </div>
          <div>
            <dt>Identifiers</dt>
            <dd>
              —
            </dd>
          </div>
        {% endif %}
        <div>
          <dt>TDR ref</dt>
          <dd>
            {{ document.consignment_reference or "—" }}
          </dd>
        </div>
        <div>
          <dt>Type</dt>
          <dd>
            {{ document.document_noun|title }}
          </dd>
        </div>
        <div>
          <dt>First pub</dt>
          <dd>
            {% if document.has_ever_been_published %}
              {% if document.first_published_datetime_display %}
                {{ document.first_published_datetime_display | date("%-d %b %Y %H:%M") }}
              {% else %}
                Unknown
              {% endif %}
            {% else %}
              —
            {% endif %}
          </dd>
        </div>
        <div>
          <dt>Jurisdiction</dt>
          <dd>
            {{ document.body.jurisdiction or "—" }}
          </dd>
        </div>
        <div>
          <dt>Case number</dt>
          <dd>
            {{ document.body.case_number or "—" }}
          </dd>
        </div>
        <div>
          <dt>Source name</dt>
          <dd>
            {{ document.source_name }}
          </dd>
        </div>
        <div>
          <dt>Source email</dt>
          <dd>
            {{ document.source_email }}
          </dd>
        </div>
        <div>
          <dt>Judges</dt>
          <dd>
            —
          </dd>
        </div>
        <div>
          <dt>Categories</dt>
          <dd>
            {% if document.body.categories %}
              {% for category in document.body.categories %}
                {{ badge(content=category) }}
              {% endfor %}
            {% else %}
              —
            {% endif %}
          </dd>
        </div>
        <div>
          <dt>Parties</dt>
          <dd>
            —
          </dd>
        </div>
      </dl>
    </div>
  </div>
{% endmacro %}
