{% macro search_form(embedded=false) %}
  <div class="search-component">
    <div class="search-component__container">
      {% if embedded %}
        <div role="search"
             aria-label="Search by keyword or neutral citation"
             id="analytics-basic-search">{{ _search_form_fields() }}</div>
      {% else %}
        <form action="{{ url('results') }}"
              role="search"
              aria-label="Search by keyword or neutral citation"
              id="analytics-basic-search">
          {{ _search_form_fields() }}
        </form>
      {% endif %}
    </div>
  </div>
{% endmacro %}
{% macro _search_form_fields() %}
  <h2>Search for documents</h2>
  <div class="search-component__filters govuk-radios govuk-radios--small">
    <div class="search-component__filter govuk-radios__item">
      <input class="govuk-radios__input"
             type="radio"
             id="search-default"
             name="search_filter"
             value="default"
             {% if search_filter == "default" or not search_filter %}checked{% endif %} />
      <label class="govuk-label govuk-radios__label" for="search-default">Everywhere</label>
    </div>
    <div class="search-component__filter govuk-radios__item">
      <input class="govuk-radios__input"
             type="radio"
             id="search-ncn"
             name="search_filter"
             value="ncn"
             {% if search_filter == "ncn" %}checked{% endif %} />
      <label class="govuk-label govuk-radios__label" for="search-ncn">NCN</label>
    </div>
  </div>
  <div class="search-component__search-input">
    <input class="search-component__search-term-input"
           id="search_term"
           name="query"
           type="search"
           value="{{ query or "" }}" />
    {% if document_list_queue_enabled %}
      <button type="submit" class="button">Search</button>
      <a href="{{ url('home') }}?publication_status={{ publication_status or 'unpublished' }}&amp;order={{ order or '-date' }}">Clear search</a>
    {% else %}
      <input type="submit" value="Search" />
      <a href="">Clear search</a>
    {% endif %}
  </div>
{% endmacro %}
