{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% macro text_input(field) %}
  {% set errors = {"text": field.errors | join(", ")} if field.errors else None %}
  {{ govukInput({
    "label":       { "text": field.label, "classes": "govuk-label--s" },
    "hint":        { "text": field.help_text } if field.help_text else None,
    "id":          field.id_for_label,
    "name":        field.html_name,
    "value":       field.value() ,
  "errorMessage": errors
  }) }}
{% endmacro %}
