@keyframes emphasis {
  from {
    background-color: color.adjust($color-highlight-blue, $lightness: 40);
  }

  to {
    background-color: transparent;
  }
}

@keyframes emphasis-border {
  from {
    background-color: color.adjust(
      colour-var("accent-background-light"),
      $lightness: 30
    );
  }

  to {
    background-color: transparent;
  }
}
