@use "sass:color";

@keyframes emphasis {
  from {
    background-color: color.adjust(#00b0ff, $lightness: 40);
  }

  to {
    background-color: transparent;
  }
}

@keyframes emphasis-border {
  from {
    background-color: color.adjust(#ededed, $lightness: 30);
  }

  to {
    background-color: transparent;
  }
}
