.search-component {
  background-color: colour-var("accent-background-light");

  &__container {
    @include container;

    padding: $space-4;

    @media (min-width: $grid-breakpoint-medium) {
      padding: $space-4 0;
    }
  }

  h2 {
    margin: 0;
    font-size: $typography-md-text-size;
  }

  &__more-options {
    margin-top: $space-8;
  }

  input[type="submit"] {
    @include call-to-action-button;

    padding-right: $space-12;
    padding-left: $space-12;
  }

  &__search-term-label {
    @include sr-only;
  }

  input[type="search"] {
    @include text-field;

    width: 100%;
    min-height: 3.5rem;
    margin: 0;
    font-size: $typography-md-text-size;
  }

  &__filters {
    display: flex;
    gap: $space-8;
  }

  &__search-input {
    display: flex;
    gap: $space-4;
    align-items: center;

    a {
      margin-left: $space-4;
      font-weight: $typography-bold-font-weight;
      white-space: nowrap;

      &:visited {
        color: colour-var("link");
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: $space-1;
    justify-content: center;

    margin: 0 auto;

    .govuk-label {
      max-width: none;

      &::before {
        background: colour-var("background");
      }
    }
  }

  input[type="checkbox"] {
    &:focus {
      @include focus-default;
    }
  }
}
