.button {
  &-small {
    margin-top: $space-2 !important;
    margin-bottom: $space-2 !important;
    padding: $space-1 $space-2 !important;
    font-size: $typography-sm-text-size !important;
  }
}

@mixin button-disabled {
  color: $color-dark-grey;
  background-color: transparent;
  border-color: $color-grey;

  &:focus,
  &:hover {
    cursor: not-allowed;

    color: $color-dark-grey;
    text-decoration: none;

    background-color: transparent;
    outline: none;
  }
}

.button-cta {
  @include call-to-action-button;

  border: 2px solid $color-cta-background;

  &:disabled,
  &[aria-disabled="true"] {
    @include button-disabled;
  }
}

.button-secondary {
  @include call-to-action-button;

  color: $color-cta-background;
  background-color: $color-white;
  border: 2px solid $color-cta-background;

  &:visited {
    color: $color-cta-background;
  }

  &:focus,
  &:hover {
    color: white;
  }

  &:disabled,
  &[aria-disabled="true"] {
    @include button-disabled;
  }
}

.button-danger {
  @include call-to-action-button;

  color: $color-white;
  background-color: $color-red;
  border: 2px solid $color-red;

  &:visited,
  &:focus,
  &:hover {
    color: $color-white;
    background-color: $color-red;
    border-color: $color-red;
    outline-color: $color-red;
  }

  &:disabled,
  &[aria-disabled="true"] {
    @include button-disabled;
  }
}

.button-block {
  width: 100%;
}
