.button {
  &-small {
    padding: 0.4rem 0.5rem !important;
    margin-top: 0.5em !important;
    font-size: 0.8rem !important;
  }
}

@mixin button-disabled {
  color: $color__dark-grey;
  background-color: transparent;
  border-color: $color__grey;
  &:focus,
  &:hover {
    outline: none;
    background-color: transparent;
    color: $color__dark-grey;
    text-decoration: none;
    cursor: not-allowed;
  }
}

.button-cta {
  @include call-to-action-button;
  border: 2px solid $color__cta-background;

  &:disabled,
  &[aria-disabled="true"] {
    @include button-disabled;
  }
}

.button-secondary {
  @include call-to-action-button;
  background-color: $color__white;
  color: $color__cta-background;
  border: 2px solid $color__cta-background;

  &:visited {
    color: $color__cta-background;
  }

  &:focus,
  &:hover {
    color: white;
  }

  &:disabled,
  &[aria-disabled="true"] {
    @include button-disabled;
  }
}

.button-danger {
  @include call-to-action-button;
  background-color: $color__white;
  border: 2px solid $color__red;
  color: $color__red;

  &:visited {
    color: $color__cta-background;
  }

  &:focus,
  &:hover {
    background-color: $color__red;
    color: $color__white;
    outline-color: $color__red;
    border-color: $color__red;
  }

  &:disabled,
  &[aria-disabled="true"] {
    @include button-disabled;
  }
}

.button-block {
  width: 100%;
}
