@mixin label {
  p {
    padding: $space-6;
    text-align: center;
  }
}

@mixin label-light {
  @include label;

  p {
    color: colour-var("button-text");
  }
}

@mixin label-dark {
  @include label;

  p {
    color: $color-black;
  }
}

.swatch {
  display: inline-block;
  width: 200px;
  margin-right: $space-4;
  padding: 0;

  &--yellow {
    background-color: $color-yellow;

    @include label-dark;
  }

  &--almost-black {
    background-color: $color-almost-black;

    @include label-light;
  }

  &--aqua-blue {
    background-color: $color-aqua-blue;

    @include label-light;
  }

  &--dark-blue {
    background-color: $color-dark-blue;

    @include label-light;
  }

  &--light-grey {
    background-color: $color-light-grey;

    @include label-dark;
  }

  &--grey {
    background-color: colour-var("accent-border");

    @include label-dark;
  }

  &--dark-grey {
    background-color: $color-dark-grey;

    @include label-light;
  }

  &--success {
    background-color: $color-success;

    @include label-light;
  }

  &--failure {
    background-color: $color-failure;

    @include label-light;
  }

  &--green {
    background-color: $color-green;

    @include label-light;
  }

  &--red {
    background-color: $color-red;

    @include label-light;
  }

  &--in-progress {
    background-color: $colour-in-progress;

    @include label-dark;
  }

  &--on-hold {
    background-color: $colour-on-hold;

    @include label-dark;
  }

  &--published {
    background-color: $colour-published;

    @include label-dark;
  }
}
