@mixin label {
  p {
    text-align: center;
    padding: 1.5rem;
  }
}

@mixin label-light {
  @include label;

  p {
    color: $color-white;
  }
}

@mixin label-dark {
  @include label;

  p {
    color: $color-black;
  }
}

.swatch {
  width: 200px;
  display: inline-block;
  margin-right: 1rem;
  padding: 0;

  &--yellow {
    background-color: $color-yellow;
    @include label-dark;
  }

  &--almost-black {
    background-color: $color-almost-black;
    @include label-light;
  }

  &--aqua-blue {
    background-color: $color-aqua-blue;
    @include label-light;
  }

  &--dark-blue {
    background-color: $color-dark-blue;
    @include label-light;
  }

  &--light-grey {
    background-color: $color-light-grey;
    @include label-dark;
  }

  &--grey {
    background-color: $color-grey;
    @include label-dark;
  }

  &--dark-grey {
    background-color: $color-dark-grey;
    @include label-light;
  }

  &--success {
    background-color: $color-success;
    @include label-light;
  }

  &--failure {
    background-color: $color-failure;
    @include label-light;
  }

  &--green {
    background-color: $color-green;
    @include label-light;
  }

  &--red {
    background-color: $color-red;
    @include label-light;
  }

  &--in-progress {
    background-color: $colour-in-progress;
    @include label-dark;
  }

  &--on-hold {
    background-color: $colour-on-hold;
    @include label-dark;
  }

  &--published {
    background-color: $colour-published;
    @include label-dark;
  }
}
