.document-history {
  &__event-table {
    border-collapse: collapse;

    th {
      text-align: left;
      border: none;
    }

    td {
      border: none;
      border-top: 1px solid $color-dark-grey;
    }
  }

  time {
    white-space: nowrap;
  }

  &__submission-header {
    display: flex;
    flex-direction: row;
    column-gap: $space-4;

    width: 100%;
    margin-bottom: $space-4;

    h2,
    p {
      margin-top: 0;
      margin-bottom: 0;
    }

    &-show-link {
      display: flex;
      flex-grow: 1;
      align-items: flex-end;
    }

    &-reference {
      display: flex;
      align-items: flex-end;
      text-align: right;
    }
  }

  &__data-panel {
    display: flex;
    flex-direction: row;

    box-sizing: border-box;
    width: 100%;
    padding: $space-4;

    background-color: colour-var("accent-background-light");

    &-details {
      float: left;

      width: 100%;
      margin-top: $space-4;
      padding: 0;

      font-size: $typography-sm-text-size;
      line-height: $typography-lg-line-height;
      list-style-type: none;

      li {
        float: left;
        box-sizing: border-box;
        width: 100%;

        span:nth-child(odd) {
          float: left;
          width: 19%;
          margin-right: 0;
        }

        span:nth-child(even) {
          float: left;
          width: 66%;
          margin-left: 0;
        }

        @media (min-width: $grid-breakpoint-medium) {
          width: 50%;
        }
      }
    }
  }
}
