.document-navigation-links {
  a {
    position: sticky;
    top: 0;
    display: inline-block;
    margin: $space-4 $space-6;

    &.up {
      &::before {
        content: " ";

        position: sticky;
        top: 0;

        display: inline-block;

        width: $space-4;
        height: $space-4;
        margin: 0 $space-2 0 0;

        background: url($fa-chevron-up-link-blue) left no-repeat;
        background-size: contain;
      }
    }

    &.down {
      &::before {
        content: " ";

        position: sticky;
        top: 0;

        display: inline-block;

        width: $space-4;
        height: $space-4;
        margin: 0 $space-2 0 0;

        background: url($fa-chevron-down-link-blue) right no-repeat;
        background-size: contain;
      }
    }

    &:visited {
      color: $color-link-blue;
    }

    &:hover {
      color: $color-link-blue-hover;

      &.up {
        &::before {
          background-image: url($fa-chevron-up-link-hover-blue);
        }
      }

      &.down {
        &::before {
          background-image: url($fa-chevron-down-link-hover-blue);
        }
      }
    }
  }

  &.autohide {
    display: none;

    &.show {
      position: fixed;
      top: 0;

      display: flex;
      justify-content: space-between;

      width: 100%;
      margin: auto;
      margin: 0;
      padding: 0;

      background-color: colour-var("contrast-button-background");
      box-shadow: colour-var("font-base") 1px 1px 6px;

      @media (min-width: $grid-breakpoint-medium) {
        justify-content: center;
      }

      @media (min-width: $grid-breakpoint-extra-large) {
        display: inline-block;
        width: auto;
        box-shadow: none;

        a {
          display: block;
        }
      }
    }
  }
}
