.edit-component,
.judgment-info-component {
  padding: 0 $space-4;

  &__header {
    font-size: $typography-md-text-size;
    line-height: $typography-3xl-line-height;
    display: inline-block;
    font-family: $font-roboto;
    font-weight: normal;
    color: $color-almost-black;
    margin: 0 $space-6;
  }

  &__more-options {
    margin-top: $space-8;
  }

  &__panel {
    padding: $space-2 0;
  }

  label {
    padding-left: 0;
  }

  &__text-field-label {
    display: block;
  }

  input[type="submit"] {
    @include call-to-action-button;
    display: block;
  }

  &__metadata_name-input {
    @include text_field;
    width: 80%;
    font-size: $typography-lg-text-size;

    @media (min-width: $grid-breakpoint-small) {
      width: 20rem;
    }

    @media (min-width: $grid-breakpoint-medium) {
      width: 25rem;
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      width: 35rem;
    }
  }

  input[type="text"] {
    @include text_field;
  }

  input[type="checkbox"] {
    @include checkbox;
  }
}

.edit-component__actions {
  display: inline-block;
  width: auto;
  padding: $space-2 0;
}

@media (max-width: 800px) {
  .edit-component__actions {
    display: block;
  }
}
