.edit-component,
.list-versions-component,
.judgment-info-component {
  background-color: $color__light-grey;
  padding: $spacer__unit;
  &__container {
    @include container;
    text-align: left;
    padding: calc(#{$spacer__unit} * 2);
  }
  &__header {
    font-size: 1rem;
    line-height: 2.8rem;
    display: inline-block;
    font-family: $font__roboto;
    font-weight: normal;
    color: $color__almost-black;
    margin: 0 calc(#{$spacer__unit} * 1.5);
  }
  &__more-options {
    margin-top: calc($spacer__unit * 2);
  }
  &__success {
    background-color: $color__green;
    width: fit-content;
    padding: calc(#{$spacer__unit} / 2);
  }
  &__error {
    background-color: $color__red;
    width: fit-content;
    padding: calc(#{$spacer__unit} / 2);
  }
  &__panel {
    padding: calc(#{$spacer__unit} / 2) 0;
  }
  input[type=submit] {
    @include call-to-action-button;
    display: block;
    padding-left: calc(#{$spacer__unit} * 3);
    padding-right: calc(#{$spacer__unit} * 3);
  }
  span {
    font-weight: bold;
  }
  &__metadata_name-input {
    @include text_field;
    width: 80%;
    min-height: calc(#{$spacer__unit} * 3);
    font-size: 1.2rem;
    @media (min-width: $grid__breakpoint-small) {
      width: 20rem;
    }
    @media (min-width: $grid__breakpoint-medium) {
      width: 25rem;
    }
    @media (min-width: $grid__breakpoint-extra-large) {
      width: 35rem;
    }
  }
  input[type=checkbox] {
    &:focus {
      @include focus-default;
    }
  }
}

.judgment-sidebar {
  float:right;
  position: sticky;
  right: 0;
  top: 0;
  width: 20vw;

  &__block {

    margin-bottom: 2rem;

    h4 {
      margin-bottom: 0.6rem;
    }

    a {
      display: block;
    }

    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
      margin-top: 0.4rem;
    }

  }

  &__label {
    font-size: 0.9rem;
    font-weight: bold;

    &::after{
      content: "\a";
      white-space: pre;
    }
  }
}
.create-email-block {
  border: 2px #FFB952 solid;
  display: inline-block;
  padding: 0px 10px 0px 0;
  margin-left: 15%;
  &__list-header {
    padding-left: 10px;
    margin: 10px 0;
  }
  &__list {
    list-style: none;
    padding-left: 10px;
    margin: 5px 0;
  }
  &__list-link {
    padding-bottom: 10px;
  }
}
.edit-component__actions {
  display: inline-block;
  width: auto;
  padding: calc(#{$spacer__unit} / 2) 0;
}
@media (max-width: 800px) {
  .edit-component__actions {
    display: block;
  }
  .create-email-block {
    margin: 20px 0;
  }
}
