.edit-component,
.judgment-info-component {
  padding: 0 $space-4;

  &__header {
    display: inline-block;

    margin: 0 $space-6;

    font-family: $font-roboto;
    font-size: $typography-md-text-size;
    font-weight: $typography-normal-font-weight;
    line-height: $typography-3xl-line-height;
    color: $color-almost-black;
  }

  &__more-options {
    margin-top: $space-8;
  }

  &__panel {
    padding: $space-2 0;
  }

  label {
    padding-left: 0;
  }

  &__text-field-label {
    display: block;
  }

  input[type="submit"] {
    @include call-to-action-button;

    display: block;
  }

  &__metadata-name-input {
    @include text-field;

    width: 80%;
    font-size: $typography-lg-text-size;

    @media (min-width: $grid-breakpoint-small) {
      width: 20rem;
    }

    @media (min-width: $grid-breakpoint-medium) {
      width: 25rem;
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      width: 35rem;
    }
  }

  input[type="text"] {
    @include text-field;
  }

  input[type="checkbox"] {
    @include checkbox;
  }
}

.edit-component__actions {
  display: inline-block;
  width: auto;
  padding: $space-2 0;
}

@media (width <= 800px) {
  .edit-component__actions {
    display: block;
  }
}
