.environment-banner {
  color: colour-var("font-dark");
  background-color: brand-colour("pastel-blue");

  &__notice {
    padding: 0;

    a {
      font-weight: $typography-bold-font-weight;
      color: colour-var("contrast-button-text");

      &:focus {
        color: colour-var("contrast-button-text");
        background-color: colour-var("contrast-button-background");
        outline: 0.125rem solid colour-var("contrast-button-text");
      }
    }
  }

  &__environment {
    margin-right: $space-4;
    padding: 0 $space-1;

    font-weight: $typography-bold-font-weight;
    color: colour-var("font-dark");
    text-transform: uppercase;

    background-color: colour-var("contrast-button-background");
  }

  &__message {
    display: inline;
    margin: 0;
  }
}
