.judgments-footer {
  margin-top: auto;
  padding: $space-4;

  font-size: $typography-sm-text-size;
  color: colour-var("contrast-font-base");

  background-color: colour-var("contrast-background");

  &__heading {
    @include sr-only;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
  }

  &__link {
    @include link-on-dark-bg;
  }

  &__container {
    @include container;
  }
}
