.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: $color-black;

  &--sm {
    width: 0.8rem;
    height: 0.8rem;
  }

  &--lg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &--light {
    background: $color-white;
  }

  &--link {
    background: $color-aqua-blue;

    &:hover {
      background: $color-black;
    }
  }

  &__circle-check {
    mask-image: url($fa_circle_check);
  }

  &__triangle-exclamation {
    mask-image: url($fa_triangle_exclamation);
  }

  &__arrow-up-right-square {
    mask-image: url($fa_arrow_up_right_square);
  }

  &__circle-info {
    mask-image: url($fa_circle_info);
  }
}
