.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: colour-var("accent-button-background");

  &--sm {
    width: 0.8rem;
    height: 0.8rem;
  }

  &--lg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &--light {
    background: colour-var("contrast-button-background");
  }

  &--link {
    background: colour-var("link");

    &:hover {
      background: colour-var("accent-button-background");
    }
  }

  &__circle-check {
    mask-image: url($fa-circle-check);
  }

  &__triangle-exclamation {
    mask-image: url($fa-triangle-exclamation);
  }

  &__arrow-up-right-square {
    mask-image: url($fa-arrow-up-right-square);
  }

  &__circle-info {
    mask-image: url($fa-circle-info);
  }
}
