// Paths
$fa-path: "/static/fontawesome-svgs/";

// Images
$fa-arrow-up-right-square: "#{$fa-path}arrow-up-right-square.svg";
$fa-circle-check: "#{$fa-path}circle-check.svg";
$fa-circle-info: "#{$fa-path}circle-info.svg";
$fa-chevron-up-aqua-blue: "#{$fa-path}chevron-up-aqua-blue.svg";
$fa-chevron-up-link-blue: "#{$fa-path}chevron-up-link-blue.svg";
$fa-chevron-up-link-hover-blue: "#{$fa-path}chevron-up-link-hover-blue.svg";
$fa-chevron-down-link-blue: "#{$fa-path}chevron-down-link-blue.svg";
$fa-chevron-down-link-hover-blue: "#{$fa-path}chevron-down-link-hover-blue.svg";
$fa-triangle-exclamation: "#{$fa-path}triangle-exclamation.svg";
