.judgment-navigation {
  all: unset;

  display: flex;
  gap: $space-10;
  justify-content: center;

  background: $color-light-grey;
  border-bottom: 1px solid $color-dark-grey;

  &__item {
    all: unset;
    padding: $space-4 0;
    font-size: $typography-md-text-size;
    border-bottom: 5px solid transparent;

    a {
      text-decoration: none;

      &:visited {
        color: colour-var("link");
      }

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
      }
    }
  }

  &__item--active {
    font-weight: $typography-bold-font-weight;
    border-bottom-color: colour-var("link");
  }

  &__item--disabled {
    color: $color-dark-grey;
  }
}
