.judgments-list {
  &__judgments-list-controls-container {
    margin-bottom: $space-4;
  }

  &__container {
    @include container;
    padding: $space-4 0;
  }

  &__header {
    font-family: $font-roboto;
    font-weight: $typography-normal-font-weight;
    font-size: $typography-xl-text-size;
    margin: 0 0 $space-4;
    margin-left: $space-2;
    margin-bottom: $space-4;
  }

  &__more-info {
    display: inline-block;
    margin-bottom: $space-5;
    margin-right: 12rem;
  }

  &__table-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: $space-4 $space-2;
    flex-grow: 0;
    width: 100%;
    border-bottom: 1px solid black;
  }

  &__table-header-details {
    flex-basis: 100%;
    font-weight: $typography-bold-font-weight;
    @media (min-width: $grid-breakpoint-medium) {
      flex-basis: 75%;
    }
  }

  &__table-header-submitted {
    flex-basis: 12.5%;
    font-weight: $typography-bold-font-weight;
    display: none;
    @media (min-width: $grid-breakpoint-medium) {
      display: block;
    }
  }

  &__table-header-assigned {
    flex-basis: 12.5%;
    font-weight: $typography-bold-font-weight;
    display: none;
    @media (min-width: $grid-breakpoint-medium) {
      display: block;
    }
  }

  &__list {
    padding: 0;
    list-style-type: none;
    margin-top: 0;
  }

  &__judgment {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    width: 100%;
    box-sizing: border-box;
    padding: $space-4 $space-2;
    border-bottom: 1px solid $color-dark-grey;
    &:last-child {
      border-bottom: none;
    }
  }

  &__judgment-details {
    flex-basis: 100%;
    @media (min-width: $grid-breakpoint-medium) {
      flex-basis: 75%;
    }
  }

  &__judgment-submitted {
    flex-basis: 12.5%;
    display: none;
    @media (min-width: $grid-breakpoint-medium) {
      display: block;
    }
  }

  &__judgment-assigned {
    flex-basis: 12.5%;
    display: none;
    @media (min-width: $grid-breakpoint-medium) {
      display: block;
    }
  }

  &__judgment-details-submitted-mobile {
    @media (min-width: $grid-breakpoint-medium) {
      display: none;
    }
  }

  &__judgment-details-assigned-mobile {
    @media (min-width: $grid-breakpoint-medium) {
      display: none;
    }
  }

  &__judgment-details-meta {
    list-style-type: none;
    padding: 0;
    float: left;
    width: 100%;
    line-height: $typography-lg-line-height;
    margin-top: $space-4;
    font-size: $typography-sm-text-size;
    li {
      float: left;
      width: 100%;
      @media (min-width: $grid-breakpoint-medium) {
        width: 50%;
      }
      box-sizing: border-box;
      span:nth-child(odd) {
        float: left;
        width: 22%;
      }
      span:nth-child(even) {
        float: left;
        width: 72%;
      }
    }
  }

  &__judgment-details-meta-key {
    font-weight: $typography-bold-font-weight;
  }

  &__action-button {
    @include call-to-action-button;
    outline-color: $color-dark-blue;
    font-weight: $typography-normal-font-weight;
    margin-top: 0;
    padding: $space-2;
    font-size: $typography-sm-text-size;
    &:hover {
      background-color: $color-link-blue-hover;
      cursor: grab;
    }
  }

  &__judgment-details-name {
    font-size: $typography-lg-text-size;
  }
}
