.judgments-list {
  &__judgments-list-controls-container {
    margin-bottom: $space-4;

    @media (min-width: $grid-breakpoint-large) {
      display: flex;
      gap: $space-4;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__container {
    @include container;

    padding: $space-4 0;
  }

  &__header {
    margin: 0 0 $space-4;
    margin-bottom: $space-4;
    margin-left: $space-2;

    font-family: $font-roboto;
    font-size: $typography-xl-text-size;
    font-weight: $typography-normal-font-weight;
  }

  &__more-info {
    display: inline-block;
    flex: 1;
    margin-bottom: $space-5;
  }

  &__table-header {
    display: flex;
    flex-direction: row;
    flex-grow: 0;

    box-sizing: border-box;
    width: 100%;
    padding: $space-4 $space-2;

    border-bottom: 1px solid black;
  }

  &__table-header-details {
    flex-basis: 100%;
    font-weight: $typography-bold-font-weight;

    @media (min-width: $grid-breakpoint-medium) {
      flex-basis: 85%;
    }
  }

  &__table-header-submitted {
    display: none;
    flex-basis: 15%;
    font-weight: $typography-bold-font-weight;

    @media (min-width: $grid-breakpoint-medium) {
      display: block;
    }
  }

  &__list {
    margin-top: 0;
    padding: 0;
    list-style-type: none;
  }

  &__judgment {
    display: flex;
    flex-direction: row;
    flex-grow: 0;

    box-sizing: border-box;
    width: 100%;
    padding: $space-4 $space-2;

    border-bottom: 1px solid $color-dark-grey;

    &:last-child {
      border-bottom: none;
    }
  }

  &__judgment-details {
    flex-basis: 100%;

    @media (min-width: $grid-breakpoint-medium) {
      flex-basis: 85%;
    }
  }

  &__judgment-submitted {
    display: none;
    flex-basis: 15%;

    @media (min-width: $grid-breakpoint-medium) {
      display: block;
    }
  }

  &__judgment-details-submitted-mobile {
    @media (min-width: $grid-breakpoint-medium) {
      display: none;
    }
  }

  &__judgment-details-meta {
    float: left;

    width: 100%;
    margin-top: $space-4;
    padding: 0;

    font-size: $typography-sm-text-size;
    line-height: $typography-lg-line-height;
    list-style-type: none;

    li {
      float: left;
      box-sizing: border-box;
      width: 100%;

      &:nth-child(odd) {
        width: 40%;
      }

      &:nth-child(even) {
        width: 60%;
      }

      span:nth-child(odd) {
        float: left;
        width: 22%;
      }

      span:nth-child(even) {
        float: left;
        width: 72%;
      }

      @media (min-width: $grid-breakpoint-medium) {
        width: 50%;
      }
    }
  }

  &__judgment-details-meta-key {
    font-weight: $typography-bold-font-weight;
  }

  &__action-button {
    @include call-to-action-button;

    margin-top: 0;
    padding: $space-2;

    font-size: $typography-sm-text-size;
    font-weight: $typography-normal-font-weight;

    outline-color: $color-dark-blue;

    &:hover {
      cursor: grab;
      background-color: $color-link-blue-hover;
    }
  }

  &__judgment-details-name {
    font-size: $typography-lg-text-size;
  }
}
