.judgment-sidebar {
  &__block {
    &:first-child {
      margin-top: $space-12;
    }

    margin-bottom: $space-12;
    h4 {
      font-size: $typography-sm-text-size;
      line-height: 1.4rem;
      margin: 0;
    }

    p {
      margin-top: 0;
      font-size: $typography-sm-text-size;
      line-height: 1.4rem;
    }

    a {
      display: block;
    }

    ul {
      margin-top: 0;
      padding-left: 0;
    }

    li {
      margin-top: 0;
      list-style: none;
      font-size: $typography-sm-text-size;
      line-height: 1.4rem;
    }

    .judgment-status-indicator {
      font-size: $typography-md-text-size;
      margin-top: 0.2rem;
    }
  }

  &__assignment-input {
    display: block;
    width: 100%;
    height: $space-10;
    border: solid 2px $color-dark-grey;
    font-size: $typography-md-text-size;
    $font-open-sans: "Open Sans", sans-serif;
  }

  &__context-notification {
    margin-top: $space-2;
  }

  .loading-indicator {
    margin-top: $space-2;
  }
}
