.judgment-sidebar {
  &__block {
    margin-bottom: 2rem;
    h4 {
      margin-bottom: 0.6rem;
    }

    a {
      display: block;
    }

    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
      margin-top: 0.4rem;
      font-size: 0.8rem;
    }

    dl {
      margin-top: 1rem;
      font-size: 0.8rem;
    }

    dt {
      font-weight: bold;
    }

    dd {
      margin-left: 0;
      margin-bottom: $spacer__unit;
    }

    .judgment-status-indicator {
      font-size: 1rem;
    }
  }

  &__assignment-input {
    display: block;
    width: 100%;
    height: calc(2.4 * $spacer__unit);
    border: solid 2px $color__dark-grey;
    font-size: 1rem;
    $font__open-sans: "Open Sans", sans-serif;
  }

  &__context-notification {
    margin-top: calc(0.5 * $spacer__unit);
  }

  .loading-indicator {
    margin-top: calc(0.5 * $spacer__unit);
  }
}
