.judgment-toolbar {
  padding: $space-2 0;
  color: colour-var("font-dark");

  &__button {
    display: inline-block;
    margin: $space-2 $space-1 !important;
    padding: $space-2 $space-6 !important;
  }

  &__button-more {
    margin-left: $space-12 !important;

    svg {
      fill: $color-cta-background;
    }

    &:hover,
    &:focus {
      svg {
        fill: colour-var("button-text");
      }
    }

    &.toggled {
      svg {
        transform: rotate(-180deg);
      }
    }
  }

  &__delete {
    color: colour-var("form-error-text") !important;
    border-color: colour-var("form-error-border") !important;

    &:focus,
    &:hover {
      color: colour-var("button-text") !important;
      background-color: colour-var("form-error-border") !important;
      outline-color: colour-var("form-error-border") !important;
    }
  }

  &__version {
    display: flex;
    gap: $space-2;
    align-items: center;
    justify-content: center;

    text-align: center;
  }

  &__corrected-ncn-notification {
    display: flex;
    flex-direction: column;
    gap: $space-2;

    h3 {
      display: flex;
      gap: $space-2;
      align-items: center;
    }

    p,
    h3 {
      margin: 0;
    }
  }

  &__container {
    display: flex;
    gap: $space-4;
    align-items: center;
    justify-content: space-between;
  }

  &__info,
  &__actions {
    display: flex;
    gap: $space-4;
    align-items: center;
    justify-content: center;
  }

  &__submitter,
  &__status {
    display: flex;
    gap: $space-2;
    align-items: center;
    padding-right: $space-4;

    h4 {
      margin: 0;
    }
  }
}
