.judgments-list {
  &__judgments-list-controls-container {
    margin-bottom: calc(1 * $spacer__unit);
  }

  &__container {
    @include container;
    padding: calc($spacer__unit * 1) 0;
  }

  &__header {
    font-family: $font__roboto;
    font-weight: normal;
    font-size: 1.8rem;
    margin: 0 0 calc($spacer__unit);
    margin-left: 0.5rem;
  }

  &__table-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: $spacer__unit calc($spacer__unit / 2);
    flex-grow: 0;
    width: 100%;
    border-bottom: 1px solid black;
  }

  &__table-header-details {
    flex-basis: 100%;
    font-weight: bold;
    @media (min-width: $grid__breakpoint-medium) {
      flex-basis: 75%;
    }
  }

  &__table-header-submitted {
    flex-basis: 12.5%;
    font-weight: bold;
    display: none;
    @media (min-width: $grid__breakpoint-medium) {
      display: block;
    }
  }

  &__table-header-assigned {
    flex-basis: 12.5%;
    font-weight: bold;
    display: none;
    @media (min-width: $grid__breakpoint-medium) {
      display: block;
    }
  }

  &__list {
    padding: 0;
    list-style-type: none;
    margin-top: 0;
  }

  &__judgment {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    width: 100%;
    box-sizing: border-box;
    padding: $spacer__unit calc($spacer__unit / 2);
    border-bottom: 1px solid $color__dark-grey;
    &:last-child {
      border-bottom: none;
    }
  }

  &__judgment-details {
    flex-basis: 100%;
    @media (min-width: $grid__breakpoint-medium) {
      flex-basis: 75%;
    }
  }

  &__judgment-submitted {
    flex-basis: 12.5%;
    display: none;
    @media (min-width: $grid__breakpoint-medium) {
      display: block;
    }
  }

  &__judgment-assigned {
    flex-basis: 12.5%;
    display: none;
    @media (min-width: $grid__breakpoint-medium) {
      display: block;
    }
  }

  &__judgment-details-submitted-mobile {
    @media (min-width: $grid__breakpoint-medium) {
      display: none;
    }
  }

  &__judgment-details-assigned-mobile {
    @media (min-width: $grid__breakpoint-medium) {
      display: none;
    }
  }

  &__judgment-details-meta {
    list-style-type: none;
    padding: 0;
    float: left;
    width: 100%;
    line-height: 22px;
    margin-top: 1em;
    font-size: 0.8em;
    li {
      float: left;
      width: 100%;
      @media (min-width: $grid__breakpoint-medium) {
        width: 50%;
      }
      box-sizing: border-box;
      span:nth-child(odd) {
        float: left;
        width: 22%;
      }
      span:nth-child(even) {
        float: left;
        width: 72%;
      }
    }
  }

  &__judgment-details-meta-key {
    font-weight: bold;
  }

  &__action-button {
    @include call-to-action-button;
    outline-color: $color__dark-blue;
    font-weight: normal;
    margin-top: 0;
    padding: 0.5rem;
    font-size: 0.9rem;
    &:hover {
      background-color: $color__link-blue-hover;
      cursor: grab;
    }
  }

  &__judgment-details-name {
    text-transform: uppercase;
    font-size: 19px;
  }
}
