.judgment-toolbar {
  color: $color-black;
  padding: $space-2 0;

  &__button {
    display: inline-block;
    margin: $space-2 $space-1 !important;
    padding: $space-2 $space-6 !important;
  }

  &__button-more {
    margin-left: $space-12 !important;
    svg {
      fill: $color-cta-background;
    }

    &:hover,
    &:focus {
      svg {
        fill: $color-white;
      }
    }

    &.toggled {
      svg {
        transform: rotate(-180deg);
      }
    }
  }

  &__delete {
    border-color: $color-failure !important;
    color: $color-failure !important;
    &:focus,
    &:hover {
      background-color: $color-failure !important;
      color: $color-white !important;
      outline-color: $color-failure !important;
    }
  }

  &__version {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $space-2;
  }

  &__corrected-ncn-notification {
    display: flex;
    flex-direction: column;
    gap: $space-2;
    h3 {
      display: flex;
      align-items: center;
      gap: $space-2;
    }
    p,
    h3 {
      margin: 0;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $space-4;
  }

  &__info,
  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $space-4;
  }

  &__submitter,
  &__status {
    display: flex;
    align-items: center;
    gap: $space-2;
    padding-right: $space-4;

    h4 {
      margin: 0;
    }
  }

  &__more {
    &__menu {
      display: flex;
      &__group {
        h4 {
          font-size: $typography-sm-text-size;
          line-height: $typography-lg-line-height;
          margin: 0;
        }

        p {
          margin-top: 0;
          font-size: $typography-sm-text-size;
          line-height: 1.4rem;
        }

        a {
          display: block;
        }

        ul {
          margin-top: 0;
          padding-left: 0;
        }

        li {
          margin-top: 0;
          list-style: none;
          font-size: $typography-sm-text-size;
          line-height: $typography-2xl-line-height;
        }
        flex-grow: 1;
      }
    }
  }
}
