.judgment-toolbar {
  background-color: $color__light-grey;
  color: $color__black;
  padding: calc(0.5 * $spacer__unit) $spacer__unit;
  border-bottom: 0.125rem solid $color__grey;

  &__button {
    display: inline-block;
    margin: calc(0.5 * $spacer__unit) calc(0.33 * $spacer__unit) !important;
    padding: calc($spacer__unit / 2) calc($spacer__unit * 1.5) !important;
  }

  &__return-link {
    display: inline-block;

    a {
      background: $color__aqua-blue url($fa_chevron_left_white) 0.8rem 0.6rem
        no-repeat;
      background-size: 0.75rem;
      padding: calc($spacer__unit / 2) calc($spacer__unit * 1.5)
        calc($spacer__unit / 2) calc($spacer__unit * 2.5);
      display: inline-block;
      text-decoration: none;
    }
  }

  &__download {
    display: inline-block;
  }

  &__version {
    margin-top: $spacer__unit;
    font-weight: bold;
  }

  &__container {
    margin: auto;

    > div {
      @media (max-width: $grid__breakpoint-small) {
        text-align: center;
        padding: $spacer__unit;
      }
    }

    @media (min-width: $grid__breakpoint-small) {
      text-align: center;
    }
  }
}
