.judgment-component {
  margin-top: $space-4;

  &__confirmation-subtitle {
    font-weight: $typography-normal-font-weight;
  }

  &__button-actions {
    display: flex;
    flex-direction: column;
    gap: $space-8;
    align-items: flex-start;

    padding: $space-8 0;

    input.button-cta[type="submit"] {
      margin: 0;
    }
  }

  &__panel {
    padding: $space-2 0;
  }

  &__two-column-container {
    display: flex;
    gap: $space-4;
  }

  &__left-panel {
    flex: 1;
  }

  &__back-button-unpublished {
    margin-left: 0;
  }

  &__live-link {
    margin-top: 0;
    margin-bottom: $space-8;
  }

  &__minor-issues-options {
    input[type="checkbox"] {
      transform: scale(2);
    }

    label {
      position: relative;
      left: $space-8;
      display: inline-block;
    }
  }

  input[type="submit"] {
    position: relative;
    display: inline-block;
  }

  &__metadata-name-input {
    @include text-field;

    width: 80%;
    min-height: $space-12;
    font-size: $typography-lg-text-size;

    @media (min-width: $grid-breakpoint-small) {
      width: 20rem;
    }

    @media (min-width: $grid-breakpoint-medium) {
      width: 25rem;
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      width: 35rem;
    }
  }
}

.email-confirm-publish {
  display: inline-block;
  padding: 0 $space-2 0 0;
  border: 2px #ffb952 solid;

  &__list-header {
    margin: $space-2 0;
    padding-left: $space-2;
  }

  &__list {
    margin: $space-1 0;
    padding-left: $space-2;
    list-style: none;
  }

  &__list-link {
    padding-bottom: $space-2;
  }
}

.email-hold-publish {
  display: inline-block;
  padding: 0 $space-2 0 0;
  border: 2px #ffb952 solid;

  &__list-header {
    margin: $space-2 0;
    padding-left: $space-2;
  }

  &__list {
    margin: $space-1 0;
    padding-left: $space-2;
    list-style: none;
  }

  &__list-link {
    padding-bottom: $space-2;
  }
}

.edit-component__actions {
  display: inline-block;
  width: auto;
  padding: $space-2 0;
}

@media (width <= 800px) {
  .edit-component__actions {
    display: block;
  }
}
