.judgment-component {
  margin-top: $space-4;

  &__confirmation-title {
    font-weight: $typography-normal-font-weight;
  }

  &__panel {
    padding: $space-2 0;
  }

  &__two-column-container {
    display: flex;
    gap: $space-4;
  }

  &__left-panel {
    flex: 1;
  }

  &__back-button {
    margin-left: $space-8;
  }

  &__back-button-unpublished {
    margin-left: 0;
  }

  &__live-link {
    margin-top: 0;
    margin-bottom: $space-8;
  }

  &__minor-issues-options {
    input[type="checkbox"] {
      transform: scale(2);
    }

    label {
      display: inline-block;
      position: relative;
      left: $space-8;
    }
  }

  input[type="submit"] {
    display: inline-block;
    position: relative;
  }

  &__metadata_name-input {
    @include text_field;
    width: 80%;
    min-height: $space-12;
    font-size: $typography-lg-text-size;
    @media (min-width: $grid-breakpoint-small) {
      width: 20rem;
    }

    @media (min-width: $grid-breakpoint-medium) {
      width: 25rem;
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      width: 35rem;
    }
  }
}

.email-confirm-publish {
  border: 2px #ffb952 solid;
  display: inline-block;
  padding: 0px $space-2 0px 0;

  &__list-header {
    padding-left: $space-2;
    margin: $space-2 0;
  }

  &__list {
    list-style: none;
    padding-left: $space-2;
    margin: $space-1 0;
  }

  &__list-link {
    padding-bottom: $space-2;
  }
}

.email-hold-publish {
  border: 2px #ffb952 solid;
  display: inline-block;
  padding: 0px $space-2 0px 0;

  &__list-header {
    padding-left: $space-2;
    margin: $space-2 0;
  }

  &__list {
    list-style: none;
    padding-left: $space-2;
    margin: $space-1 0;
  }

  &__list-link {
    padding-bottom: $space-2;
  }
}

.edit-component__actions {
  display: inline-block;
  width: auto;
  padding: $space-2 0;
}

@media (max-width: 800px) {
  .edit-component__actions {
    display: block;
  }
}
