.judgment-metadata-panel {
  display: flex;
  flex-direction: row;
  gap: $space-4;

  padding: $space-4 $space-2 0;

  border-top: 1px solid $color-almost-black;
  border-bottom: 1px solid $color-almost-black;

  &__primary-details {
    flex: 60%;

    li {
      span:nth-child(odd) {
        width: 55px;
        text-align: right;
      }
    }
  }

  &__secondary-details {
    flex: 40%;

    li {
      span:nth-child(odd) {
        width: 110px;
        text-align: right;
      }
    }
  }

  &__primary-details,
  &__secondary-details {
    display: flex;
    flex-direction: column;
    row-gap: $space-2;

    width: 100%;
    margin: 0;
    padding: 0 0 $space-4;

    font-size: $typography-sm-text-size;
    line-height: $typography-lg-line-height;
    list-style-type: none;

    li {
      display: flex;
      gap: $space-4;
      width: 100%;
    }
  }

  &__key {
    font-weight: $typography-bold-font-weight;
  }
}
