.judgment-component {
  margin-top: $spacer__unit;

  &__panel {
    padding: calc(#{$spacer__unit} / 2) 0;
  }

  &__two-column-container {
    display: flex;
    gap: $spacer__unit;
  }

  &__left-panel {
    margin-left: 1rem;
    flex: 1;
  }

  &__back-button {
    margin-left: 2rem;
  }

  &__back-button-unpublished {
    margin-left: 0rem;
  }

  &__live-link {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  &__minor-issues-options {
    input[type="checkbox"] {
      transform: scale(2);
    }
    label {
      display: inline-block;
      position: relative;
      left: 2rem;
    }
  }

  input[type="submit"] {
    display: inline-block;
    position: relative;
  }

  &__metadata_name-input {
    @include text_field;
    width: 80%;
    min-height: calc(#{$spacer__unit} * 3);
    font-size: 1.2rem;
    @media (min-width: $grid__breakpoint-small) {
      width: 20rem;
    }
    @media (min-width: $grid__breakpoint-medium) {
      width: 25rem;
    }
    @media (min-width: $grid__breakpoint-extra-large) {
      width: 35rem;
    }
  }
}

.email-confirm-publish {
  border: 2px #ffb952 solid;
  display: inline-block;
  padding: 0px 10px 0px 0;
  &__list-header {
    padding-left: 10px;
    margin: 10px 0;
  }
  &__list {
    list-style: none;
    padding-left: 10px;
    margin: 5px 0;
  }
  &__list-link {
    padding-bottom: 10px;
  }
}
.email-hold-publish {
  border: 2px #ffb952 solid;
  display: inline-block;
  padding: 0px 10px 0px 0;
  &__list-header {
    padding-left: 10px;
    margin: 10px 0;
  }
  &__list {
    list-style: none;
    padding-left: 10px;
    margin: 5px 0;
  }
  &__list-link {
    padding-bottom: 10px;
  }
}
.edit-component__actions {
  display: inline-block;
  width: auto;
  padding: calc(#{$spacer__unit} / 2) 0;
}
@media (max-width: 800px) {
  .edit-component__actions {
    display: block;
  }
}
