a {
  color: $color-link-blue;
  text-decoration: underline;

  &:visited {
    color: $color-link-blue-visited;
  }

  &:hover {
    color: $color-link-blue-hover;
    text-decoration: none;
  }

  &:active {
    color: $color-link-blue-active;
  }

  &:focus {
    @include focus-default;
  }
}

#skip-to-main-content {
  position: absolute;
  top: -3rem;

  &:focus {
    z-index: 999;
    top: 0.313rem;
    left: 0.313rem;

    padding: $space-2;

    color: $color-black;

    background-color: $color-white;
    border: 0.19rem solid $color-black;
    outline: 0.313rem solid $color-white;
  }
}
