a {
  color: colour-var("link");
  text-decoration: underline;

  &:visited {
    color: colour-var("link-visited");
  }

  &:hover {
    color: colour-var("link");
    text-decoration: none;
  }

  &:active {
    color: colour-var("link");
  }

  &:focus {
    @include focus-default;
  }
}

#skip-to-main-content {
  position: absolute;
  top: -3rem;

  &:focus {
    z-index: 999;
    top: 0.313rem;
    left: 0.313rem;

    padding: $space-2;

    color: colour-var("contrast-button-text");

    background-color: colour-var("contrast-button-background");
    border: 0.19rem solid colour-var("contrast-button-text");
    outline: 0.313rem solid colour-var("contrast-button-background");
  }
}
