.login-background {
  background-color: $color-light-grey;
  padding-top: $spacer-unit * 2;
  padding-bottom: $spacer-unit * 2;

  @media (min-width: $grid-breakpoint-small) {
    padding-top: $spacer-unit * 5;
    padding-bottom: $spacer-unit * 5;
  }

  @media (min-width: $grid-breakpoint-large) {
    padding-top: $spacer-unit * 8;
    padding-bottom: $spacer-unit * 8;
  }
}

.login-container {
  background-color: #fff;
  border: 5px solid $color-yellow;
  border-radius: 8px;

  margin: auto;

  max-width: 20rem;
  width: 80%;
  padding: $spacer-unit * 2;

  h1 {
    margin: 0;
  }

  &__form-group {
    margin-top: $spacer-unit;
    margin-bottom: $spacer-unit;
  }

  &__label {
    font-weight: bold;
  }

  &__text-field {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.4em;
    margin-top: $spacer-unit * 0.5;
  }
}
