.login-background {
  padding-top: $space-8;
  padding-bottom: $space-8;
  background-color: $color-light-grey;

  @media (min-width: $grid-breakpoint-small) {
    padding-top: $space-20;
    padding-bottom: $space-20;
  }

  @media (min-width: $grid-breakpoint-large) {
    padding-top: $space-32;
    padding-bottom: $space-32;
  }
}

.login-container {
  width: 80%;
  max-width: 20rem;
  margin: auto;
  padding: $space-8;

  background-color: #fff;
  border: 5px solid $color-yellow;
  border-radius: 8px;

  h1 {
    margin: 0;
  }

  .login {
    display: flex;
    flex-direction: column;
    gap: $space-4;
  }

  &__label {
    font-weight: $typography-bold-font-weight;
  }

  &__text-field {
    box-sizing: border-box;
    width: 100%;
    margin-top: $space-2;
    font-size: $typography-lg-text-size;
  }

  .button-cta {
    text-align: center;
  }
}
