.metadata-component {
  background-color: $color__light-grey;
  padding: $spacer__unit;
  
  &__container {
    display: inline-block;
    width: auto;
    padding: calc(#{$spacer__unit} / 2) 0;
  }
  &__ncn {
    display: inline-block;
    padding: calc(#{$spacer__unit} / 2) 0;
  }
  &__court {
    display: inline-block;
    margin-left: 2%;
    padding: calc(#{$spacer__unit} / 2) 0;
  }
  &__date {
    display: inline-block;
    margin-left: 4%;
    padding: calc(#{$spacer__unit} / 2) 0;
  }
  &__tdr {
    font-size: 1rem;
    line-height: 2.8rem;
    display: inline-block;
    font-family: $font__roboto;
    font-weight: normal;
    color: $color__almost-black;
    margin: 0 calc(#{$spacer__unit} * 1.5);
  }
  &__panel {
    display: inline-block;
    padding: calc(#{$spacer__unit} / 2) 0;
  } 
  &__actions {
    display: inline-block;
    width: auto;
    padding: calc(#{$spacer__unit} / 2) 0;
  }
  &__main-labels {
    display: block;
    margin-bottom: 0.5rem;
  }
  &__tdr-label{
    display: block;
    margin-bottom: 0;
    bottom: 3rem;
    left: 8.5rem;
    position: relative;
  }
 
  &__more-options {
    margin-top: calc($spacer__unit * 2);
  }
  &__success {
    background-color: $color__green;
    width: fit-content;
    padding: calc(#{$spacer__unit} / 2);
  }
  &__error {
    background-color: $color__red;
    width: fit-content;
    padding: calc(#{$spacer__unit} / 2);
  }
  &__panel {
    padding: calc(#{$spacer__unit} / 2) 0;
  }
  input[type=submit] {
    @include call-to-action-button;
   display: block;
    width: auto;
    min-height: 0.5rem;
    right: 5rem;
    position: relative;
  }
  
  &__judgment_date-input{
  
    width: 80%;
    min-height: 2rem;
    font-size: 1rem;
    @media (min-width: $grid__breakpoint-small) {
      width: 4rem;
    }
    @media (min-width: $grid__breakpoint-medium) {
      width: 2rem;
    }
    @media (min-width: $grid__breakpoint-extra-large) {
      width: 2rem;
    }
  }
  &__metadata_name-input {
    @include text_field;
    width: 80%;
    min-height: 2.5rem;
    font-size: 1rem;
    padding-right: 5.5rem;
    @media (min-width: $grid__breakpoint-small) {
      width: 4rem;
    }
    @media (min-width: $grid__breakpoint-medium) {
      width: 4rem;
    }
    @media (min-width: $grid__breakpoint-extra-large) {
      width: 4rem;
    }
  }
  input[type=text] {
    width: 100%;
    min-height: 2rem;
    @media (max-width: $grid__breakpoint-medium) {
      margin: auto 1rem;
      width: auto;
      min-height: 1rem;
      }
  }
}
