.metadata-component {
  background-color: $color__light-grey;
  border-style: solid;
  border-color: #ffffff;
  padding: $spacer__unit;

  @media (min-width: 1400px) {
    width: 65%;
    border-width: 1rem 20rem 1rem 20rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  form {
    display: flex;
    gap: calc(2 * $spacer__unit);
  }
  &__left-column {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  &__right-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: start;
    > div {
      @media (min-width: $grid__breakpoint-large) {
        height: calc(1.8 * $spacer__unit);
      }
    }

    .metadata-component__main-labels {
      @media (min-width: $grid__breakpoint-large) {
        display: inline-block;
        margin: 0;
        width: calc(4 * $spacer__unit);
      }
    }

    p {
      @media (min-width: $grid__breakpoint-large) {
        display: inline-block;
        margin: 0;
        line-height: $spacer__unit;
      }
    }
  }

  &__top-left-row {
    display: flex;
    flex-direction: row;
    gap: $spacer__unit;
  }

  &__ncn {
    width: 33.33%;
    input {
      width: 100% !important;
    }
  }

  &__court {
    width: 33%;
    @media (min-width: $grid__breakpoint-large) {
      width: 50%;
    }
    input {
      width: 100% !important;
    }
  }

  &__date {
    width: 33%;
    @media (min-width: $grid__breakpoint-large) {
      width: 16.67%;
    }
    input {
      width: 100% !important;
    }
  }

  &__actions {
    margin-top: auto;
    width: 100%;
    height: auto !important;
    input {
      margin: 0;
    }
  }

  &__status {
    p {
      border: 3px solid white;
    }
    margin-bottom: calc($spacer__unit / 2);
    white-space: nowrap;
  }

  &__main-labels {
    display: block;
    margin-bottom: calc($spacer__unit / 4);
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: $color__dark-grey;
  }

  &__more-options {
    margin-top: calc($spacer__unit * 2);
  }
  &__success {
    background-color: $color__green;
    width: fit-content;
    padding: calc(#{$spacer__unit} / 2);
  }
  &__error {
    background-color: $color__red;
    width: fit-content;
    padding: calc(#{$spacer__unit} / 2);
  }

  input[type="submit"] {
    @include call-to-action-button;
    width: 10rem;
    min-height: 0.5rem;
  }

  &__court-input {
    @include text_field;
    box-sizing: border-box;
    width: 50%;
    left: 2rem;
    min-height: 2rem;
    font-size: 1rem;
    $font__open-sans: "Open Sans", sans-serif;
    padding: 0.5rem;
    border: 2px solid $color__dark-grey;
    margin: 0;
  }

  &__judgment_date-input {
    width: 80%;
    min-height: 2rem;
    font-size: 1rem;
    @media (min-width: $grid__breakpoint-small) {
      width: 4rem;
    }
    @media (min-width: $grid__breakpoint-medium) {
      width: 2rem;
    }
    @media (min-width: $grid__breakpoint-extra-large) {
      width: 2rem;
    }
  }

  &__metadata_name-input {
    @include text_field;
    width: 100%;
    margin-top: 0;
    box-sizing: border-box;
    height: calc(100% - 1rem);
    font-size: 1rem;
    resize: none;
  }

  input[type="text"] {
    @include text_field;
    box-sizing: border-box;
    width: 95%;
    min-height: 2rem;
    font-size: 1rem;
    $font__open-sans: "Open Sans", sans-serif;
    padding: 0.5rem;
    border: 2px solid $color__dark-grey;
    margin: 0;
  }

  input[type="submit"] {
    width: 85%;
    margin-left: 0.5rem;
  }
}
