.metadata-header__block {
  padding: $space-8 0;
  background-color: colour-var("accent-background-light");
}

.metadata-component {
  @include container;

  background-color: colour-var("accent-background-light");

  form {
    display: flex;
    gap: $space-8;
  }

  &__left-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: $space-2;
  }

  &__main-labels {
    display: block;

    margin-bottom: $space-1;

    font-size: $typography-sm-text-size;
    line-height: $typography-lg-line-height;
    color: colour-var("font-base");
  }

  &__right-column {
    display: flex;
    flex-direction: column;
    min-width: 20%;

    > div {
      @media (min-width: $grid-breakpoint-large) {
        height: 1.8rem;
      }
    }

    .metadata-component__main-labels {
      @media (min-width: $grid-breakpoint-large) {
        display: inline-block;
        width: 4rem;
        margin: 0;
      }
    }

    p {
      @media (min-width: $grid-breakpoint-large) {
        display: inline-block;
        margin: 0;
        line-height: $typography-sm-line-height;
      }
    }
  }

  &__top-left-row {
    display: flex;
    flex-direction: row;
    gap: $space-4;
  }

  &__ncn {
    width: 33.33%;

    input {
      width: 100% !important;
    }
  }

  &__court {
    width: 33%;

    input {
      width: 100% !important;
    }

    @media (min-width: $grid-breakpoint-large) {
      width: 50%;
    }
  }

  &__date {
    width: 33%;

    input {
      width: 100% !important;
    }

    @media (min-width: $grid-breakpoint-large) {
      width: 16.67%;
    }
  }

  &__actions {
    width: 100%;
    height: auto !important;
    margin-top: auto;

    input {
      margin: 0;
    }
  }

  &__status {
    margin-bottom: $space-2;
    white-space: nowrap;

    p {
      border: 3px solid colour-var("background");
    }
  }

  &__more-options {
    margin-top: $space-8;
  }

  &__success {
    width: fit-content;
    padding: $space-2;
    background-color: brand-colour("forest");
  }

  &__error {
    width: fit-content;
    padding: $space-2;
    background-color: colour-var("form-error-border");
  }

  input[type="submit"] {
    @include call-to-action-button;

    width: 100%;
    min-height: 0.5rem;
    margin: 0;
  }

  &__court-input {
    $font-open-sans: "Open Sans", sans-serif;

    left: 2rem;

    box-sizing: border-box;
    width: 50%;
    min-height: 2rem;
    margin: 0;
    padding: $space-2;
    border: 2px solid colour-var("font-base");

    font-size: $typography-md-text-size;

    @include text-field;
  }

  &__judgment-date-input {
    width: 80%;
    min-height: 2rem;
    font-size: $typography-md-text-size;

    @media (min-width: $grid-breakpoint-small) {
      width: 4rem;
    }

    @media (min-width: $grid-breakpoint-medium) {
      width: 2rem;
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      width: 2rem;
    }
  }

  &__metadata-name-input {
    @include text-field;

    resize: none;

    box-sizing: border-box;
    width: 100%;
    height: calc(100% - $space-4 - 8px);
    margin-top: 0;

    font-size: $typography-md-text-size;
  }

  input[type="text"] {
    $font-open-sans: "Open Sans", sans-serif;

    box-sizing: border-box;
    width: 95%;
    min-height: 2rem;
    margin: 0;
    padding: $space-2;
    border: 2px solid colour-var("font-base");

    font-size: $typography-md-text-size;

    @include text-field;
  }
}
