.note-form {
  &__label {
    display: block;
    margin-bottom: calc($spacer__unit / 4);
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: $color__dark-grey;
  }

  &__text-area {
    @include text_field;
    margin-top: 0;
    display: block;
    width: calc(100% - $spacer__unit);
    font-size: 1rem;
    line-height: 1.25rem;
    border: 2px solid $color__almost-black;
    box-sizing: border-box;
  }
}
