@mixin notification {
  padding: $space-3 $space-5;
  color: $color-white;
}

.page-notification {
  &--success {
    @include notification;

    background-color: $color-success;

    .container {
      display: flex;
      gap: $space-2;
      align-items: center;
    }
  }

  &--failure {
    @include notification;

    background-color: $color-failure;
  }

  &--info {
    @include notification;

    color: $color-almost-black;
    background-color: $color-information;

    a {
      color: $color-dark-blue;
    }
  }

  &--warning {
    @include notification;

    color: $color-almost-black;
    background-color: $color-yellow;

    a {
      color: $color-dark-blue;
    }
  }
}

.inline-notification {
  &--success {
    @include notification;

    background-color: $color-success;
  }

  &--info {
    @include notification;

    color: $color-almost-black;
    background-color: $color-information;
  }

  &--failure {
    @include notification;

    background-color: $color-failure;
  }
}

@mixin context-notification {
  @include notification;

  display: inline-block;
  animation: context-notification 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes context-notification {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.context-notification {
  &--success {
    @include context-notification;

    background-color: $color-success;
  }

  &--failure {
    @include context-notification;

    background-color: $color-failure;
  }
}
