@mixin notification {
  color: $color__white;
  padding: 0.5rem 1rem;
}

.page-notification__container {
  @include container;
  margin-top: calc(1.5 * $spacer__unit);
}

.page-notification {
  &--success {
    @include notification;
    background-color: $color__success;
  }

  &--failure {
    @include notification;
    background-color: $color__failure;
  }
}

.inline-notification {
  &--success {
    @include notification;
    background-color: $color__success;
  }

  &--info {
    @include notification;
    color: $color__almost-black;
    background-color: $color__information;
  }

  &--failure {
    @include notification;
    background-color: $color__failure;
  }
}

@mixin context-notification {
  @include notification;
  display: inline-block;
  animation: context-notification 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes context-notification {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.context-notification {
  &--success {
    @include context-notification;
    background-color: $color__success;
  }

  &--failure {
    @include context-notification;
    background-color: $color__failure;
  }
}
