.note-form {
    &__label {
        margin-bottom: 1rem;
    }

    &__text-area {
        @include text_field;
        display: block;
        width: 100%;
        font-size: 1rem;
        line-height: 1.25rem;
        border: 2px solid $color__almost-black;
    }
}
