@mixin notification {
  color: $color-white;
  padding: $space-2 $space-4;
}

.page-notification {
  &--success {
    @include notification;
    background-color: $color-success;
  }

  &--failure {
    @include notification;
    background-color: $color-failure;
  }

  &--info {
    @include notification;
    background-color: $color-information;
    color: $color-almost-black;
    a {
      color: $color-dark-blue;
    }
  }

  &--warning {
    @include notification;
    background-color: $color-yellow;
    color: $color-almost-black;
    a {
      color: $color-dark-blue;
    }
  }
}

.inline-notification {
  &--success {
    @include notification;
    background-color: $color-success;
  }

  &--info {
    @include notification;
    color: $color-almost-black;
    background-color: $color-information;
  }

  &--failure {
    @include notification;
    background-color: $color-failure;
  }
}

@mixin context-notification {
  @include notification;
  display: inline-block;
  animation: context-notification 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes context-notification {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.context-notification {
  &--success {
    @include context-notification;
    background-color: $color-success;
  }

  &--failure {
    @include context-notification;
    background-color: $color-failure;
  }
}
