.note-form {
  &__label {
    display: block;
    margin-bottom: $space-1;
    font-size: $typography-sm-text-size;
    line-height: 1.2rem;
    color: $color-dark-grey;
  }

  &__text-area {
    @include text_field;
    margin-top: 0;
    display: block;
    width: calc(100% - $space-4);
    font-size: $typography-md-text-size;
    line-height: 1.25rem;
    border: 2px solid $color-almost-black;
    box-sizing: border-box;
  }
}
