.pagination {
  margin-bottom: $space-8;
  background-color: $color-almost-black;

  h3 {
    @include sr-only;
  }

  &__list {
    display: flex;
    justify-content: start;

    min-height: 3.125rem;
    margin-bottom: 0;
    padding-left: 0;

    text-align: center;
    list-style-type: none;

    &-pages {
      padding: 0;

      ol {
        padding: 0;
        list-style-type: none;
      }
    }

    &-divider {
      display: inline-block;
      width: 2rem;
      color: colour-var("button-text");
    }

    &-item {
      display: inline-block;
      min-height: 3.125rem;

      &:first-child {
        margin-right: auto;
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }

  &__page {
    &-chevron-next,
    &-chevron-previous,
    &-link,
    &-link-current {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 3.125rem;
      height: 3.125rem;

      text-decoration: none;

      > span {
        @include sr-only;
      }
    }

    &-chevron-next,
    &-chevron-previous {
      height: 100%;

      background-color: $color-grey;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 40%;
    }

    &-chevron-next {
      background-image: url($fa-chevron-right);

      &:hover,
      &:focus {
        @include focus-default;

        background-color: $color-dark-grey;
        background-image: url($fa-chevron-right-white);
        outline-color: $color-highlight-blue;
        outline-offset: 0.125rem;
      }

      &:focus {
        box-shadow: -0.6rem 0 colour-var("button-text");
      }

      &--disabled {
        display: flex;
        justify-content: center;

        width: 3.125rem;
        height: 100%;

        background-color: $color-grey;
        background-image: url($fa-chevron-right-disabled);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;

        &:hover,
        &:focus {
          background-image: url($fa-chevron-right-disabled);
          outline-color: transparent;
          outline-offset: 0;
        }

        span {
          @include sr-only;
        }
      }
    }

    &-chevron-previous {
      background-image: url($fa-chevron-left);

      &:hover,
      &:focus {
        @include focus-default;

        background-color: $color-dark-grey;
        background-image: url($fa-chevron-left-white);
        outline-color: $color-highlight-blue;
        outline-offset: 0.125rem;
      }

      &:focus {
        box-shadow: 0.6rem 0 colour-var("contrast-link");
      }

      &--disabled {
        display: flex;
        justify-content: center;

        width: 3.125rem;
        height: 100%;

        background-color: $color-grey;
        background-image: url($fa-chevron-left-disabled);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;

        &:hover,
        &:focus {
          background-image: url($fa-chevron-left-disabled);
          outline-color: transparent;
          outline-offset: 0;
        }

        span {
          @include sr-only;
        }
      }
    }

    &-link-current {
      font-weight: $typography-bold-font-weight;
    }

    &-link,
    &-link-current {
      margin-top: 0;

      @media only screen and (min-width: $grid-breakpoint-medium) {
        width: 2.5rem;
        height: 1.875rem;
        margin-top: $space-2;
      }
    }

    &-link,
    &-link:visited {
      color: colour-var("contrast-link");
    }

    &-link-current,
    &-link-current:focus,
    &-link-current:visited,
    &-link:hover,
    &-link:focus {
      font-weight: $typography-bold-font-weight;
      color: colour-var("accent-link");
      background-color: colour-var("contrast-button-background");
      outline-color: colour-var("link");
    }
  }
}
