.publish-component {
  background-color: $color__white;
  padding: calc(#{$spacer__unit} * 2);
  border-bottom: 1px solid $color__almost-black;
  &__container {
    @include container;
    text-align: left;
    padding: 1rem;
  }
  &__page-header {
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin-left: 6rem;
    margin-bottom: 0;
    font-family: $font__roboto;
    font-weight: 200;
    color: $color__almost-black;
  }
  &__header {
    font-size: 1.2rem;
    line-height: 2.8rem;
    display: inline-block;
    margin-left: 6rem;
    position: relative;
    font-family: $font__roboto;
    font-weight: normal;
    color: $color__almost-black;
  }
  &__panel {
    margin-left: 6rem;
    padding: calc(#{$spacer__unit} / 2) 0;
  }
  input[type=submit] {
    @include call-to-action-button;
    display: inline-block;
    position: relative;
    margin-left: 6rem;
    padding-left: calc(#{$spacer__unit} * 3);
    padding-right: calc(#{$spacer__unit} * 3);
  }
  span {
    font-weight: bold;
  }
  &__metadata_name-input {
    @include text_field;
    width: 80%;
    min-height: calc(#{$spacer__unit} * 3);
    font-size: 1.2rem;
    @media (min-width: $grid__breakpoint-small) {
      width: 20rem;
    }
    @media (min-width: $grid__breakpoint-medium) {
      width: 25rem;
    }
    @media (min-width: $grid__breakpoint-extra-large) {
      width: 35rem;
    }
  }

  input[type=checkbox] {
   transform: scale(2);
  }
   label {
    display: inline-block;
    position: relative;
    left: 2rem;
  }
}
.publish-sidebar {
  float:right;
  position: relative;
  right: 0;
  top: 2rem;
  width: 20vw;

  &__block {

    margin-bottom: 2rem;

    h4 {
      margin-bottom: 0.6rem;
    }

    a {
      display: block;
    }

    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
      margin-top: 0.4rem;
    }

  }

}
.create-email-block {
  border: 2px #FFB952 solid;
  display: inline-block;
  padding: 0px 10px 0px 0;
  margin-left: 15%;
  &__list-header {
    padding-left: 10px;
    margin: 10px 0;
  }
  &__list {
    list-style: none;
    padding-left: 10px;
    margin: 5px 0;
  }
  &__list-link {
    padding-bottom: 10px;
  }
}
.edit-component__actions {
  display: inline-block;
  width: auto;
  padding: calc(#{$spacer__unit} / 2) 0;
}
@media (max-width: 800px) {
  .edit-component__actions {
    display: block;
  }
  .create-email-block {
    margin: 20px 0;
  }
}
