.results-search-component {
  margin: 0 0 $space-12;
  padding: $space-6 0 $space-8;
  background-color: $color-light-grey;

  &__container {
    @include container;

    text-align: center;
  }

  &__header {
    display: inline-block;

    margin: 0;

    font-family: $font-roboto;
    font-size: $typography-xl-text-size;
    font-weight: $typography-normal-font-weight;
    line-height: $typography-xl-line-height;
    color: colour-var("font-dark");
  }

  &__sub-header {
    display: inline-block;

    margin: 0 $space-6;

    font-family: $font-roboto;
    font-size: $typography-md-text-size;
    font-weight: $typography-normal-font-weight;
    line-height: $typography-3xl-line-height;
    color: colour-var("font-dark");

    &--sr-only {
      @include sr-only;
    }
  }

  &__full-text-panel {
    margin: $space-2 0 0;

    @media (min-width: $grid-breakpoint-medium) {
      padding: $space-1 $space-4;
    }
  }

  &__full-text-label {
    @include sr-only;
  }

  &__full-text-input {
    @include text-field;

    width: 90%;
    min-height: $space-12;

    @media (min-width: $grid-breakpoint-medium) {
      width: 27rem;
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      width: 35rem;
    }
  }

  &__search-submit-button {
    @include call-to-action-button;

    padding-right: $space-12;
    padding-left: $space-12;
  }

  &__facet-outer-container {
    margin: $space-8 0;
    padding: $space-4 $space-12;
    text-align: center;
  }

  &__facet-inner-container {
    margin: 0 0 $space-8;
    text-align: left;

    @media (min-width: $grid-breakpoint-medium) {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: $space-4;
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__fieldset {
    margin: $space-1;
    padding: $space-8;

    color: colour-var("font-dark");

    background: $color-yellow;
    border: 0;
  }

  &__legend {
    float: left;

    width: 100%;
    margin: 0 0 $space-2;
    padding: $space-4;

    font-family: $font-roboto;
    font-size: $typography-lg-text-size;
    text-align: center;
  }

  &__multi-fields-panel {
    margin-top: $space-4;
    margin-bottom: $space-4;
  }

  &__name-label {
    display: block;
  }

  &__name-input {
    @include text-field;

    width: 18rem;
  }

  &__limit-to-label {
    display: block;
  }

  &__limit-to-input {
    @include text-field;
  }

  &__select {
    @include select;
  }

  &__date-input {
    @include text-field;

    margin-top: 0;
    padding: $space-2;
  }

  &__filter-submit-button {
    @include call-to-action-button;

    margin: 0 auto;
  }

  &__name-container {
    margin-bottom: $space-4;
    padding: 0 $space-4;
    border-left-width: 0.375rem;
  }

  &__limit-to-container {
    margin-bottom: $space-4;
    padding: 0 $space-4;
    border-left-width: 0.375rem;
  }

  &__removable-options {
    display: inline-block;
    padding: 0;
    font-size: $typography-sm-text-size;
    list-style-type: none;

    li {
      display: inline-block;

      margin: $space-1 $space-2;
      padding: 0 $space-3 0 $space-4;

      font-size: $typography-sm-text-size;

      background: $color-yellow;
    }
  }

  &__removable-options-key {
    display: inline-block;
    font-weight: $typography-bold-font-weight;
  }

  &__removable-options-value {
    display: inline-block;
  }

  &__removable-options-value-text {
    padding: 0 $space-3 0 $space-2;
  }

  &__removable-options-link {
    display: inline-block;

    padding: $space-2;

    font-size: $typography-sm-text-size;
    color: colour-var("font-dark");
    text-decoration: none;

    &::after {
      content: "x";
      font-size: $typography-md-text-size;
    }

    &:hover {
      color: colour-var("accent-button-text");
      background: colour-var("accent-button-background");
    }
  }

  &__removable-options-sr-only {
    @include sr-only;
  }

  &__toggle-control {
    position: relative;

    display: block;

    margin: $space-6 auto 0;
    padding: $space-2 0;

    font-size: $typography-md-text-size;
    font-weight: $typography-bold-font-weight;

    background-color: transparent;
    border: none;
    border-bottom: 0.125rem solid $color-yellow;

    &::after {
      @media (min-width: $grid-breakpoint-medium) {
        content: "";

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0.5rem;
        transform: rotate(313deg);

        display: block;

        width: 0.438rem;
        height: 0.438rem;
        margin: auto 0;

        border: solid;
        border-color: $color-dark-grey;
        border-width: 0.125rem 0.125rem 0 0;
      }
    }

    &:focus {
      @include focus-default;

      text-decoration: underline;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &.collapsed {
      &::after {
        top: 0;
        transform: rotate(135deg);
      }
    }

    @media (min-width: $grid-breakpoint-medium) {
      padding-right: $space-4;
      padding-left: $space-8;
    }
  }
}
