@use "sass:color";

.results {
  min-height: 60rem;

  h1 {
    @include sr-only;
  }

  &__container {
    @include container;
  }

  &__list-layout-container {
    @media (min-width: $grid-breakpoint-medium) {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 3fr 1fr;
      gap: $space-4;
    }
  }

  &__result-controls-container {
    @media (min-width: $grid-breakpoint-medium) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &__result-list-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: colour-var("background");

    h2 {
      @include sr-only;
    }
  }

  &__results-intro {
    margin: 0 0 $space-5;
    font-family: $font-roboto;
    font-size: $typography-xl-text-size;
  }

  &__filter-heading {
    @include sr-only;
  }

  &__results-list {
    padding: 0;
    list-style-type: none;

    li {
      padding: $space-8 $space-8 $space-8 0;
      border-bottom: 0.125rem solid colour-var("accent-border");
    }
  }

  &__result-title {
    font-family: $font-roboto;
    font-size: $typography-lg-text-size;
  }

  &__result-term-sr {
    @include sr-only;
  }

  &__result-neutral-citation {
    margin-top: $space-2;
  }

  &__result-terms {
    margin: 0;
  }

  dd {
    margin-left: 0;
  }

  mark {
    background-color: color-mix(in hsl, colour-var("accent-brand") 80%, white);
  }

  &__result-term-matching {
    margin: $space-4 0 $space-2 0;
    font-size: $typography-sm-text-size;
    color: colour-var("font-base");
  }

  fieldset {
    padding: 0;
    border: none;
  }

  legend {
    font-size: $typography-lg-text-size;
    font-weight: $typography-bold-font-weight;
  }

  &__container-extend-search-option {
    margin: $space-4 0;
    padding: $space-4 $space-8;
    background-color: colour-var("accent-background-light");
  }

  &__result-failed {
    color: red;
  }
}
