.search-component {
  background-color: $color-light-grey;

  &__container {
    @include container;
    text-align: center;
    padding: $space-8;
  }

  &__header {
    font-size: $typography-md-text-size;
    line-height: 2.8rem;
    display: inline-block;
    font-family: $font-roboto;
    font-weight: normal;
    color: $color-almost-black;
    margin: 0 $space-6;

    &--sr-only {
      @include sr-only;
    }
  }

  &__more-options {
    margin-top: $space-8;
  }

  input[type="submit"] {
    @include call-to-action-button;
    padding-left: $space-12;
    padding-right: $space-12;
  }

  &__search-term-label {
    @include sr-only;
  }

  &__search-term-input {
    @include text_field;
    width: 80%;
    margin-top: $space-4;
    min-height: $space-12;
    font-size: $typography-lg-text-size;

    @media (min-width: $grid-breakpoint-small) {
      width: 20rem;
    }

    @media (min-width: $grid-breakpoint-medium) {
      width: 25rem;
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      width: 35rem;
    }
  }

  form {
    max-width: 47rem;
    display: flex;
    gap: $space-4;
    margin: 0 auto;
  }

  input[type="checkbox"] {
    &:focus {
      @include focus-default;
    }
  }
}
