.standard-text-template {
  @include container;

  min-height: 40rem;
  margin-top: $space-20;
  margin-bottom: $space-32;

  h1,
  h2,
  h3 {
    font-family: $font-roboto;
    font-weight: $typography-normal-font-weight;
  }

  h1 {
    margin: 0 0 $space-8;
    font-size: $typography-2xl-text-size;
  }

  h2 {
    margin: 0 0 $space-5;
    padding: $space-8 0 0;
    font-size: $typography-xl-text-size;
  }

  h3 {
    margin: 0 0 $space-5;
    padding: $space-5 0 0;
    font-size: $typography-lg-text-size;
  }

  p {
    margin: 0 0 $space-6;
  }
}
