.standard-text-template {
  @include container;
  margin-top: calc($space-4 * 5);
  margin-bottom: calc($space-4 * 8);
  min-height: 40rem;

  h1,
  h2,
  h3 {
    font-family: $font-roboto;
    font-weight: normal;
  }

  h1 {
    font-size: $typography-2xl-text-size;
    margin: 0 0 $space-8;
  }

  h2 {
    font-size: $typography-xl-text-size;
    margin: 0 0 $space-5;
    padding: $space-8 0 0;
  }

  h3 {
    font-size: $typography-lg-text-size;
    margin: 0 0 $space-5;
    padding: $space-5 0 0;
  }

  p {
    margin: 0 0 $space-6;
  }
}
