.structured-search {
  &__main-search {
    background-color: $color-light-grey;
    padding: $space-6 0 $space-8;
    margin: 0 0 $space-12;
    text-align: center;
  }

  &__main-search-header {
    font-size: $typography-2xl-text-size;
    line-height: $typography-xs-line-height;
    display: inline-block;
    font-family: $font-roboto;
    font-weight: $typography-normal-font-weight;
    color: $color-almost-black;
    margin: $space-12 0 0 0;
  }

  &__container {
    @include container;
  }

  &__full-text-panel {
    margin-top: $space-4;
    margin-bottom: $space-4;
    @media (min-width: $grid-breakpoint-medium) {
      padding: $space-6 $space-8;
    }
  }

  &__full-text-label {
    @include sr-only;
  }

  &__full-text-input {
    @include text_field;
    width: 70%;

    @media (min-width: $grid-breakpoint-medium) {
      width: 70%;
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      width: 70%;
    }
  }

  &__filter-options {
    legend {
      font-family: $font-roboto;
      font-size: $typography-lg-text-size;
      font-weight: $typography-normal-font-weight;
    }
  }

  &__name-label {
    font-size: $typography-md-text-size;
  }

  &__name-input {
    @include text_field;
    width: 70%;
  }

  &__limit-to-label {
    display: block;
    margin-bottom: $space-2;
    font-size: $typography-md-text-size;
  }

  &__limit-to-input {
    @include text_field;
  }

  &__multi-fields-panel {
    padding-top: $space-4;
    margin-top: $space-4;
    margin-bottom: $space-4;

    @media (min-width: $grid-breakpoint-medium) {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: $space-4;
    }
  }

  &__name-container {
    background-color: $color-yellow;
    padding: $space-8 $space-12;
    margin-bottom: $space-4;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__limit-to-container {
    background-color: $color-yellow;
    padding: $space-8 $space-12;
    margin-bottom: $space-4;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__submit-container {
    margin-bottom: $space-12;
  }

  &__help-text {
    margin-bottom: $space-2;
  }

  &__select {
    @include select;
  }

  &__date-input {
    @include text_field;
  }

  fieldset {
    border: none;
    padding: 0;
    margin-top: $space-4;
  }

  input[type="submit"] {
    @include call-to-action-button;
    padding-right: $space-12;
    padding-left: $space-12;
  }

  input[type="checkbox"] {
    @include checkbox;
  }
}
