.style-guide {
  max-width: 1024px;
  margin: 0 auto;
  padding: $space-4 0;

  &__container {
    display: flex;
    gap: $space-4;
  }

  &__menu {
    flex: 33%;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      a:visited {
        color: colour-var("link");
      }
    }
  }

  &__content {
    flex: 77%;
    max-width: 77%;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }

  hr {
    height: 1rem;
    margin: $space-12 0;
    border: none;
    background-color: colour-var("accent-background-light");
  }

  &__spacing-container {
    margin-bottom: $space-4;
    background: brand-colour("pastel-pink");
  }

  &__spacing-item {
    text-align: center;
    background: colour-var("background");
  }

  &__line-heights {
    display: flex;
    flex-direction: column;
    gap: $space-4;

    > div {
      border: 1px solid colour-var("accent-border");
    }
  }

  &__component-wrapper--large {
    overflow: scroll;

    > * {
      width: 1200px;
    }
  }
}
