.summary-panel {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 391px;
  height: 139px;

  font-size: $typography-lg-text-size;
  text-align: center;

  background-color: #f2f2f2;
  border: none;
  border-width: 0;
  border-radius: 10px;

  &:hover {
    background-color: #d7d7d7;
    transition: 0.2s;
  }

  &:active {
    background-color: #ffb952;
  }

  &__number {
    font-size: $typography-2xl-text-size;
    text-align: left;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: $typography-lg-text-size;
    text-align: center;
  }

  @media screen and (device-width <= 480px) {
    width: 266px;
    height: 95px;
  }
}
