.tabs-set {
  margin: 1.5rem auto 0.5rem;
  text-align: center;

  &__item {
    display: inline-block;
    margin: auto .25rem;

    label {
      background: $color__dark-blue;
      padding: .25rem 2rem;
      border: 2px solid $color__dark-blue;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      cursor: pointer;
      color: $color__white;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 1rem;

      a {
        text-decoration: none;
      }
    }

    input[type=radio] {
      display: none;
    }

    input[type=radio]:checked~label {
      background: $color__white;
      border-bottom: 2px solid white;
      color: $color__dark-blue;
    }

  }

  &__divider {
    border-top: solid 2px $color__dark-blue;
    margin: 4px;
  }
}
