.tabs-set {
  margin: 1.5rem auto 0.5rem;
  text-align: center;

  &__item {
    display: inline-block;
    margin: 0 0.25rem;

    label {
      background: $color-aqua-blue;
      padding-top: 0.75rem;
      border: 2px solid $color-aqua-blue;
      border-bottom: none;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: $color-white;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 1rem;
      a {
        padding: 0.75rem 2rem 0 2rem;
        position: relative;
        top: -0.33rem;
        display: inline-block;
        text-decoration: none;
        color: $color-white;
        &:focus {
          outline-offset: 5px;
        }
      }

      &:hover {
        background: $color-dark-blue;
        border-color: $color-dark-blue;
      }
    }

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked ~ label {
      border-bottom: 2px solid $color-white;
      background: $color-white;
      a {
        color: $color-aqua-blue;
        cursor: default;
      }
    }
  }

  &__divider {
    border-top: solid 2px $color-aqua-blue;
  }
}
