.table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    padding: $spacer__unit * 0.5 $spacer__unit * 0.75;
    border: 1px solid $color__dark-grey;
  }

  thead {
    text-align: left;
  }
}
