.tabs-set {
  width: 100%;
  margin: auto;
  padding: $space-6 0 0;
  text-align: center;

  &.tabs-set--primary {
    input[type="radio"]:checked ~ label {
      background: $color-light-grey;
      border-bottom-color: $color-light-grey;
    }
  }

  &__item {
    display: inline-block;
    margin: 0 $space-1;

    label {
      padding-top: $space-3;

      font-family: "Open Sans", sans-serif;
      font-size: $typography-md-text-size;
      font-weight: $typography-bold-font-weight;
      color: $color-white;

      background: $color-aqua-blue;
      border: 2px solid $color-aqua-blue;
      border-bottom: none;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      a {
        position: relative;
        top: -0.33rem;

        display: inline-block;

        padding: $space-3 $space-8 0 $space-8;

        color: $color-white;
        text-decoration: none;

        &:focus {
          outline-offset: 5px;
        }
      }

      &:hover {
        background: $color-dark-blue;
        border-color: $color-dark-blue;
      }
    }

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:disabled ~ label {
      pointer-events: none;
      opacity: 0.4;
    }

    input[type="radio"]:checked ~ label {
      background: $color-white;
      border-bottom: 2px solid $color-white;

      a {
        cursor: default;
        color: $color-aqua-blue;
      }
    }
  }

  &__divider {
    border-top: solid 2px $color-aqua-blue;
  }
}
