a {
  color: $color-link-blue;
  text-decoration: underline;

  &:hover {
    color: $color-link-blue-hover;
    text-decoration: none;
  }

  &:visited {
    color: $color-link-blue-visited;
  }

  &:active {
    color: $color-link-blue-active;
  }

  &:focus {
    @include focus-default;
  }
}

.muted {
  color: $color-dark-grey;
}

.display-font-family {
  font-family: $typography-display-font-family;
}

.xs-text-size {
  font-size: $typography-xs-text-size;
}

.sm-text-size {
  font-size: $typography-sm-text-size;
}

.md-text-size {
  font-size: $typography-md-text-size;
}

.lg-text-size {
  font-size: $typography-lg-text-size;
}

.xl-text-size {
  font-size: $typography-xl-text-size;
}

.xl2-text-size {
  font-size: $typography-2xl-text-size;
}

.xs-line-height {
  line-height: $typography-xs-line-height;
}

.sm-line-height {
  line-height: $typography-sm-line-height;
}

.md-line-height {
  line-height: $typography-md-line-height;
}

.lg-line-height {
  line-height: $typography-lg-line-height;
}

.xl-line-height {
  line-height: $typography-xl-line-height;
}

.xl2-line-height {
  line-height: $typography-2xl-line-height;
}

.xl3-line-height {
  line-height: $typography-3xl-line-height;
}
