a {
  color: $color-link-blue;
  text-decoration: underline;

  &:hover {
    color: $color-link-blue-hover;
    text-decoration: none;
  }

  &:visited {
    color: $color-link-blue-visited;
  }

  &:active {
    color: $color-link-blue-active;
  }

  &:focus {
    @include focus-default;
  }
}

.muted {
  color: $color-dark-grey;
}
