.unpublished-judgments {

  &__unpublished-judgments-controls-container {
    margin-bottom: calc(2 * $spacer__unit);
  }

  &__container {
    @include container;
    padding: calc($spacer__unit * 4) 0;
  }

  &__header {
    font-family: $font__roboto;
    font-weight: normal;
    font-size: 1.8rem;
    margin: 0 0 calc($spacer__unit);
  }

  &__table-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding:  $spacer__unit calc($spacer__unit / 2);
    flex-grow:0;
    width: 100%;
    border-bottom: 1px solid black;
  }

  &__table-header-details {
    flex-basis: 100%;
    @media (min-width: $grid__breakpoint-medium) {
      flex-basis: 66%;
    }
    @media (min-width: $grid__breakpoint-extra-large) {
      flex-basis: 50%;
    }
  }

  &__table-header-submitted {
    flex-basis: 25%;
    display: none;
    @media (min-width: $grid__breakpoint-medium) {
      display: block;
    }
  }

  &__list {
    padding: 0;
    list-style-type: none;
    margin-top: 0;
  }

  &__judgment {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    width: 100%;
    box-sizing: border-box;
    padding: $spacer__unit calc($spacer__unit / 2);
    border-bottom: 1px solid $color__dark-grey;
    &:last-child {
      border-bottom: none;
    }
  }

  &__judgment-details {
    flex-basis: 100%;
    @media (min-width: $grid__breakpoint-medium) {
      flex-basis: 66%;
      padding-right: calc($spacer__unit /2);
    }
    @media (min-width: $grid__breakpoint-extra-large) {
      flex-basis: 50%;
      padding-right: calc($spacer__unit / 2);
    }
  }

  &__judgment-submitted {
    flex-basis: 25%;
    display: none;
    @media (min-width: $grid__breakpoint-medium) {
      display: block;
    }
  }

  &__judgment-details-submitted-mobile {
    @media(min-width: $grid__breakpoint-medium) {
      display: none;
    }
  }

  &__judgment-details-meta {
    list-style-type: none;
    padding: 0;
    float: left;
    width: 100%;
    @media (min-width: $grid__breakpoint-large) {
      width: 80%;
    }
    @media (min-width: $grid__breakpoint-extra-large) {
      width: 70%;
    }
    margin-top: 1em;
    font-size: 0.8em;
    li {
      float: left;
      width: 100%;
      @media (min-width: $grid__breakpoint-medium) {
        width: 50%;
      }
      box-sizing: border-box;
      span:nth-child(odd) {
        float: left;
        width: 33%;
      }
      span:nth-child(even) {
        float: left;
        width: 66%;
      }
    }
  }

  &__judgment-details-meta-key {
    color: $color__dark-grey;
  }

}
