@import "../../../node_modules/@nationalarchives/ds-caselaw-frontend/src/includes/variables/colours";

// EUI-specific colours
$colour-in-progress: #dbd5e9;
$colour-on-hold: #fcd6c3;
$colour-published: #bfe3e0;
$colour-in-progress-text: #3d2375;
$colour-on-hold-text: #942514;
$colour-published-text: #10403c;
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 0.75rem;
$space-4: 1rem;
$space-5: 1.25rem;
$space-6: 1.5rem;
$space-7: 1.75rem;
$space-8: 2rem;
$space-9: 2.25rem;
$space-10: 2.5rem;
$space-12: 3rem;
$space-16: 4rem;
$space-20: 5rem;
$space-24: 6rem;
$space-28: 7rem;
$space-32: 8rem;
$gutter_unit: 25px;
$grid-breakpoint-small: 576px;
$grid-breakpoint-medium: 768px;
$grid-breakpoint-large: 992px;
$grid-breakpoint-extra-large: 1200px;
$font-roboto: "Roboto", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$font-serif: serif;
$typography-display-font-family: $font-roboto;
$typography-body-font-family: $font-open-sans;
$typography-xs-text-size: 0.7rem;
$typography-sm-text-size: 0.9rem;
$typography-md-text-size: 1.1rem;
$typography-lg-text-size: 1.3rem;
$typography-xl-text-size: 2rem;
$typography-2xl-text-size: 2.4rem;
$typography-xs-line-height: 0.8;
$typography-sm-line-height: 1;
$typography-md-line-height: 1.2;
$typography-lg-line-height: 1.5;
$typography-xl-line-height: 1.8;
$typography-2xl-line-height: 2;
$typography-3xl-line-height: 2.6;
$typography-normal-font-weight: 400;
$typography-bold-font-weight: 700;

// Paths
$fa_path: "/static/fontawesome-svgs/";

// Images
$fa_arrow_up_right_square: "#{$fa_path}arrow-up-right-square.svg";
$fa_circle_check: "#{$fa_path}circle-check.svg";
$fa_circle_info: "#{$fa_path}circle-info.svg";
$fa_chevron_right: "#{$fa_path}chevron-right.svg";
$fa_chevron_right_white: "#{$fa_path}chevron-right-white.svg";
$fa_chevron_right_disabled: "#{$fa_path}chevron-right-disabled.svg";
$fa_chevron_left: "#{$fa_path}chevron-left.svg";
$fa_chevron_left_white: "#{$fa_path}chevron-left-white.svg";
$fa_chevron_left_disabled: "#{$fa_path}chevron-left-disabled.svg";
$fa_download: "#{$fa_path}download.svg";
$fa_chevron_up_aqua_blue: "#{$fa_path}chevron-up-aqua-blue.svg";
$fa_chevron_up_link_blue: "#{$fa_path}chevron-up-link-blue.svg";
$fa_chevron_up_link_hover_blue: "#{$fa_path}chevron-up-link-hover-blue.svg";
$fa_chevron_down_link_blue: "#{$fa_path}chevron-down-link-blue.svg";
$fa_chevron_down_link_hover_blue: "#{$fa_path}chevron-down-link-hover-blue.svg";
$fa_triangle_exclamation: "#{$fa_path}triangle-exclamation.svg";

// GOVUK Frontend colours

$govuk-green: #00703c;
$govuk-blue: #1d70b8;
$govuk-red: #d4351c;
