@import "../../../node_modules/@nationalarchives/ds-caselaw-frontend/src/includes/variables/colours";

// EUI-specific colours
$colour-in-progress: #dbd5e9;
$colour-on-hold: #fcd6c3;
$colour-published: #bfe3e0;
$colour-in-progress-text: #3d2375;
$colour-on-hold-text: #942514;
$colour-published-text: #10403c;

$spacer-unit: 1rem;

$gutter_unit: 25px;

$grid-breakpoint-small: 576px;
$grid-breakpoint-medium: 768px;
$grid-breakpoint-large: 992px;
$grid-breakpoint-extra-large: 1200px;

$font-roboto: "Roboto", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$font-serif: serif;

// Paths
$fa_path: "/static/fontawesome-svgs/";

// Images
$fa_chevron_right: "#{$fa_path}chevron-right.svg";
$fa_chevron_right_white: "#{$fa_path}chevron-right-white.svg";
$fa_chevron_right_disabled: "#{$fa_path}chevron-right-disabled.svg";
$fa_chevron_left: "#{$fa_path}chevron-left.svg";
$fa_chevron_left_white: "#{$fa_path}chevron-left-white.svg";
$fa_chevron_left_disabled: "#{$fa_path}chevron-left-disabled.svg";
$fa_download: "#{$fa_path}download.svg";
$fa_chevron_up_aqua_blue: "#{$fa_path}chevron-up-aqua-blue.svg";
$fa_chevron_up_link_blue: "#{$fa_path}chevron-up-link-blue.svg";
$fa_chevron_up_link_hover_blue: "#{$fa_path}chevron-up-link-hover-blue.svg";
$fa_chevron_down_link_blue: "#{$fa_path}chevron-down-link-blue.svg";
$fa_chevron_down_link_hover_blue: "#{$fa_path}chevron-down-link-hover-blue.svg";
