{% extends "layouts/base.jinja" %}
{% from "components/heading.jinja" import heading %}
{% from "metrics/filters.jinja" import metrics_filters %}
{% from "metrics/summary.jinja" import metrics_summary %}
{% from "metrics/lifecycle_metrics_table.jinja" import lifecycle_metrics_table %}
{% from "metrics/submission_metrics_table.jinja" import submission_metrics_table %}
{% from "metrics/court_metrics_table.jinja" import court_metrics_table %}
{% block content %}
  <div class="metrics">
    {{ heading(content="Metrics", size="h1") }}
    {{ metrics_filters(form=filter_form, court_options=court_options, tribunal_options=tribunal_options, selected_filters=selected_court_filters) }}
    {{ metrics_summary(metrics=summary_metrics) }}
    {% for item in lifecycle_metrics %}
      {{ lifecycle_metrics_table(metrics=item) }}
    {% endfor %}
    {% for item in submission_metrics %}
      {{ submission_metrics_table(metrics=item) }}
    {% endfor %}
    {{ court_metrics_table(metrics=cases_by_court) }}
  </div>
{% endblock content %}
