{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block head_title %}
      {% endblock head_title %}
    </title>
    <link rel="icon" href="{% static 'images/favicons/favicon.png' %}" />
    {% block extra_head %}
    {% endblock extra_head %}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;family=Roboto:wght@400;600;700&amp;family=Roboto+Mono:wght@400;600;700&amp;display=swap"
          rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
  </head>
  <body>
    <header class="page-header">
      <div class="page-header__breadcrumbs page-header__navbar">
        <nav class="page-header__breadcrumbs-container" aria-label="Breadcrumb">
          <span class="page-header__breadcrumbs-you-are-in">You are in:</span>
          <ol>
            <li>
              <a href="{% url 'home' %}">Find and manage case law</a>
            </li>
          </ol>
        </nav>
      </div>
    </header>
    {% block body %}
      {% if messages %}
        <div>
          <strong>{% trans "Messages:" %}</strong>
          <ul>
            {% for message in messages %}<li>{{ message }}</li>{% endfor %}
          </ul>
        </div>
      {% endif %}
      <main id="main-content">
        <div class="container">
          {% block content %}
          {% endblock content %}
        </div>
      </main>
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}
  </body>
</html>
